@import '../../src/fonts';
@import '../../src/variables';
@import '../../src/mixins';

.content {
  padding: 4rem 0;
  .container {
    //padding-top: $header-height;
  }

  p {
    margin: 0 0 1.25rem;
  }

  h4 {
    margin: 2rem 0 0;
   // @include FontBoldCn();
  }

  a {
  //  color: $primary;
  }

}