@import '../../src/fonts';
@import '../../src/variables';
@import '../../src/mixins';
@import '../../src/form';
@import '../../src/hero';
@import '../../src/grid';
@import '../../partials/form-panel';



$dir: 'about';
$img-path: $base-img-path + $dir;


.hero {
  @include bgImage($img-path, 'hero.jpg');
}

.content-black {
  padding: $section-padding-lg 0;
  img {
    margin-top: 4rem;
  }
}

.top {
  img {
    max-width: 100%;
  }
}

.grid {
  .grid-col:nth-of-type(2) {
    border-left: $grid-border;
    border-right: $grid-border;
  }
  .grid-row {
    .grid-col {
      opacity: 0;
    }
  }
}


.grid.animate-in {
  .grid-row {
    .grid-col {
      opacity: 1;
      @include loopedElementAnimation(3, .15s, .24s, ease-in, .36s, 'opacity, transform');
    }
  }
}

@include mq(xs) {
  .grid {
    .grid-col:nth-of-type(2) {
      border-left: none;
      border-right: none;
    }
    .grid-col {
      border-top: $grid-border;
      border-bottom: $grid-border;
    }
  }
}

