@import '../../src/fonts';
@import '../../src/variables';
@import '../../src/mixins';
@import '../../src/form';
@import '../../src/hero';
@import '../../partials/form-panel';



$dir: 'contact';
$img-path: $base-img-path + $dir;

@mixin eStewardsCenter() {
  right: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
}


.hero {
  @include bgImage($img-path, 'hero.jpg');
}

.information {
  padding: $section-padding 0;
  img.e-stewards {
    height: 56px;
    position: absolute;
    top: 4px;
    right: -90px;
  }
  .map {
    max-width: 375px;
    width: 100%;
    border: 2px solid $grey-lt;
    border-radius: 28px;
    box-shadow: 4px 4px 0 0 rgba($black, .21);
  }
  .map-link {
    display: block;
    img, h5 {
      @include transition();
    }
    &:hover {
      .map {
        box-shadow: 4px 4px 0 0 $blue;
      }
      h5 {
        color: $blue;
      }
    }
  }
  .information-col {
    padding-top: 2rem;
    padding-bottom: .5rem;
  }
  .border-left {
    border-left: 3px solid $grey-lt;
  }
  .padding-right {
    padding-right: 4rem;
  }
  .padding-left {
    padding-left: 4rem;
  }
  h4 {
    @include FontSemiBold();
    margin: 0 0 1.25rem;
  }
  h5 {
    @include FontLight();
    font-size: 1.25rem;
    margin: 1rem 0 0;
  }
  h6 {
    @include FontSemiBold();
    font-size: 1.125rem;
    margin-top: 1.65rem;
    margin-bottom: .5rem;
  }
  ul {
    @include FontLight();
    li {
      margin: .375rem 0;
    }
  }
  h4, ul {
    font-size: 1.375rem;
  }
  h4,h5,ul,a {
    color: $black;
  }
  a:hover {
    color: $blue;
  }
}

.cta {
  padding: $section-padding 0;
  background: $grey-dk;
  .buttons {
    margin-top: 2rem;
    .btn {
      margin: .875rem 0;
    }
  }
  p {
    line-height: 135%;
  }
}

.form {

  padding: $section-padding-lg 0;

  form {
    margin-top: 2rem;
  }

  .field-wrap {
    &:after {
      display: none;
    }
  }
  .btn {
    width: 300px;
    margin: 1rem auto 0;
  }
}

@media (min-width: 992px) and (max-width: 1380px) {
  .information {
    img.e-stewards {
      @include eStewardsCenter();
      top: -38px;
    }
  }
}

@include mqRange(md, lg) {
  .information {
    .padding-right {
      padding-right: 2.5rem;
    }
    .padding-left {
      padding-left: 2.5rem;
    }
  }
}

@include mq(md) {
  .information {
    .padding-left,
    .padding-right {
      padding-left: 0;
      padding-right: 0;
      border: none;
    }
    .space-md-top {
      margin-top: 2.5rem;
    }
  }
}

@include mqRange(sm, md) {
  .information {
    img.e-stewards {
      right: 0;
      top: -28px;
      height: 50px;
    }
    .map {
      max-width: 300px;
    }
  }
}

@include mq(sm) {
  .information {
    img.e-stewards {
      height: 42px;
      right: -55px;
    }
  }
}

@include mq(xs) {
  .information {
    img.e-stewards {
      right: 0;
    }
    .map-link {
      margin: .75rem 0;
    }
    .is-esteward {
      padding-top: 3.25rem;
    }
  }
}
