<section class="hero acc-height acc-padding" data-top-top="background-position: 50% 5%;" data-top-bottom="background-position: 50% 55%;">
    <div class="container full-height">
        <div class="row center v-center full-height">
            <div class="col align-center">
                <heading text="About The Company"></heading>
                <h1>E-Waste &amp; ITAD Solutions</h1>
            </div>
        </div>
    </div>
</section>
<section class="content content-black top" animate-in window-multiplier=".52">
    <div class="container">
        <div class="row center">
            <div class="col-29 col-md-38 col-sm-48 acc-full-width content-inner align-center">
                <h2 class="animate animate-opacity">Sustainable ITAD &amp; Electronics Waste Solutions For Every Industry</h2>
                <p class="animate animate-opacity">Greenchip benefits from over 20 years of responsible recycling and waste diversion.
                   We have two New York City headquarters that coordinate our operations nationally, as well as coordinate our
                   regional partners and suppliers across the globe. We’re a complete IT asset disposition provider, including
                   end of life electronics recycling, data destruction, brand protection, and return on investment on resale IT assets.</p>
                <p class="animate animate-opacity">Greenchip is dedicated to responsible recycling practices and efficient electronics
                   lifecycle management. We handle every step in the ITAD process so our partners can be certain the job will be
                   performed correctly. Our in-house refurbishing, demanufacturing and logistics allow us to have greater chain
                   of custody and reduce liability. With Greenchip, you can rest easy knowing your data is secure and you are
                   getting the best return on your investment with your electronics recycling needs.</p>
                <img class="animate animate-opacity" src="/img/about/devices.svg">
            </div>
        </div>
    </div>
</section>
<section class="grid" animate-in window-multiplier=".78">
    <div class="row grid-row wrap-xs">
        <div class="col-free grid-col">
            <img src="/img/about/grid-1.jpg" alt="">
        </div>
        <div class="col-free grid-col">
            <img src="/img/about/grid-2.jpg" alt="">
        </div>
        <div class="col-free grid-col">
            <img src="/img/about/grid-3.jpg" alt="">
        </div>
    </div>
</section>
