<section class="hero acc-height acc-padding">
    <div class="container full-height">
        <div class="row center v-center full-height">
            <div class="col-42 col-md-48 align-center">
                <heading text="Municipality Recycling Programs"></heading>
                <div class="row center">
                    <div class="col-40 col-md-50 acc-full-width align-center">
                        <h1>Trusted by State & Local Government</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content content-black top above-fixed-bar">
    <div class="container">
        <div class="row center" animate-in window-multiplier="1">
            <div class="col-40 col-sm-48 acc-full-width align-center content-inner">
                <h2 class="regular animate animate-opacity">Effective, Economical, Compliant Recycling Solutions</h2>
                <p class="animate animate-opacity">Greenchip specializes in state and local government electronics recycling programs.
                   Our programs include collection events, container service, DPWs, school systems, box programs and more. We work
                   directly with equipment manufacturers to subsidize our recycling costs. This allows us to use the best methods
                   of recycling and pass on our savings to provide an economical recycling solution.</p>
                <p class="animate animate-opacity">We eliminate all of your citizen’s data and guarantee that their electronics
                   won’t end up in a landfill. This prevents public damage to your reputation and costly fines or cleanup costs.
                   Have full confidence all electronic materials and components are recycled in accordance with state and federal
                   laws. All of which are backed by our R2V3, ISO 14001, and ISO 45001 certifications.</p>
                <img class="icon animate animate-opacity" src="/img/home/maximum-brand-protection.svg" alt="Municipality Recycling Programs">
            </div>
        </div>
    </div>
</section>
