[class*="userway-s4"] {
  .acc-height {
    height: auto !important;
    max-height: none !important;
  }

  .acc-margin {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }

  .acc-padding {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
  }

  .acc-clear-top {
    margin-top: 0 !important;
  }

  .phone-number {
    top: 32px !important;
  }

  .bucket {
    height: auto !important;
    @include flexbox-col(0, 1, 100%);
    width: 100% !important;
    padding: 2rem 0 !important;
    margin: 0 !important;
  }

  .section-number {
    p {
      width: 70px !important;
    }
  }

  .fixed-bar {
    position: relative !important;
    margin-top: 0 !important;

    .col {
      height: auto !important;
    }

    .inner {
      top: 0 !important;
      transform: none !important;
      -webkit-transform: none !important;
    }
  }

  .acc-hidden {
    display: none !important;
  }

  .acc-wrap {
    @include flexbox-wrap(wrap);
  }

  footer {
    ul {
      padding-left: .5rem !important;
      padding-right: .5rem !important;
    }
  }

  .acc-full-width {
    @include flexbox-col(0, 1, 100%);
    width: 100% !important;
    max-width: none !important;
  }

  body {
    overflow: auto !important;
  }
  .menu {
    width: 100% !important;
    overflow-y: auto !important;
    @include transform(translateX(120%));
  }
}

@include mq(md) {
  [class*="userway-s4"] {
    .section-number {
      margin-top: 16px !important;
      @include flexbox-col(0, 1, 100%);
    }
    .privacy-policy {
      .row {
        @include flexbox-wrap(wrap);
      }
    }
    .acc-wrap-md {
      @include flexbox-wrap(wrap);
    }
    .acc-full-width-md {
      @include flexbox-col(0, 1, 100%);
      width: 100% !important;
      max-width: none !important;
    }
    .acc-block-down-md {
      display: block !important;
    }
    .acc-hidden-down-md {
      display: none !important;
    }
    .accordions {
      .bucket-wrap {
        height: auto !important;
        padding: 2rem 0 !important;
        > div {
          height: auto !important;
        }
      }
    }
  }
}

@include mq(sm) {
  [class*="userway-s4"] {

    header {
      background: $black !important;
    }

    .hero {
      margin-top: 60px !important;
      padding-top: 5rem !important;
      padding-bottom: 3rem !important;
    }

    .mobile-nav {
      .button-wrap {
        display: none !important;
      }
    }
    .accordion.active {
      max-height: 5500px !important;
    }
    .acc-height-mobile {
      height: auto !important;
      padding: 2.5rem 0 !important;
    }
    .acc-mobile-width {
      max-width: 96% !important;
    }
    .acc-break-word, .hero {
      * {
        word-break: break-all !important;
      }

      ul li, p {
        margin: 0 0 1rem !important;
      }

    }
  }
}
