.box {
  margin: 3.5rem 0 0;
  border: 12px solid transparent;
  padding: 2rem 1.5rem 2rem 1.5rem;
  @include transition(border, .5s, ease-in);
  ul {
    li {
      opacity: 0;
      @include transform(translateY(20px));
    }
  }
  .heading {
    position: absolute;
    background: $white;
    padding: 0 .625rem;
    top: -1.5rem;
    left: 2.25rem;
    z-index: 2;
    h2 {
      line-height: 100%;
      opacity: 0;
      margin: 0;
      @include transition(opacity, .5s, ease-in, .4s);
    }
  }
  &.animate-in {
    border-color: $border-blue;
    h2 {
      opacity: 1;
    }
    ul {
      li {
        opacity: 1;
        @include transform(translateY(0));
        @include loopedElementAnimation(8, .11s, 1s, $bounceEasing, .75s, 'opacity, transform');
      }
    }
  }
}

@include mq(sm) {
  .box {
    .heading {
      top: -1.25rem;
    }
  }
}