.btn {
  display: block;
  text-align: center;
  border: none;
  border-radius: 12px;
  font-size: 1.125rem;
  padding: 1rem 0;
  cursor: pointer;
  position: relative;
  z-index: 2;
  box-shadow: 5px 5px 0 0 rgba($black, .21);
  @include transition();

  &-sm {
    font-size: 1rem;
    padding: .875rem 0;
  }

  &-bold {
    @include FontBold();
  }

  &-light {
    @include FontLight();
  }

  &-blue {
    color: $white;
    @include button-gradient($gradient-blue-top, $gradient-blue-bottom, darken($gradient-blue-top, 10), darken($gradient-blue-bottom, 10), 12px);
  }

  &-grey {
    color: $black;
    @include button-gradient($gradient-grey-top, $gradient-grey-bottom, $gradient-grey-top, $gradient-grey-bottom, 12px);
    &:hover {
      color: $blue;
    }
  }

}