.content {


  overflow: hidden;

  h1 {
    @include FontBold();
    font-size: 2.75rem;
    margin: 0 0 .75rem;
  }

  h2 {
    @include FontLight();
    font-size: 1.875rem;
    margin: 0 0 1.25rem;
    &.regular {
      @include FontRegular();
    }
    &.small {
      font-size: 1.5rem;
    }
  }

  h3 {
    font-size: 1.5rem;
    @include FontBold();
    margin: 0 0 .375rem;
  }

  h4 {
    font-size: 1.25rem;
    @include FontBold();
    margin: 0 0 1rem;
  }

  h1,h2,h3,h4,p {
    &.no-space {
      margin: 0;
    }
  }

  p {
    font-size: 1rem;
    @include FontRegular();
    line-height: 175%;
    margin: 0 0 1.5rem;
    &.large {
      font-size: 1.125rem;
    }
    &:last-of-type {
      margin: 0;
    }
  }

  .bold {
    @include FontBold();
  }

  .italic {
    font-style: italic;
  }

  .animate-opacity {
    opacity: 0;
  }

  .animate-left {
    opacity: 0;
    @include transform(translateX(50px));
  }

  .animate-right {
    opacity: 0;
    @include transform(translateX(-50px));
  }

}

.animate-in {
  .content-inner {
    .animate-opacity {
      opacity: 1;
      @include loopedElementAnimation(10, .25s, .12s, ease-in, .44s, 'opacity, transform');
    }
    .animate-left, .animate-right {
      opacity: 1;
      @include transform(translateX(0));
      @include loopedElementAnimation(10, .25s, .12s, $bounceEasing, .95s, 'opacity, transform');
    }

  }
}

.content-black {
  h2 {
    color: $green-dk;
    &.black {
      color: $black;
    }
  }
  ul.custom-dot {
    li {
      font-size: 1.125rem;
      @include FontBold();
      margin: 0 0 1rem;
      color: $black;
      @include customListStyle(8px, 2px, transparent, $green-dk, 1.75rem, .25rem);
    }
  }
}

.content-white {
  h1,h3,h4,p {
    color: $white;
  }
  h2 {
    color: $green;
  }
  ul.custom-dot {
    li {
      font-size: 1.125rem;
      @include FontBold();
      margin: 0 0 1rem;
      color: $white;
      @include customListStyle(8px, 2px, transparent, $green, 1.75rem, .25rem);
    }
  }
}

@include mq(sm) {
  .content {
    h1 {
      font-size: 2.125rem;
    }

    h2 {
      font-size: 1.5rem;
    }

    h3 {
      font-size: 1.25rem;
    }

  }
}
