h1,h2,h3,h4,h5,h6,p,ul,li {
  margin: 0;
  padding: 0;
}

html,body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

* {
  @include box-sizing(border-box);
  outline: none;
}

.relative {
  position: relative;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.toggle {
  cursor: pointer;
}

.container {
  width: $container-desktop;
  margin: 0 auto;
  position: relative;
}

.container-fluid {
  width: 100%;
  position: relative;
  > .row {
    padding: 0 2rem;
  }
}

a {
  text-decoration: none;
}

a:not(.button) {
  @include transition();
}

ul {
  list-style: none;
}

* {
  @include space($extra: 5rem);
}

.xs-space-top {
  margin-top: .625rem;
}

.xs-space-bottom {
  margin-bottom: .625rem;
}

.temp-hide {
  display: none !important;
}

@include mqRange(md, lg) {
  .container {
    width: $container-lg;
  }
  html {
    font-size: 15px;
  }
}

@include mqRange(sm, md) {
  html {
    font-size: 14px;
  }
}

@include mq(md) {
  .container {
    width: 100%;
  }
  .container, .container-fluid {
    > .row {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
  .align-md-center {
    text-align: center;
  }
  .col-md-free {
    @include flexbox-col(0, 1, auto);
  }
}

@include mq(xs) {
  .block-xs {
    display: block;
  }
}
