@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700');



@mixin FontLight {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

@mixin FontRegular {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

@mixin FontMedium {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
}

@mixin FontSemiBold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
}

@mixin FontBold {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  -webkit-font-smoothing: antialiased;
}