form {

  label {
    color: $grey;
    font-size: .75rem;
    display: block;
    margin: 0 0 .25rem;
    text-transform: uppercase;
    @include FontSemiBold();
  }

  input,textarea {
    @include formFields();
    border: 1px solid $grey;
  }

  textarea {
    height: auto;
    resize: none;
  }

  @include placeholder() {
    opacity: 1;
    color: $blue;
  }

  dropdown {
    .dropdown-display {
      height: auto;
      border-color: $grey;
      span {
        @include formFields();
        top: 0;
        @include clearTransform();
        &.placeholder {
          color: $blue;
        }
      }
      i {
        display: none;
      }
      &:after {
        content: '\f078';
        color: $grey;
        font-family: 'Font Awesome 5 Pro';
        position: absolute;
        top: 50%;
        @include transform(translateY(-50%));
        right: 1rem;
      }
    }
    .dropdown-list {
      top: 51px;
      &-item {
        border-color: $grey;
        span {
          @include FontSemiBold();
          font-size: 1rem;
          color: $blue;
        }
      }
    }
    .dropdown-list-item {
      padding: .875rem;
      height: auto;
      border: none;
      border-bottom: 1px solid $grey;
      span {
        height: auto;
        line-height: 100%;
        font-size: .875rem;
        text-transform: uppercase;
      }
      &:last-child {
        border-bottom: none;
        border-radius: 0;
      }
      .fa {
        color: $blue;
        top: 50%;
        @include transform(translateY(-50%));
      }
    }
    .dropdown-list-items {
      border: 1px solid $grey;
    }
  }

  ul.validation-messages {
    @include FontLight();
    color: $red;
    font-size: .875rem;
    margin: .25rem 0 0;
  }

  .btn {
    width: 100%;
    margin-top: .5rem;
  }

  .form-field {
    margin: 0 0 1rem;
  }

  .field-wrap {
    position: relative;
    &:after {
      content: '\f078';
      color: $grey;
      font-family: 'Font Awesome 5 Pro';
      position: absolute;
      top: 1rem;
      right: 1rem;
    }
  }

  label.radio {
    text-transform: none;
    p {
      font-size: .875rem;
      line-height: 110%;
    }
  }

  input[type="checkbox"], input[type="radio"] {
    display: none;

    + span.custom-checkbox {
      width: 18px;
      height: 18px;
      left: 0;
      top: 1px;
      margin-right: 10px;
      position: relative;
      display: inline-block;
      cursor: pointer;
      background: transparent;
      border: 1px solid $grey;
      text-align: center;
      &:after {
        font-family: 'Font Awesome 5 Pro';
        left: 0;
        top: -2px;
        height: 100%;
        width: 100%;
        opacity: 0;
        position: absolute;
        color: $blue;
        font-size: 22px;
        line-height: 16px;
        content: '\f00c';
        @include transition();
      }
    }
  }

  input[type="checkbox"]:checked, input[type="radio"]:checked {
    + span.custom-checkbox:after {
      opacity: 1;
    }
  }

}

@include mq(xs) {
  form {
    label.radio {
      margin: .5rem 0;
    }
  }
}

@mixin commonFormStylingMobile() {
  height: auto;
  padding: 16px;
  line-height: 100%;
}

@include mqRange(p-sm, p-md) {
  form {
    dropdown {
      .dropdown-list, .dropdown-display {
        span {
          font-size: .75rem;
        }
      }
    }
    input, textarea {
      font-size: .75rem;
    }
  }
}

@include mq(p-sm) {
  form {
    dropdown {
      .dropdown-list {
        top: 47px;
      }
      .dropdown-display {
        span {
          @include commonFormStylingMobile();
        }
      }
    }
    input {
      @include commonFormStylingMobile();
    }
  }
  .muni-selected {
    dropdown {
      .dropdown-list {
        top: 61px;
      }
    }
  }
}
