.hero {
  height: 500px;
  position: relative;
  overflow: hidden;
  h1 {
    @include FontBold();
    color: $white;
    font-size: 4rem;
    opacity: 0;
    line-height: 110%;
  }

  .container {
    position: relative;
    z-index: 5;
  }
  .video-wrap {
    margin: auto;
    position: absolute;
    width: 100%;
    z-index: 3;
    height: 100%;
    video {
      position: absolute;
      width: 100%;
      top: 50%;
      left: 50%;
      @include transform(translate3d(-50%, -50%, 0));
    }
  }

  heading {
    display: block;
    margin-bottom: .25rem;
    h2 {
      padding: 0 1rem;
      font-size: 2.25rem;
      @include FontLight();
      color: $green;
      opacity: 0;
      @include transition(opacity, ease-in, .36s, .25s);
    }
    .border-left, .border-right {
      height: 2px;
      width: 72px;
      background: $green;
      margin-top: 1.375rem;
      position: relative;
      &:after {
        content: ' ';
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        border: 2px solid $green;
        background: $black;
        top: -3px;
        transition: transform ease-in .33s .22s, background ease-in .33s .51s;
      }
    }
    .border-left {
      &:after {
        right: -6px;
      }
    }
    .border-right {
      &:after {
        left: -6px;
      }
    }
  }

}

body.images-loaded {
  .hero {
    h1 {
      opacity: 1;
      @include transition(opacity, ease-in, .42s, .8s);
    }
    heading {
      h2 {
        opacity: 1;
      }
      .border-left, .border-right {
        &:after {
          background: transparent;
        }
      }
      .border-left {
        &:after {
          @include transform(translateX(-76px));
        }
      }
      .border-right {
        &:after {
          @include transform(translateX(76px));
        }
      }
    }
  }
}


@include mq(md) {
  .hero {
    h1 {
      font-size: 3rem;
    }
    @include parallaxBgMobile();
    .video-wrap {
      video {
        width: 1040px;
        height: 585px;
      }
    }
  }
}

@include mq(sm) {
  .hero {
    height: 415px;
    h1 {
      font-size: 2.25rem;
    }
    heading {
      h2 {
        font-size: 1.625rem;
      }
      .border-right,
      .border-left {
        margin-top: 1rem;
      }
    }
  }
}

@include mq(xs) {
  .hero {
    heading {
      .border-left,
      .border-right {
        display: none;
      }
    }
  }
}

@include mq(p-lg) {
  .hero {
    heading {
      h2 {
        font-size: 1.5rem;
      }
    }
    h1 {
      font-size: 1.75rem;
    }
  }
}