.mfp-bg {
  opacity: .80;
}

.mfp-fade.mfp-bg {
  opacity: 0;
  @include transition($easing: ease-out);
}

.mfp-fade.mfp-bg.mfp-ready {
  opacity: 0.8;
}

.mfp-fade.mfp-bg.mfp-removing {
  opacity: 0;
}

.mfp-fade.mfp-wrap .mfp-content {
  opacity: 0;
  @include transition($easing: ease-out, $delay: .15s);
}

.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
  opacity: 1;
}

.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
  opacity: 0;
}

.mfp-counter {
  display: none;
}

.mfp-preloader {
  display: none !important;
}
