//
// Proxies to Mixins Library
// Why do this? So if we extend this library
// with local functions of our own, we don't have to
// include both files in out scss files. We just add
// new mixins after this import statement.
//
// Also if the mixins library filename ever changes
// we only need to update it here and not everywhere
//
@import "scss-mixins/mixins";
@import 'flex-grid/src/util/flexbox-col';
@import 'flex-grid/src/util/flexbox-row';

@mixin openClose($barHeight, $barWidth, $backgroundColor, $backgroundColorHover, $animation: true, $animationSpeed: .2s) {

  $animation-speed: 0s;

  @if $animation == true {
    $animation-speed: $animationSpeed;
  }

  height: $barHeight;
  width: $barHeight;
  cursor: pointer;
  position: absolute;

  span {
    display: inline-block;
    background: $backgroundColor;
    position: absolute;
    @include transition($speed: $animation-speed);
    &.vertical {
      height: $barHeight;
      width: $barWidth;
      top: 0;
      left: ($barHeight / 2) - ($barWidth / 2);
    }
    &.horizontal {
      width: $barHeight;
      height: $barWidth;
      left: 0;
      top: ($barHeight / 2) - ($barWidth / 2);
    }
  }

  &:hover {
    span {
      background: $backgroundColorHover;
    }
  }

  &.active {
    span {
      &.vertical {
        @include transform(rotateZ(135deg));
      }
      &.horizontal {
        @include transform(rotateZ(-135deg));
      }
    }
  }

}


@mixin animatedLinkHover($border-size, $border-color, $margin-top, $transition-speed: .35s) {
  white-space: nowrap;
  border-bottom: $border-size solid transparent;
  display: inline-block;
  &:after {
    content: '';
    display: block;
    height: $border-size;
    width: 0;
    background: transparent;
    transition: width $transition-speed ease, background-color $transition-speed ease;
    margin-top: $margin-top;
  }
  &:hover:after {
    background: $border-color;
    width: 100%;
  }
}

@mixin space($less: 1rem, $space: 2.5rem, $extra: 4rem) {

  $directions: 'top', 'bottom';
  $container-sizes: 'lg', 'md', 'sm', 'xs';

  @each $direction in $directions {

    &.extra-space-#{$direction} {
      margin-#{$direction}: $extra;
    }

    &.space-#{$direction} {
      margin-#{$direction}: $space;
    }

    &.less-space-#{$direction} {
      margin-#{$direction}: $less;
    }

    @each $size in $container-sizes {
      @include mq($size) {
        &.extra-space-#{$size}-#{$direction} {
          margin-#{$direction}: $extra;
        }
        &.space-#{$size}-#{$direction} {
          margin-#{$direction}: $space;
        }
        &.less-space-#{$size}-#{$direction} {
          margin-#{$direction}: $less;
        }
      }
    }
  }

}

@mixin formFields() {
  display: block;
  padding: 0 1rem;
  height: 50px;
  line-height: 50px;
  font-size: .875rem;
  color: $blue;
  width: 100%;
  text-transform: uppercase;
  @include FontSemiBold();
}

@mixin button-gradient($bg-top, $bg-bottom, $hover-top, $hover-bottom, $border-radius: 0) {
  @include gradient($bg-top, $bg-bottom);
  @include transition();
  position: relative;
  z-index: 1;
  border-radius: $border-radius;
  &:before {
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    border-radius: $border-radius;
    width: 100%;
    z-index: -100;
    @include gradient($hover-top, $hover-bottom);
    @include transition();
  }
  &:hover {
    &:before {
      opacity: 1;
    }
  }
}

@mixin customListStyle($size, $border-size, $color, $border-color, $padding-left, $top) {
  position: relative;
  padding-left: $padding-left;
  &:before {
    background: $color;
    content: ' ';
    width: $size;
    height: $size;
    border: $border-size solid $border-color;
    border-radius: 50%;
    position: absolute;
    top: $top;
    left: .125rem;
  }
}

@mixin menuToggleScrollAndMobile() {
  .menu-toggle {
    @include transform(translateY(-22px));
    @include transition($easing: ease-in);
  }

}

@mixin headerScrollAndMobile() {
  header {
    height: $header-scrolled-height;

    a.logo {
      width: $header-scrolled-logo-width;
      height: $header-scrolled-logo-height;
      @include transition($easing: ease-out, $delay: .5s);
    }


    span.trademark-main {
      opacity: 0;
    }

    span.trademark-scroll {
      opacity: 1;
    }

    .show-on-scroll {
      opacity: 1;
      pointer-events: auto;
      @include transition($easing: ease-in, $speed: .4s, $delay: .5s);
    }
    .hide-on-scroll {
      opacity: 0;
      pointer-events: none;
      @include transition($easing: ease-out, $speed: .15s);
    }
  }
  .phone-number {
    @include transform(translateY(-20px));
    @include transition($easing: ease-in);
  }
}

@mixin multipleTransition($properties, $speed:.3s, $easing:linear, $delay:0s, $important:null) {
  $properties: unquote($properties);
  transition: all $speed $easing $important;
  transition-property: $properties;
  transition-delay: $delay $important;
  animation-delay: $delay $important;
  backface-visibility: hidden;

  -webkit-transition: all $speed $easing $important;
  -webkit-transition-property: $properties;

  -webkit-transition-delay: $delay $important;
  -webkit-animation-delay: $delay $important;
  -webkit-backface-visibility: hidden;

}

@mixin loopedElementAnimation($element-count, $interval, $initial-delay, $easing, $speed, $properties: all) {
  @for $i from 1 through $element-count {

    $delay: $interval * $i + $initial-delay;

    &:nth-child(#{$i}) {
      @include multipleTransition($properties, $easing, $speed, $delay);
    }

  }
}



@mixin parallaxBgMobile($position: center center) {
  background-size: cover !important;
  background-position: $position !important;
}
