.ngdialog-overlay {
  background: rgba($black, .6);
}

html.ngdialog-open, body.ngdialog-open {
  overflow: visible;
}

.ngdialog {
  overflow: visible;
}

.ngdialog-overlay {
  margin-right: 0;
}

.ngdialog.ngdialog-theme-default {
  font-size: 1.125rem;
  line-height: 110%;
  .ngdialog-content {
    padding: 3rem;
  }

  .close-modal {
    position: absolute;
    top: 1rem;
    right: 1rem;
    font-size: 1.5rem;
    color: $blue;
    cursor: pointer;
  }

  h4,p {
    font-size: 1.125rem;
    @include FontMedium();
    margin: 0 0 1rem;
    &.no-space {
      margin: 0;
    }
  }

  a {
    color: $blue;
  }

  .ngdialog-close {
    &:before {
      @include transition();
      font-size: 2.5rem;
      color: $black;
      @include transition();
    }
    &:hover:before {
     // color: $primary;
    }
  }
}

@include mq(sm) {
  .ngdialog.ngdialog-theme-default {
    .ngdialog-content {
      padding: 3rem 1rem;
      width: 95%;

      h4,p {
        font-size: 1rem;
        line-height: 133%;
      }
    }
  }
}

