
$black: #000;
$grey-dk: #36383d;
$grey: #7d7d7d;
$grey-lt: #d3d2d2;
$grey-x-lt: #f4f7f7;
$white: #fff;

$blue: #1972bd;
$green: #a4f347;
$green-dk: #3f9b42;
$red: #fd2323;

$gradient-blue-top: #2986d5;
$gradient-blue-bottom: #055ea9;

$gradient-grey-top: $white;
$gradient-grey-bottom: #dddddd;

$border-blue-top: #48a6f5;
$border-blue-bottom: #024279;
$border-blue: #0e5794;

$border-grey: #b6b6b6;

$container-desktop: 1170px;
$container-lg: 960px;
$container-mobile: 100%;

$header-height: 110px;
$header-scrolled-height: 70px;
$header-logo-width: 340px;
$header-logo-height: 89px;
$header-scrolled-logo-width: 257px;
$header-scrolled-logo-height: 48px;

$fixed-bar-height: 72px;

$section-padding: 4rem;
$section-padding-lg: 6.5rem;

$base-img-path: '/img/';
