<section class="hero acc-height acc-padding">
    <div class="container full-height">
        <div class="row center v-center full-height">
            <div class="col-36 col-md-48 acc-full-width align-center">
                <heading text="Contact"></heading>
                <h1>Inquire Today To Discuss Your Needs</h1>
            </div>
        </div>
    </div>
</section>
<section class="information">
    <div class="container">
        <div class="row wrap-md center acc-wrap">
            <div class="information-col col-20 col-lg-28 col-md-40 col-sm-48 padding-right align-md-center acc-full-width">
                <h4>Contact Us Today to Discuss Your Electronics Waste Needs</h4>
                <ul>
                    <li>Toll Free: <a href="tel:<?= $this->externalUrl('phone-toll-free'); ?>"><?= $this->externalUrl('phone-toll-free'); ?></a></li>
                    <li>Phone: <a href="tel:<?= $this->externalUrl('phone'); ?>"><?= $this->externalUrl('phone'); ?></a></li>
                    <li>Fax: <?= $this->externalUrl('fax'); ?></li>
                </ul>
                <h6>Other Locations</h6>
                <ul>
                    <li>Virginia: <a href="tel:<?= $this->externalUrl('phone-virginia'); ?>"><?= $this->externalUrl('phone-virginia'); ?></a></li>
                    <li>Florida: <a href="tel:<?= $this->externalUrl('phone-florida'); ?>"><?= $this->externalUrl('phone-florida'); ?></a></li>
                </ul>
            </div>
            <div class="information-col col-free col-sm-48 acc-full-width border-left padding-left acc-margin align-center">
                <a class="map-link" href="<?= $this->externalUrl('map-brooklyn'); ?>" target="_blank">
                    <img class="map" src="/img/contact/map2.png">
                    <h5>540 Kingsland Ave<br>Brooklyn, NY 11222</h5>
                </a>
            </div>
            <div class="information-col col-free offset-2 sm-offset-0 acc-full-width acc-margin align-center relative is-esteward">
                <a class="map-link" href="<?= $this->externalUrl('map-virginia'); ?>" target="_blank">
                    <img class="map" src="/img/contact/map2.png">
                    <h5>10 Harkness Boulevard<br>Fredericksburg, VA 22401</h5>
                </a>
            </div>
        </div>
    </div>
</section>
<section class="content content-white cta">
    <div class="container">
        <div class="row center">
            <div class="col-free align-center acc-full-width">
                <h2 class="no-space regular">Scheduling a Pick-up?</h2>
                <p class="large">Choose an option below to schedule your e-waste pick-up.</p>
                <div class="buttons">
                    <a class="btn btn-light btn-grey" href="<?= $this->externalUrl('mail'); ?>">Click Here to Email Us</a>
                    <a class="btn btn-light btn-grey" href="tel:<?= $this->externalUrl('phone-toll-free'); ?>">Call Us Toll Free: <?= $this->externalUrl('phone-toll-free'); ?></a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="form content content-black above-fixed-bar" ng-controller="contactController">
    <div class="container">
        <div class="row center" window-multiplier=".68">
            <div class="col-28 col-md-36 col-sm-48 content-inner acc-full-width">
                <h3 ng-if="!processed" class="align-center">Tell Us About Your E-Waste and ITAD Needs</h3>
                <form name="form.form" class="acc-full-width" ng-submit="submitForm()" ng-if="!processed" novalidate>
                    <div class="row wrap">
                        <div class="col form-field animate">
                            <label>Name:</label>
                            <div class="field-wrap">
                                <input type="text" name="name" ng-model="model.name" required>
                            </div>
                            <api-validation-messages message-key="name" messages="apiFormErrors"></api-validation-messages>
                            <ul class="validation-messages" ng-if="form.form.name.$invalid && form.form.$submitted">
                                <li>Required</li>
                            </ul>
                        </div>
                        <div class="col form-field animate">
                            <label>Email:</label>
                            <div class="field-wrap">
                                <input type="email" name="email" ng-model="model.email" required>
                            </div>
                            <api-validation-messages message-key="email" messages="apiFormErrors"></api-validation-messages>
                            <ul class="validation-messages" ng-if="form.form.email.$invalid && form.form.$submitted">
                                <li>Required</li>
                            </ul>
                        </div>
                        <div class="col form-field animate">
                            <label>Phone Number:</label>
                            <input
                                   type="text"
                                   mask-restrict="reject"
                                   mask-clean="false"
                                   mask="(999) 999-9999"
                                   name="phone"
                                   ng-model="model.phone"
                                   required>
                            <api-validation-messages message-key="phone" messages="apiFormErrors"></api-validation-messages>
                            <ul class="validation-messages" ng-if="form.form.phone.$invalid && form.form.$submitted">
                                <li>Required</li>
                            </ul>
                        </div>
                        <div class="col form-field" ng-class="{ 'muni-selected': model.category === 'Municipality Recycling Programs' }">
                            <label>I am looking for:</label>
                            <dropdown id="category-dropdown"
                                      placeholder=""
                                      list="categories"
                                      selected="model.category"
                                      animation="true"></dropdown>
                            <input type="hidden" name="category" ng-model="model.category" required>
                            <api-validation-messages message-key="category" messages="apiFormErrors"></api-validation-messages>
                            <ul class="validation-messages" ng-if="form.form.category.$invalid && form.form.$submitted">
                                <li>Required</li>
                            </ul>
                        </div>
                        <div class="col form-field">
                            <label>For my:</label>
                            <dropdown id="type-dropdown"
                                      placeholder=""
                                      list="locations"
                                      selected="model.location"
                                      no-items-message="Please select a category above"
                                      animation="true"></dropdown>
                            <input type="hidden" name="location" ng-model="model.location" required>
                            <api-validation-messages message-key="location" messages="apiFormErrors"></api-validation-messages>
                            <ul class="validation-messages" ng-if="form.form.location.$invalid && form.form.$submitted">
                                <li>Required</li>
                            </ul>
                        </div>
                        <div class="col form-field">
                            <label>Located at:</label>
                            <div class="field-wrap">
                                <input type="text" name="address" ng-model="model.address" required>
                            </div>
                            <api-validation-messages message-key="address" messages="apiFormErrors"></api-validation-messages>
                            <ul class="validation-messages" ng-if="form.form.address.$invalid && form.form.$submitted">
                                <li>Required</li>
                            </ul>
                        </div>
                        <div class="col form-field animate">
                            <label>Comments:</label>
                            <div class="field-wrap">
                                <textarea name="comments" ng-model="model.comments" rows="4"></textarea>
                            </div>
                        </div>
                        <div class="col form-field">
                            <label class="radio" for="newsletter_opt_in_yes">
                                <div class="row v-center">
                                    <div class="col-free align-left">
                                        <input type="radio"
                                               value="Yes"
                                               name="newsletter_opt_in"
                                               id="newsletter_opt_in_yes"
                                               ng-model="model.newsletter_opt_in"
                                               ng-required="true"
                                               ng-value="'Yes'"
                                        />
                                        <span class="custom-checkbox"></span>
                                    </div>
                                    <div class="col-free">
                                        <p>Please keep in touch by adding me to your newsletter</p>
                                    </div>
                                </div>
                            </label>
                            <label class="radio" for="newsletter_opt_in_no" id="newsletter-no">
                                <div class="row v-center">
                                    <div class="col-free align-left">
                                        <input type="radio"
                                               value="No"
                                               name="newsletter_opt_in"
                                               id="newsletter_opt_in_no"
                                               ng-model="model.newsletter_opt_in"
                                               ng-required="true"
                                               ng-value="'No'"
                                        />
                                        <span class="custom-checkbox"></span>
                                    </div>
                                    <div class="col-free">
                                        <p>Do not add me to your newsletter</p>
                                    </div>
                                </div>
                            </label>
                            <api-validation-messages message-key="newsletter_opt_in" messages="apiFormErrors"></api-validation-messages>
                            <ul class="validation-messages" ng-if="form.form.newsletter_opt_in.$invalid && form.form.$submitted">
                                <li>Please select an option</li>
                            </ul>
                        </div>
                        <div class="col align-center animate">
                            <button class="btn btn-bold btn-blue">
                                <span ng-if="!processing">Inquire</span>
                                <span ng-if="processing"><i class="fa fa-spin fa-cog"></i></span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row center">
            <div class="col-25 align-center">
                <div class="form-success align-center" ng-if="processed">
                    <h3>Thank you for your submission! We will be in touch shortly.</h3>
                </div>
            </div>
        </div>
    </div>
</section>
