<!--<script async-->
<!--        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArvxDDq2DKZzsnYqaWvQ3ngDnfarN6r70&libraries=places&callback=initMap">-->
<!--</script>-->
<div class="logo-wrap">
    <div class="container">
        <div class="row center">
            <div class="col-free">
                <div class="logo">
                    <a href="<?= $this->url('home'); ?>">
                        <span class="trademark trademark-main hide-on-scroll">&trade;</span>
                        <img src="/img/common/header/logo.svg" class="logo" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="content form" id="form" ng-controller="eWasteFormController">
    <div class="container">
        <div class="row form-wrap-row">
            <div class="col">
                <div class="form-area" id="form-area">
                    <div class="sample-audit-report" ng-class="{ active: reportModal }">
                        <div class="sample-audit-report-inner full-height" ng-class="{ active: reportModal }">
                            <div class="image-wrap full-height">
                                <img src="/img/e-waste-form/sample-audit-report.png" alt="">
                                <i class="fa fa-times" ng-click="closeReportModal()"></i>
                            </div>
                        </div>
                    </div>
                    <div ng-if="!processed">
                        <div class="row center">
                            <div class="col-free align-center">
                                <h2>
                                    Electronic Removal Request Form
                                </h2>
                            </div>
                        </div>
                        <div class="row center less-space-top extra-space-bottom" ng-if="formStep >= 1">
                            <div class="col-32 col-md-40 col-sm-46">
                                <div class="step-counter">
                                    <div class="row step-row v-center">
                                        <div class="col" ng-class="{ 'col-free': $last }"
                                             ng-repeat="i in getArray(requiredFormComponents.length + 1) track by $index">
                                            <div class="row v-center">
                                                <div class="col-free relative">
                                                    <div class="step"
                                                         ng-click="setFormStep($index)"
                                                         ng-class="{ active: formStep === $index, complete: formStep > $index }">
                                                        <span class="step-complete-icon" ng-if="formStep > $index"><i class="fa fa-check"></i></span>
                                                        <span class="text" ng-if="formStep <= $index">{{ $index + 1 }}</span>
                                                    </div>
                                                    <div ng-if="formStep === $index">
                                                        <div class="progress-percent">{{ formStep / (requiredFormComponents.length + 1) * 100 | limitTo:2 }}%</div>
                                                    </div>
                                                </div>
                                                <div class="col" ng-if="!$last">
                                                    <div class="divider complete"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row center less-space-top">
                            <div class="col-36 col-lg-42 col-md-50">
                                <form name="form.form" ng-submit="submitForm()" ng-if="!processed" novalidate>
                                    <div class="form-group">
                                        <div class="form-field">
                                            <h5>What services do you require?</h5>
                                            <div class="checkbox-row-wrapper" ng-class="{ 'make-unclickable': formStep >= 1 }">
                                                <div class="row space-between checkbox-row wrap-sm" ng-class="{ 'make-unclickable': formStep >= 1 }">
                                                    <div class="col-15 col-sm-50" ng-repeat="service in requiredServicesOptions">
                                                        <label class="checkbox" for="{{service.label}}">
                                                            <div class="row">
                                                                <div class="col-free">
                                                                    <input type="checkbox"
                                                                           ng-model="model.requiredServices[service.id].selected"
                                                                           name="{{service.label}}"
                                                                           id="{{service.label}}">
                                                                    <span class="custom-checkbox"></span>
                                                                </div>
                                                                <div class="col-free">
                                                                    <span class="label">{{ service.label }}</span>
                                                                </div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div ng-repeat="component in requiredFormComponents" ng-if="$index <= formStep - 1">
                                        <div class="form-group" ng-if="component.id === 'haveAssetList'">
                                            <div class="form-field">
                                                <dropdown placeholder="Do you have an asset list of the equipment available for evaluation?"
                                                          list="assetListOptions"
                                                          selected="model.requiredServices[component.model].model[component.id]"
                                                          animation="true"></dropdown>
                                            </div>
                                        </div>
                                        <div class="form-group"
                                             ng-if="component.id === 'haveAssetList' && checkAssetList()">
                                            <div class="form-field">
                                                <button type="button" class="upload-button" id="upload-button" ng-click="openFileUpload('#uploadFile')">
                                                    <i class="fal fa-file-upload"></i>
                                                    Upload File
                                                </button>
                                                <input type="file" bind-file ng-model="uploadFile.file"
                                                       name="uploadFile" id="uploadFile" style="position: absolute; left: -9999px; opacity: 0;">
                                            </div>
                                            <div class="form-field" ng-repeat="file in model.uploadedFiles">
                                                <div class="uploaded-file">
                                                    {{ file.name }}<span>{{ file.size / 1000 }}kb</span>
                                                    <i class="fa fa-times" ng-click="removeFile()"></i>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="component.id === 'providedList'">
                                            <div class="form-field">
                                                <h5>
                                                    What E-Waste Do You Have?
                                                </h5>
                                                <div class="row wrap-xs space-between xs-center xs-space-top"
                                                     ng-repeat="item in model.requiredServices[component.model].model['providedList']">
                                                    <div class="col-32 col-xs-50">
                                                        <dropdown placeholder="Choose One"
                                                                  class="overflow-auto"
                                                                  list="eWasteOptions"
                                                                  selected="model.requiredServices[component.model].model['providedList'][$index].item"
                                                                  animation="true"></dropdown>
                                                        <div class="less-space-top" ng-if="model.requiredServices[component.model].model['providedList'][$index].item === 'Other'">
                                                            <input type="text"
                                                                   ng-model-options="{ debounce: 500 }"
                                                                   ng-model="model.requiredServices[component.model].model['providedList'][$index].other"
                                                                   placeholder="Other (Please Specify)">
                                                        </div>
                                                    </div>
                                                    <div class="col-16 col-xs-50 less-space-xs-top">
                                                        <input type="tes"
                                                               mask-restrict="reject"
                                                               mask-clean="false"
                                                               mask="9?9?9?9?9?"
                                                               ng-model-options="{ debounce: 500 }"
                                                               ng-model="model.requiredServices[component.model].model['providedList'][$index].quantity"
                                                               placeholder="Quantity">
                                                    </div>
                                                </div>
                                                <button type="button" class="btn btn-sm btn-bold add-another btn-blue"
                                                        ng-click="addAnotherEwasteType()">Add Another</button>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="component.id === 'needAuditableInventory'">
                                            <div class="form-field has-help-icon relative">
                                                <dropdown placeholder="Do you need an auditable inventory report?"
                                                          list="auditableInvOptions"
                                                          selected="model.requiredServices[component.model].model[component.id]"
                                                          animation="true"></dropdown>
                                                <i class="fa fa-question-circle-o" ng-click="openReportModal()"></i>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="component.id === 'howManyDrives'">
                                            <div class="form-field">
                                                <input type="text"
                                                       mask-restrict="reject"
                                                       mask-clean="false"
                                                       mask="9?9?9?9?9?"
                                                       ng-model-options="{ debounce: 500 }"
                                                       name="howManyDrives"
                                                       ng-model="model.requiredServices[component.model].model.howManyDrives"
                                                       placeholder="How many hard drives do you have to recycle?">
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="component.id === 'looseOrInCPU'">
                                            <div class="form-field">
                                                <dropdown placeholder="Are the hard drives still inside of the devices or are they loose?"
                                                          list="hardDrivesOptions"
                                                          selected="model.requiredServices[component.model].model[component.id]"
                                                          animation="true"></dropdown>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="component.id === 'shredOnsite'">
                                            <div class="form-field relative has-help-icon">
                                                <dropdown placeholder="Would you like shredding on site?"
                                                          list="onSiteShreddingOptions"
                                                          selected="model.requiredServices[component.model].model[component.id]"
                                                          animation="true"></dropdown>
                                                <i class="fa fa-question-circle-o" ng-click="openExplanation()"></i>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="component.id === 'recycleWithDrivesInside'">
                                            <div class="form-field">
                                                <dropdown placeholder="Would you like us to recycle the devices after shredding the hard drives?"
                                                          list="recycleComputerOptions"
                                                          selected="model.requiredServices[component.model].model[component.id]"
                                                          animation="true"></dropdown>
                                            </div>
                                        </div>
                                        <div class="form-group" ng-if="component.id === 'additionalShredding'">
                                            <div class="less-space-bottom">
                                                <h5>Do you have any other media for shredding?</h5>
                                            </div>
                                            <div class="row wrap space-between">
                                                <div class="col-24 col-xs-50">
                                                    <div class="form-field">
                                                        <label class="checkbox" for="tape_drives">
                                                            <div class="row">
                                                                <div class="col-free">
                                                                    <input type="checkbox"
                                                                           name="tape_drives"
                                                                           id="tape_drives"
                                                                           ng-model="model.requiredServices[component.model].model[component.id].tapeDrives">
                                                                    <span class="custom-checkbox"></span>
                                                                </div>
                                                                <div class="col-free">
                                                                    <span class="label">Tape Drives</span>
                                                                </div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-24 col-xs-50 less-space-xs-top" ng-if="model.requiredServices[component.model].model[component.id].tapeDrives">
                                                    <input type="text"
                                                           mask-restrict="reject"
                                                           mask-clean="false"
                                                           mask="9?9?9?9?9?"
                                                           ng-model-options="{ debounce: 500 }"
                                                           ng-model="model.requiredServices[component.model].model[component.id].tapeDrivesQuantity"
                                                           placeholder="Tape Drives Quantity">
                                                </div>
                                            </div>
                                            <div class="row wrap space-between less-space-top">
                                                <div class="col-24 col-xs-50">
                                                    <div class="form-field">
                                                        <label class="checkbox" for="CDs">
                                                            <div class="row">
                                                                <div class="col-free">
                                                                    <input type="checkbox"
                                                                           name="CDs"
                                                                           id="CDs"
                                                                           ng-model="model.requiredServices[component.model].model[component.id].cds">
                                                                    <span class="custom-checkbox"></span>
                                                                </div>
                                                                <div class="col-free">
                                                                    <span class="label">CDs</span>
                                                                </div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-24 col-xs-50 less-space-xs-top"
                                                     ng-if="model.requiredServices[component.model].model[component.id].cds">
                                                    <input type="text"
                                                           mask-restrict="reject"
                                                           mask-clean="false"
                                                           mask="9?9?9?9?9?"
                                                           ng-model-options="{ debounce: 500 }"
                                                           ng-model="model.requiredServices[component.model].model[component.id].cdsQuantity"
                                                           placeholder="CDs Quantity">
                                                </div>
                                            </div>

                                            <div class="row wrap space-between less-space-top">
                                                <div class="col-24 col-xs-50">
                                                    <div class="form-field">
                                                        <label class="checkbox" for="thumb_disks">
                                                            <div class="row">
                                                                <div class="col-free">
                                                                    <input type="checkbox"
                                                                           name="thumb_disks"
                                                                           id="thumb_disks"
                                                                           ng-model="model.requiredServices[component.model].model[component.id].thumbDisks">
                                                                    <span class="custom-checkbox"></span>
                                                                </div>
                                                                <div class="col-free">
                                                                    <span class="label">Thumb Disks</span>
                                                                </div>
                                                            </div>
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-24 col-xs-50 less-space-xs-top"
                                                     ng-if="model.requiredServices[component.model].model[component.id].thumbDisks">
                                                    <input type="text"
                                                           mask-restrict="reject"
                                                           mask-clean="false"
                                                           mask="9?9?9?9?9?"
                                                           ng-model-options="{ debounce: 500 }"
                                                           ng-model="model.requiredServices[component.model].model[component.id].thumbDisksQuantity"
                                                           placeholder="Thumb Disks Quantity">
                                                </div>
                                            </div>

                                            <div class="row wrap space-between less-space-top">
                                                <div class="col-24 col-xs-50">
                                                    <div class="form-field">
                                                        <input type="text"
                                                               ng-model-options="{ debounce: 500 }"
                                                               ng-model="model.requiredServices[component.model].model[component.id].other"
                                                               placeholder="Other - Write In">
                                                    </div>
                                                </div>
                                                <div class="col-24 col-xs-50 less-space-xs-top"
                                                     ng-if="model.requiredServices[component.model].model[component.id].other">
                                                    <input type="text"
                                                           mask-restrict="reject"
                                                           mask-clean="false"
                                                           mask="9?9?9?9?9?"
                                                           ng-model-options="{ debounce: 500 }"
                                                           ng-model="model.requiredServices[component.model].model[component.id].otherQuantity"
                                                           placeholder="Other Quantity">
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group" ng-if="component.id === 'contactInformation'">
                                            <div class="row wrap space-between">
                                                <div class="col-24 col-xs-50">
                                                    <div class="form-group">
                                                        <input type="text"
                                                               name="name"
                                                               ng-model-options="{ debounce: 500 }"
                                                               ng-model="model.requiredServices[component.model].model.name"
                                                               placeholder="Name*" required>
                                                        <api-validation-messages message-key="name" messages="apiFormErrors"></api-validation-messages>
                                                        <ul class="validation-messages" ng-if="form.form.name.$invalid && form.form.$submitted">
                                                            <li>Required</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-24 col-xs-50">
                                                    <div class="form-group">
                                                        <input type="text"
                                                               name="company"
                                                               ng-model-options="{ debounce: 500 }"
                                                               ng-model="model.requiredServices[component.model].model.company"
                                                               placeholder="Company*"
                                                               required>
                                                        <api-validation-messages message-key="company" messages="apiFormErrors"></api-validation-messages>
                                                        <ul class="validation-messages" ng-if="form.form.company.$invalid && form.form.$submitted">
                                                            <li>Required</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-24 col-xs-50">
                                                    <div class="form-group">
                                                        <input type="text"
                                                               name="email"
                                                               ng-model-options="{ debounce: 500 }"
                                                               ng-model="model.requiredServices[component.model].model.email"
                                                               placeholder="Email*" required>
                                                        <api-validation-messages message-key="email" messages="apiFormErrors"></api-validation-messages>
                                                        <ul class="validation-messages" ng-if="form.form.email.$invalid && form.form.$submitted">
                                                            <li>Required</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-24 col-xs-50">
                                                    <div class="form-group">
                                                        <input type="text"
                                                               name="phone"
                                                               ng-model-options="{ debounce: 500 }"
                                                               ng-model="model.requiredServices[component.model].model.phone"
                                                               mask-restrict="reject"
                                                               mask-clean="false"
                                                               mask="(999) 999-9999"
                                                               placeholder="Phone*"
                                                               required>
                                                        <api-validation-messages message-key="phone" messages="apiFormErrors"></api-validation-messages>
                                                        <ul class="validation-messages" ng-if="form.form.phone.$invalid && form.form.$submitted">
                                                            <li>Required</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>


<!-- NOTE: google autocomplete was not loading due to that step being displayed by the above loop of required steps that is regenerated after every step -->
<!-- To fix this, that step and the other common ones are no longer included in the loop and shown below using flags -->
                                    <div class="form-group" ng-show="showWhereLocated || model.requiredServices.common.model.whereLocated.length">
                                        <div class="row wrap space-between">
                                            <div class="col">
                                                <div class="form-field">
                                                    <input type="text"
                                                           name="autocompleteAddress"
                                                           id="autocompleteAddress"
                                                           autocomplete="on"
                                                           ng-model-options="{ debounce: 500 }"
                                                           ng-model="model.requiredServices.common.model.whereLocated"
                                                           placeholder="Where is your service address located?">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-field" ng-if="model.requiredServices.common.model.whereLocated">
                                            <input type="text"
                                                   ng-model-options="{ debounce: 500 }"
                                                   ng-model="model.requiredServices.common.model.floorNumber"
                                                   placeholder="Floor Number (Optional)">
                                        </div>
                                    </div>

                                    <div class="form-group"
                                         ng-if="showLoadingDock || model.requiredServices.common.model.loadingDockElevator.length">
                                        <div class="form-field">
                                            <dropdown placeholder="Is there a loading dock?"
                                                      list="loadingDockOptions"
                                                      selected="model.requiredServices.common.model.loadingDockElevator"
                                                      animation="true"></dropdown>
                                        </div>
                                    </div>

                                    <div class="form-group"
                                         ng-if="showElevator || model.requiredServices.common.model.elevatorOrStairs.length">
                                        <div class="form-field">
                                            <dropdown placeholder="Is there freight elevator or passenger elevator access?"
                                                      list="elevatorAccessOptions"
                                                      selected="model.requiredServices.common.model.elevatorOrStairs"
                                                      animation="true"></dropdown>
                                        </div>
                                        <div class="form-field">
                                            <dropdown placeholder="Are there any stairs in the path of removal?"
                                                      list="stairsInPathOptions"
                                                      selected="model.requiredServices.common.model.stairsInPath"
                                                      animation="true"></dropdown>
                                        </div>
                                    </div>


                                    <div class="row space-top center align-center buttons wrap-xs"
                                         ng-if="
                                            (formStep !== requiredFormComponents.length || formStep === 0) &&
                                            (model.requiredServices.ewaste.selected || model.requiredServices.hardDrive.selected || model.requiredServices.itad.selected)
                                        ">
                                        <div class="col-free col-xs-50">
                                            <button type="button" ng-click="resetForm()"
                                                    class="btn btn-sm btn-bold btn-blue btn-form form-reset">Reset Form</button>
                                        </div>
                                        <div class="col-free col-xs-50" ng-if="formStep > 0">
                                            <button type="button"
                                                    ng-click="prevStep()"
                                                    class="btn btn-sm btn-bold btn-blue btn-form">Previous Step</button>
                                        </div>
                                        <div class="col-free col-xs-50">
                                            <button type="button"
                                                    ng-click="nextStep()"
                                                    ng-disabled="formStep === 0 && (!model.requiredServices.ewaste.selected &&
                                                    !model.requiredServices.hardDrive.selected && !model.requiredServices.itad.selected)"
                                                    class="btn btn-sm btn-bold btn-blue btn-form">Next Step</button>
                                        </div>
                                    </div>
                                    <div class="row space-top center align-center wrap-xs" ng-if="formStep === requiredFormComponents.length && formStep !== 0">
                                        <div class="col-free col-xs-50">
                                            <button type="button" ng-click="resetForm()" class="btn btn-sm btn-bold btn-blue btn-form">Reset Form</button>
                                        </div>
                                        <div class="col-free col-xs-50">
                                            <button type="submit" class="btn btn-sm btn-bold btn-blue btn-form" ng-disabled="processing">
                                                <span ng-if="!processing">Request A Quote</span>
                                                <span ng-if="processing"><i class="fa fa-spin fa-cog"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div ng-if="processed" class="form-success">
                        <div class="row center">
                            <div class="col-free align-center">
                                <img src="/img/e-waste-form/check-circle.png" class="check-circle">
                                <h2 class="regular">
                                    Thank You!
                                </h2>
                                <p class="no-space">
                                    We have received your request!
                                </p>
                                <p>
                                    A representative will provide a quote within 24 hours.
                                </p>
                                <p>
                                    <a ng-click="resetForm()" slide-to="#form" offset-value="60" class="text-only">
                                        Request Another Quote
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


