@import '../../src/fonts';
@import '../../src/variables';
@import '../../src/mixins';
@import '../../src/form';
@import '../../src/hero';



$dir: 'municipality';
$img-path: $base-img-path + $dir;


.hero {
  @include bgImage($img-path, 'hero.jpg');
}

.top {
  padding: $section-padding-lg 0 $section-padding;
  img.icon {
    width: 110px;
    margin-top: 3.5rem;
  }
  p:first-of-type {
    margin-top: 2.625rem;
  }
}

@include mq(sm) {
  .hero {
    heading {
      .border-left,
      .border-right {
        display: none;
      }
    }
  }
  .top {
    padding-top: $section-padding;
  }
}