@import '../../src/fonts';
@import '../../src/variables';
@import '../../src/mixins';
@import '../../src/form';
@import '../../src/hero';
@import '../../src/grid';
@import '../../src/box';
@import '../../partials/form-panel';
@import '../../partials/accordion';


$dir: 'it-asset-disposition';
$common: 'common';
$img-path: $base-img-path + $dir;
$common-img-path: $base-img-path + $common;

$bucket-height: 180px;

.hero {
  @include bgImage($img-path, 'hero.jpg');
  position: relative;
  overflow: hidden;

}

.top {
  ul {
    margin: 1rem 0 0;
    li {
      margin: 1rem 0;
      font-size: 1rem;
      @include FontBold();
      @include customListStyle(8px, 2px, transparent, $green-dk, 1.5rem, .375rem);
    }
  }
  .images {
    img:first-child {
      border-top: $grid-border-lg;
    }
    img {
      border-bottom: $grid-border-lg;
      width: 100%;
    }
  }
  .inner {
    position: relative;
    margin: 0 auto;
    width: 75%;
    max-width: 620px;
  }
  h4 {
    margin: 1.5rem 0 0;
  }
}

.charts {
  @include bgImage($common-img-path, 'bg-2.jpg');
  padding: $section-padding-lg 0;
  img.chart {
    margin-top: 3rem;
    width: 100%;
  }
  h4,h5 {
    font-size: 1.125rem;
    color: $white;
  }
  h4 {
    @include FontBold();
  }
  h5 {
    @include FontLight();
  }
}

.accordions {
  padding: $section-padding 0 ($section-padding + px-to-rem($fixed-bar-height));

  .bucket-wrap {
    margin: 0 0 2rem;
    height: $bucket-height;
    @include transition(opacity);
    > .row {
      height: 100%;
    }
    .padding-right {
      padding: .5rem 2rem .5rem 0;
      position: relative;
      text-align: center;
      &:before {
        content: ' ';
        right: -2px;
        top: 50%;
        @include transform(translateY(-50%));
        background: transparent;
        width: 2px;
        height: $bucket-height;
        position: absolute;
        @include transition(background, $delay: 1s);
      }
    }
    .padding-left {
      padding: .5rem 0 .5rem 2rem;
      position: relative;
      &:after {
        content: ' ';
        position: absolute;
        bottom: -65px;
        left: 40px;
        @include triangleUp(25px, $grey-dk);
        opacity: 0;
        @include transition();
      }
    }
    .inner {
      position: relative;
      top: 50%;
      @include transform(translateY(-50%));
      > * {
        @include transform(translateX(50px));
        opacity: 0;
      }
    }
    h3 {
      @include FontRegular();
      font-size: 1.25rem;
    }
    a {
      cursor: pointer;
      color: $green-dk;
      display: inline-block;
      margin: .5rem 0 0;
      @include FontRegular();
    }
    img {
      position: relative;
      max-width: 100%;
      top: 50%;
      @include transform(translateY(-50%));
      opacity: 0;
    }

  }

  .bucket {
    @include transition(opacity);
  }

  .bucket.inactive {
    opacity: .35;
  }
  .bucket.active {
    opacity: 1;
    .padding-left {
      &:after {
        opacity: 1;
        @include transform(translateY(-22px));
        @include transition($delay: .24s);
      }
    }
  }

  .bucket.animate-in {
    .bucket-wrap {
      img {
        opacity: 1;
        @include transition(opacity);
        &.brand-protection {
          margin-left: 1.5rem;
        }
      }
      .padding-right {
        &:before {
          background: $border-grey;
        }
      }
    }
    .inner {
      > * {
        @include transform(translateX(0));
        opacity: 1;
        @include loopedElementAnimation(3, .2s, .37s, $bounceEasing, 1s, 'opacity, transform');
      }
    }
  }

}

@include mq(lg) {
  .accordions {
    .bucket-wrap {
      img.data-sanitation {
        margin-right: -1.5rem;
      }
    }
  }
}

@include mqRange(md, lg) {
  .top {
    .inner {
      width: 90%;
      p {
        font-size: .9rem;
      }
    }
  }
  .accordions {
    .bucket-wrap {
      height: $bucket-height * 1.1;
      .padding-right {
        &:before {
          height: $bucket-height * 1.1;
        }
      }
    }
  }
}

@include mq(md) {
  .top {
    .inner {
      padding: $section-padding-lg 0;
    }
  }
}

@include mqRange(sm, md) {
  .accordions {
    .bucket {

    }
  }
}

@include mq(sm) {
  .top {
    .inner {
      width: 95%;
    }
    .images {
      img {
        border-bottom: $grid-border;
      }
    }
  }
  .charts {
    .col {
      max-width: 100%;
    }
    .mobile-scroll {
      overflow: auto;
      padding-bottom: 1rem;
      &::-webkit-scrollbar {
        height: 3px;
        &-track {
          background: #ddd;
        }
        &-thumb {
          background: $green;
        }
      }
    }
    img.chart {
      width: 767px;
    }
  }
  .accordions {
    padding: $section-padding 0;
    .buckets-row {
      padding: 0;
    }
    .bucket-wrap {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }
}

@include mq(xs) {
  .accordions {
    .bucket-wrap {
      margin: 2rem 0;
      height: auto;
      .padding-left, .padding-right {
        padding: 0;
      }
      .padding-left {
        &:after {
          left: 0;
          right: 0;
          margin: 0 auto;
        }
      }
      .padding-right {
        &:before {
          display: none;
        }
      }
      .padding-right {
        img {
          margin-bottom: 1.5rem;
          top: 0;
          @include clearTransform();
        }
      }
      .inner {
        text-align: center;
        top: 0;
        @include clearTransform();
      }
    }
  }
}