@import '../../src/fonts';
@import '../../src/variables';
@import '../../src/mixins';
@import '../../src/form';
@import '../../src/hero';
@import '../../src/grid';


$dir: 'data-destruction';
$common: 'common';
$img-path: $base-img-path + $dir;
$common-img-path: $base-img-path + $common;



.hero {
  @include bgImage($img-path, 'hero.jpg');
}

.top {
  padding: $section-padding 0;
  img {
    max-width: 100%;
  }

  .images {
    img {
      max-width: 100%;
    }
    .animate {
      opacity: 0;
      @include loopedElementAnimation(3, .15s, 1.25s, .5s, linear, opacity);
    }
    &.animate-in {
      .animate {
        opacity: 1;
      }
    }
  }

}

.grid {
  @include bgImage($common-img-path, 'bg-2.jpg');
  padding-bottom: $fixed-bar-height;
  .inner {
    position: relative;
    width: 75%;
    max-width: 480px;
    margin: 0 auto;
    h2 {
      margin-bottom: 2rem;
    }
    ul.custom-dot {
      li {
        opacity: 0;
        @include transform(translateY(20px));
      }
    }

  }
  .animate-in {
    .inner {
      ul.custom-dot {
        li {
          opacity: 1;
          @include transform(translateY(0));
          @include loopedElementAnimation(5, .1s, .95s, $bounceEasing, 1s, 'opacity, transform');
        }
      }
    }
  }
  .border-left {
    border-left: $grid-border-lg;
  }
  .border-bottom {
    border-bottom: $grid-border-lg;
  }
}

@include mq(md) {
  .grid {
    .grid-container {
      border-top: $grid-border;
      border-right: $grid-border;
    }
    .border-left {
      border-left: $grid-border;
    }
    .border-bottom {
      border-bottom: $grid-border;
    }
    .inner {
      padding: $section-padding-lg 0;
    }
  }
}

@include mq(sm) {
  .grid {
    padding-bottom: 0;
    .inner {
      width: 90%;
    }
  }
}

@include mq(xs) {
  .grid {
    .grid-container {
      border-right: none;
    }
    .border-left {
      border-left: none;
    }
    .border-bottom-xs {
      border-bottom: $grid-border;
    }
  }
}