<section class="hero acc-height acc-padding" data-top-top="background-position: 50% 5%;" data-top-bottom="background-position: 50% 55%;">
    <div class="video-wrap hidden-sm-down">
        <video autoplay muted loop>
            <source src="/video/hd-shred.mp4" type="video/mp4">
        </video>
    </div>
    <div class="container full-height">
        <div class="row center v-center full-height">
            <div class="col-40 col-md-50 align-center">
                <heading text="Hard Drive Shredding"></heading>
                <h1>On-Site Hard Drive Shredding</h1>
            </div>
        </div>
    </div>
</section>
<section class="content content-black top">
    <div class="container">
        <div class="row center" animate-in window-multiplier="1">
            <div class="col align-center content-inner">
                <h2 class="regular animate animate-opacity">Certified Data Destruction</h2>
            </div>
        </div>
        <div class="row less-space-top wrap-md center">
            <div class="col-34 col-md-48 acc-full-width" animate-in window-multiplier=".8">
                <div class="content-inner content-inner-left align-center">
                    <p>It is crucial to have a trusted provider of secure data destruction services. You can rely on Greenchip’s on-site
                       shredding services to be certain your data is safe from any potential breach. Our Mobile Hard Drive Shredding
                       Unit is a high security hard drive shredding facility on wheels that will travel to you, for secure destruction you can witness.</p>
                    <p>Our shredding capabilities are not just limited to hard drives. We can destroy any data storage device you have from solid
                       state drives to CD's, flash drives, smart phones, tapes and any media your company might use. You will be provided with
                       an auditable inventory report of the items destroyed and we will remove the shredded material for recycling.</p>
                    <img class="visible-md-block-down mobile-space" src="/img/hard-drive-shredding/truck.png">
                </div>
            </div>
        </div>
        <div class="row center extra-space-top hidden-md-down" animate-in window-multiplier=".8">
            <div class="col-free content-inner">
                <img class="animate animate-opacity" src="/img/hard-drive-shredding/truck.png">
            </div>
        </div>
    </div>
</section>
<section class="content content-white offers" data-bottom-top="background-position: 100% 0%;" data-top-bottom="background-position: 100% 100%;">
    <div class="container">
        <div class="row center" animate-in window-multiplier=".75">
            <div class="col-34 col-md-36 col-sm-48 acc-full-width content-inner">
                <h2 class="regular align-center animate animate-opacity">Greenchip’s Mobile Hard Drive Destruction Offers:</h2>
            </div>
        </div>
        <div class="row center" animate-in window-multiplier=".75">
            <div class="col-28 col-md-36 col-sm-48 acc-full-width">
                <ul class="custom-dot">
                    <li>On-site witnessed physical destruction of hard drives, solid state drives, CDs, tape media and more</li>
                    <li>Guaranteed secure handling of equipment</li>
                    <li>Auditable Hard Drive Destruction Inventory <span class="light">(a detailed report of the destroyed hardware
                        including make, model and serial numbers)</span></li>
                    <li>Multi Compliancy: DOD <span class="light">(Department of Defense)</span>, PCI <span class="light">(Payment Card Industry)</span>
                        and HIPAA <span class="light">(Health Insurance Portability and Accountability Act)</span> to name a few</li>
                    <li>GPS tracked trucking for added security</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section class="content content-black grid">
    <div class="row v-center wrap-md">
        <div class="col-25 col-md-50 acc-full-width" animate-in window-multiplier=".73">
            <div class="inner content-inner acc-height acc-padding">
                <h2 class="animate animate-right regular black">On-Site Data Wiping</h2>
                <p class="animate animate-right">If you are retiring assets and have data storing devices suitable for reuse, we
                   can sanitize them with our proprietary wiping and overwriting software, which makes data recovery impossible.
                   All devices are sanitized according to NIST 800-88 and the Department of Defense 5220-22-M standards. Our mobile
                   wiping unit can connect to your network and deploy our wiping software.</p>
                <p class="animate animate-right">Drives wiped this way can be reused and remarketed, so we can offer a profit
                   share for a return on your investment.</p>
            </div>
        </div>
        <div class="col-25 col-md-50 images">
            <div class="row">
                <div class="col border-right border-top border-bottom">
                    <img class="" src="/img/hard-drive-shredding/grid-1.jpg" alt="">
                </div>
            </div>
            <div class="row">
                <div class="col-free border-right border-bottom">
                    <img class="" src="/img/hard-drive-shredding/grid-2.jpg" alt="">
                </div>
                <div class="col-free border-right border-bottom">
                    <img class="" src="/img/hard-drive-shredding/grid-3.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</section>
