@import '../../src/fonts';
@import '../../src/variables';
@import '../../src/mixins';
@import '../../src/form';
@import '../../src/carousel';
@import '../../src/ngdialog';
@import '../../src/lightbox';
@import '../../partials/fixed-bar';
@import '../../partials/form-panel';



$dir: 'home';
$common: 'common';
$img-path: $base-img-path + $dir;
$common-img-path: $base-img-path + $common;


.hero-wrap {
  height: 100%;
}

.hero {
  @include bgImage($img-path, 'hero.jpg', 100%);
  position: relative;
  overflow: hidden;
  h1 {
    font-size: 4rem;
    color: $white;
    @include FontBold();
  }

  h2 {
    font-size: 2rem;
    color: $green;
    @include FontLight();
  }

  h1,h2 {
    line-height: 115%;
  }

  h1,h2, .form-panel {
    opacity: 0;
  }

  @keyframes fade {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

  h2 {
    span {
      animation: fade ease 3s;
      animation-iteration-count: 1;
      animation-fill-mode: forwards;
      opacity: 0;
      &:nth-child(1) {
        animation-delay: 2s;
      }
      &:nth-child(2) {
        animation-delay: 4s;
      }
      &:nth-child(3) {
        animation-delay: 6s;
        white-space: nowrap;
      }
    }
  }

  .container {
    padding-bottom: 0;
    position: relative;
    z-index: 5;
  }
  .video-wrap {
    top: 50%;
    left: 50%;
    @include transform(translate3d(-50%, -50%, 0));
    margin: auto;
    position: absolute;
    width: 100%;
    z-index: 3;
    height: 100%;
    video {
      min-width: 100%;
      min-height: 100%;
    }
  }

  .panel-wrap {
    position: relative;
    opacity: 0;
    @include transition();
  }

  .panel-wrap.active {
    opacity: 1;
  }



}


.content {
  i.green {
    display: block;
    text-align: center;
    margin: 2rem auto 0;
    font-size: 2.5rem;
    color: $green;
    font-weight: bold;
  }
}

.top {
  @include bgImage($common-img-path, 'bg-2.jpg', 500px);
  padding-top: 2rem;
}

.specialists {
  padding: $section-padding-lg 0;
}

.grid {
  @include bgImage($common-img-path, 'bg-2.jpg');
  padding: $section-padding-lg 0;
  img {
    display: block;
    width: 100%;
  }
  .border-right {
    border-right: 8px solid $white;
  }
  .border-bottom {
    border-bottom: 8px solid $white;
  }
  .inner {
    width: 100%;
    margin: 0 auto;
  }
}

.buckets {
  .bucket {

    margin-bottom: 3rem;

    h3 {
      margin: .75rem 0 0;
    }

    p {
      @include FontMedium();
    }

    img {
      opacity: 0;
      margin: 0 auto;
      display: block;
      //height: 120px;
      max-width: 120px;
      @include transition($easing: ease-in, $speed: .35s);
    }

    .bucket-text {
      * {
        opacity: 0;
        @include transform(translateX(30px));
      }
    }

    &.animate-in {
      img {
        opacity: 1;
      }
      .bucket-text {
        * {
          opacity: 1;
          @include transform(translateX(0));
          @include loopedElementAnimation(3, .18s, .35s, $bounceEasing, 1s, 'opacity, transform');
        }
      }
    }

  }

}

.bottom {
  padding: $section-padding-lg 0;
  ul {
    font-size: 1.625rem;
    @include FontSemiBold();
    li {
      position: relative;
      margin: .75rem 0;
      opacity: 0;
      @include transform(translateY(32px));
      &:before {
        position: absolute;
        top: .875rem;
        left: -1rem;
        height: 5px;
        width: 5px;
        border-radius: 50%;
        background: $black;
        content: ' ';
      }
    }
  }

  .animate-in {
    ul.list-left {
      li {
        opacity: 1;
        @include transform(translateY(0));
        @include loopedElementAnimation(5, .08s, .75s, $bounceEasing, .8s, 'opacity, transform');
      }
    }
    ul.list-right {
      li {
        opacity: 1;
        @include transform(translateY(0));
        @include loopedElementAnimation(5, .08s, .95s, $bounceEasing, .8s, 'opacity, transform');
      }
    }
  }
}

.fixed-bar:not(.anchored) {
  .fixed-bar-col {
    @include transform(translateY($fixed-bar-height));
  }
}

body.images-loaded {

  .hero {
    h1,h2, .form-panel {
      opacity: 1;
    }
    h1 {
      @include transition(opacity, .5s, ease-in, $delay: .5s);
    }
    h2 {
      @include transition(opacity, .5s, ease-in, $delay: .94s);
    }
    .form-panel {
      @include transition(all, .4s, ease-in, 1.38s);
    }
  }

  .fixed-bar:not(.anchored) {
    .fixed-bar-col {
      opacity: 1;
      @include transform(translateY(0));
      @include loopedElementAnimation(5, .1s, .65s, ease-out, .42s, 'opacity, transform');
    }
  }

}

//@media (max-width: 1920px) {
//  .hero {
//    max-height: 1080px;
//  }
//}

//@media (max-width: 1750px) {
//  .hero {
//    .video-wrap {
//      video {
//        top: 50%;
//        left: 50%;
//        position: absolute;
//        @include transform(translate3d(-50%, -50%, 0));
//        width: 1760px;
//        height: 990px;
//      }
//    }
//  }
//}

@include mq(lg) {
  .hero {
    h1 {
      font-size: 3rem;
    }
  }
}

@include mqRange(md, lg) {

  .grid {
    .inner {
      h1 {
        font-size: 2.125rem;
      }
    }
  }
}

@include mqRange(sm, md) {
  .buckets {
    .bucket {
      img {
        max-width: 90px;
        max-height: 90px;
        margin-top: 1rem;
        padding-right: 1rem;
        &.eye-for-detail {
          margin-right: -1rem;
        }
      }
    }
  }
  .grid {
    .inner {
      width: 90%;
      h1 {
        font-size: 2rem;
      }
      h2 {
        font-size: 1.625rem;
      }
    }
  }
}

@include mq(md) {
  .hero {
    height: 667px !important;
    .video-wrap {
      video {
        top: 50%;
        left: 50%;
        position: absolute;
        @include transform(translate3d(-50%, -50%, 0));
        width: 1200px;
        height: 675px;
      }
    }
  }
  .mobile-quick-form {
    padding: $section-padding 0;
    .form-panel {
      padding: 0;
    }
  }
  .form-panel {
    border: none;
    border-radius: 0;
  }
  .top {
    @include parallaxBgMobile(center);
    padding: $section-padding 0;
    height: auto;
  }
}

@include mq(sm) {
  .buckets {
    .bucket {
      margin: 0 0 3rem !important;
      h3, p {
        text-align: center;
      }
    }
  }
  .grid {
    padding: 0;
    .border-right {
   //   border-right: none;
    }
    .grid-container {
      border-left: 8px solid $white;
      border-bottom: 8px solid $white;
    }
    .inner {
      width: 100%;
      max-width: 100%;
      padding: 5rem 1rem;
    }
  }
  .bottom {
    padding: 5rem 1rem;
    ul {
      margin: 0;
      font-size: 1rem;
      li {
        margin: 0 0 1rem;
        list-style: none;
        text-align: center;
        &:before {
          display: none;
        }
      }
    }
  }
}

@include mq(xs) {
  .hero-wrap {
    height: auto !important;
  }
  .hero {
    height: 630px !important;
    h1 {
      font-size: 2.375rem;
      margin-bottom: 1rem;
    }
    h2 {
      font-size: 1.5rem;
    }
  }
  .form-panel {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
