$accordion-speed: .25s;

.accordion {
  height: 0;
  overflow: hidden;
  background: $grey-dk;
  @include transition($easing: ease-in, $speed: $accordion-speed);
  .inner {
    opacity: 0;
    @include transition($easing: ease-in, $speed: .22s);
    ul {
      margin: 1rem 0 0;
      li {
        margin: .75rem 0;
        color: $white;
        font-size: 1rem;
        @include FontRegular();
        @include customListStyle(6px, 2px, transparent, $green, 1.5rem, .25rem);
      }
    }
  }
  &.active {
    height: 400px;
    @include transition($easing: ease-in, $speed: $accordion-speed, $delay: $accordion-speed);
    .inner {
      opacity: 1;
      @include transition(opacity, ease-in, .38s, .54s);
    }
  }
}

@include mq(sm) {
  .accordion {
    &.active {
      margin-bottom: 1rem;
    }
  }
}

@include mq(xs) {
  .accordion {
    max-height: 0;
    height: auto;
    &.active {
      height: auto;
      max-height: 1000px;
      .inner {
        padding: $section-padding 0;
      }
    }
    .inner {
      text-align: center;
      ul {
        display: inline-block;
        li {
          text-align: left;
        }
      }
    }
  }
}