.fixed-bar {

  height: $fixed-bar-height;
  position: fixed;
  z-index: 10;
  width: 100%;
  bottom: 0;
  left: 0;

  .fixed-bar-col {
    border-radius: 16px 16px 0 0;
    height: 100%;
    border: double 2px transparent;
    border-bottom: none;
    background-image: linear-gradient($gradient-grey-bottom, $gradient-grey-top), radial-gradient(farthest-side at 0% 0%, $white 95%, $border-grey 100%);
    background-origin: border-box;
    background-clip: content-box, border-box;
    a {
      display: block;
      width: 100%;
      height: 100%;
      color: $black;
      text-align: center;
      padding-left: 1rem;
      padding-right: 1rem;
      &:hover {
        color: $blue;
      }
    }
    h3 {
      @include FontBold();
    }
    h4 {
      @include FontRegular();
      text-transform: uppercase;
    }
    h3,h4 {
      font-size: 1rem;
      line-height: 100%;
    }

    &:last-child {
      border-right: none;
    }

  }

  .inner {
    top: 50%;
    @include transform(translateY(-50%));
    position: relative;
  }

}

.fixed-bar.anchored {
  position: relative;
  margin-top: -58px;
}

.above-fixed-bar {
  .container {
    padding-bottom: $fixed-bar-height;
  }
}


@include mqRange(sm, md) {
  .fixed-bar {
    height: $fixed-bar-height * .8;
    .fixed-bar-col {
      h3,h4 {
        font-size: .9rem;
      }
    }
  }
}

@include mq(sm) {
  .fixed-bar {
    position: relative;
    margin-top: -14px !important;
    height: auto;
    padding: 0;
    border-top: 1px solid darken($gradient-grey-top, 22);
    @include gradient($gradient-grey-bottom, $gradient-grey-top);
    .fixed-bar-col {
      @include transition();
      background: none !important;
      border-radius: 0;
      height: 66px;
      border: none;
      border-bottom: 1px solid darken($gradient-grey-top, 22);
      &:last-child {
        border-bottom: none;
      }
      &:hover {
        background: $white !important;
      }
    }
  }
  .above-fixed-bar {
    .container {
      padding-bottom: 0;
    }
  }
}