footer {

  .footer-top {
    background: $grey-dk;
    padding: $section-padding-lg 0;
  }

  .footer-bottom {
    padding: 2rem 0;
    .footer-images {
      margin: 6px 0px 40px 0px !important;
    }
    .footer-image {
      max-height: 72px;
    }
  }

  p {
    @include FontRegular();
    font-size: .875rem;
    color: $grey;
    a {
      color: $grey;
      &:hover {
        color: $blue;
      }
    }
  }

  ul {
    font-size: .875rem;
    line-height: 140%;
    color: darken($grey-lt, 8);
    @include FontRegular();
    li.bold {
      @include FontBold();
    }
    a {
      color: darken($grey-lt, 8);
      &:hover {
        color: $green;
      }
    }
  }

  ul.site-links {
    li {
      display: block;
      margin: 0 0 .75rem;
      &:first-child {
        @include FontBold();
      }
      &.extra-space-top {
        margin-top: 1.5rem;
      }
      &:first-child {
        color: $white;
        a {
          color: inherit;
          &:hover {
            color: $green;
          }
        }
      }
    }
  }

  ul.location {
    margin: -.25rem 0 1.5rem;
    &.regular-space {
      margin-bottom: .5rem;
    }
    li {
      margin: 0;
      line-height: 185%;
      &.bold {
        color: $white;
        a {
          color: $white;
          &:hover {
            color: $green;
          }
        }
      }
    }
  }

  ul.icons {
    li {
      display: inline-block;
      margin: 0 .75rem 0 0;
      font-size: 1.25rem;
      a {
        color: $white;
        &:hover {
          color: $green;
        }
      }
    }
  }

  .affiliations {
    margin-top: 3.5rem;
  }

  ul.nav-section {
    margin-top: 2.5rem;
  }

  .affiliation {
    text-align: center;
    display: block;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    img {
      max-width: 100%;
      &.opacity {
        opacity: .55;
      }
      &.r2 {
        max-height: 75px;
      }
      &.aaa {
        width: 72px;
      }
      &.e-stewards {
        max-height: 75px;
      }
    }
  }

}

@include mqRange(sm, md) {
  footer {
    .affiliation {
      margin-left: 1.3rem;
      margin-right: 1.3rem;
    }
  }
}

@include mq(sm) {
  footer {
    .footer-top {
      padding: 3rem 0;
      .affiliations {
        margin-top: 1.5rem;
      }
      .affiliation {
        margin-left: 1rem;
        margin-right: 1rem;
        img.e-stewards {
          @include transform(translateY(-4px));
        }
      }
      ul.location {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
      }
    }
    .footer-bottom {
      .affiliations {
        margin-top: 1.5rem;
      }
      .affiliation {
        margin-left: 1rem;
        margin-right: 1rem;
        img.e-stewards {
          @include transform(translateY(-4px));
        }
      }
      ul.location {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
      }
    }
  }
}

@include mq(xs) {
  footer {
    .footer-top {
      .affiliation {
        padding: 1rem 0;
        margin: 0;
        text-align: center;
        img {
          max-height: 50px;
          width: auto;
        }
      }
    }
    .footer-bottom {
      .affiliation {
        padding: 1rem 0;
        margin: 0;
        text-align: center;
        img {
          max-height: 50px;
          width: auto;
        }
      }
    }
  }
}
