$form-field-height: 44px;
$panel-width: 540px;

.tab {
  cursor: pointer;
  position: absolute;
  right: -58px;
  top: 400px;
  @include transform(rotate(-90deg));
  background: $white;
  border: 5px solid $grey-lt;
  border-bottom: none;
  border-radius: 12px 12px 0 0;
  z-index: 50;
  opacity: 0;
  @include transition();
  &.active {
    opacity: 1;
  }
  h3 {
    padding: 16px;
    @include FontSemiBold();
    font-size: 18px;
    color: $black;
    @include transition();
    &:hover {
      color: $blue;
    }
  }
}

.form-panel {
  border: 5px solid $grey-lt;
  background: $white;
  padding: 3rem;
  border-radius: 36px;
  width: 100%;


  h3 {
    @include FontSemiBold();
    font-size: 1.5rem;
    color: $black;
    margin: 0 0 1.5rem;
  }

  .close {
    position: absolute;
    top: 1.25rem;
    right: 3.25rem;
    cursor: pointer;
    h4,i {
      @include transition();
    }
    &:hover {
      h4,i {
        color: lighten($blue, 10);
      }
    }
  }

  h4 {
    font-size: .75rem;
    color: $blue;
    @include FontBold();
  }

  .btn {
    width: 100%;
  }

  &.ng-enter,
  &.ng-leave {
    @include transition(opacity, ease-in-out, .25s);
  }

  &.ng-leave.ng-leave-active {
    opacity: 0;
  }

  label.radio {
    p {
      color: $grey-dk;
      @include FontRegular();
      font-size: .875rem;
    }
  }

}

@include mqRange(md, lg) {
  .form-panel {
    padding: 2rem;
    .close {
      right: 2.375rem;
      top: 1rem;
    }
    form {
      label.radio {
        p {
          font-size: .75rem;
        }
      }
    }
  }
}

@include mq(md) {
  .tab {
    display: none;
  }
}

@media (min-width: 992px) {
  .form-panel {
    form {
      .form-field {
        margin-bottom: .75rem;
      }
      input, textarea {
        height: $form-field-height;
        line-height: $form-field-height;
      }
      dropdown {
        .dropdown-display {
          span {
            height: $form-field-height;
            line-height: $form-field-height;
          }
        }
        .dropdown-list {
          top: $form-field-height + 1;
        }
      }
    }
  }
}