$dir: 'common/header';
$img-path: $base-img-path + $dir;


header {

  height: $header-height;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 55;
  background: transparent;
  @include transition();

  > .row {
    padding: 0 6rem 0 2rem;
  }

  a.logo {
    display: block;
    position: relative;
    width: $header-logo-width;
    height: $header-logo-height;
    @include transition($speed: .25s, $easing: ease-out, $delay: .30s);
    h1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      span {
        display: none;
      }
    }

    span.trademark {
      display: block;
      position: absolute;
      top: 9px;
      right: -10px;
      font-size: 12px;
      color: $green;
      @include FontRegular();
    }

    span.trademark-main {
      opacity: 1;
    }

    span.trademark-scroll {
      opacity: 0;
      right: -14px;
      top: 6px;
    }

  }

  h1.desktop-logo {
    @include bgImage($img-path, 'logo.svg');
  }

  h1.mobile-logo {
    @include bgImage($img-path, 'logo-scrolled.svg');
  }

  .show-on-scroll {
    opacity: 0;
    pointer-events: none;
    @include transition($speed: .25s, $easing: ease-out);
  }

  .hide-on-scroll {
    opacity: 1;
    pointer-events: auto;
    @include transition($speed: .25s, $easing: ease-in, $delay: .30s);
  }

}

.phone-number {
  position: fixed;
  top: 44px;
  right: 95px;
  z-index: 55;
  @include transition($easing: ease-out);
  h4 > a {
    @include FontSemiBold();
    font-size: 1.25rem;
    color: $white;
    &:hover {
      color: $green;
    }
  }
}


body.scrolled {
  header {
    background: $black;
  }
  @include headerScrollAndMobile();
}


@include mq(md) {
  @include headerScrollAndMobile();
  header {
    a.logo {
      span.trademark-main {
        display: none;
      }
      span.trademark-scroll {
        right: -14px;
        top: 10px;
        opacity: 1;
      }
    }

  }
}

@include mq(sm) {
  .phone-number, body.scrolled .phone-number {
    transform: translateY(-30px) !important;
    right: 86px;
    i {
      font-size: 2.25rem;
    }
  }
}

@include mq(xs) {
  header {
    > .row {
      padding: 0 1rem;
    }
  }
  .phone-number, body.scrolled .phone-number {
    right: 70px;
  }
}

@include mq(p-lg) {
  header {
    a.logo {
      width: $header-scrolled-logo-width * .85 !important;
      height: $header-scrolled-logo-height * .85 !important;
    }
  }
}

@media (max-width: 350px) {
  .phone-number, body.scrolled .phone-number {
    right: 63px;
    transform: translateY(-22px) !important;
    i {
      font-size: 1.75rem;
    }
  }
}

@include mq(p-md) {
  header {
    a.logo {
      width: $header-scrolled-logo-width * .68 !important;
      height: $header-scrolled-logo-height * .68 !important;
    }
  }
}
