$menu-bar-width: 36px;
$menu-bar-height: 3px;
$menu-bar-spacing: 12px;
$menu-bar-node-size: 3px;

$menu-width: 450px;

.menu-toggle {
  position: fixed;
  z-index: 1000;
  top: 40px;
  right: 32px;
  cursor: pointer;
  @include transition($easing: ease-out);
  .menu-bar {
    width: $menu-bar-width;
    height: $menu-bar-height;
    background: $white;
    position: relative;
    @include transition(background);
    &:not(:last-child) {
      margin-bottom: $menu-bar-spacing;
    }
    &:after {
      content: ' ';
      right: -$menu-bar-node-size;
      top: -3px;
      position: absolute;
      width: $menu-bar-node-size;
      height: $menu-bar-node-size;
      background: $black;
      border: $menu-bar-height solid $white;
      border-radius: 50%;
    }

    @for $i from 1 through 3 {
      $interval: .08s;
      $delay: $interval * $i;

      &:nth-child(#{$i}) {
        &:after {
          transition: transform ease-in-out .15s $delay, border linear .3s;
          -webkit-transition: transform ease-in-out .15s $delay, border linear .3s;
        }
      }

    }

  }
}

.menu-toggle:hover {
  .menu-bar {
    background: lighten($green, 10);
    &:after {
      border-color: lighten($green, 10);
    }
  }
}

.menu-toggle.active {
  .menu-bar {
    &:after {
      @include transform(translateX(-$menu-bar-width - $menu-bar-node-size));
    }
  }
}

.menu {
  background: $grey-dk;
  width: $menu-width;
  max-width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 500;
  @include transform(translateX($menu-width * 1.5));
  @include transition();
  padding: 4.5rem 3rem 0;

  ul {
    margin: 0 0 2rem;
    li {
      margin: .75rem 0;
      font-size: 1.25rem;
      color: $white;
      @include FontRegular();
      &:first-child {
        @include FontBold();
        text-transform: uppercase;
      }
      a {
        color: inherit;
        &:hover, &.active {
          color: $green;
        }
      }
    }
  }

}

.menu.active {
  @include transition($speed: .5s, $easing: ease-in-out);
  @include transform(translateX(0));
}

body.scrolled {
  @include menuToggleScrollAndMobile();
}

@include mq(md) {
  @include menuToggleScrollAndMobile();
}

@include mq(sm) {
  .menu {
    ul {
      margin: 0 0 2rem;
      li {
        margin: .5rem 0;
        font-size: 1rem;
      }
    }
  }
}

@include mq(xs) {
  .menu-toggle {
    right: 1rem;
  }
}

@include mq(p-md) {
  .menu {
    padding: 3.5rem 2rem;
    ul {
      margin: 0 0 1.5rem;
      li {
        font-size: 14px;
      }
    }
  }
}

@media (max-width: 350px) {
  .menu-toggle, body.scrolled .menu-toggle {
    transform: scale(.822) translatey(-25px) !important;;
  }
}

@include mq(p-sm) {
  .menu {
    ul {
      li {
        font-size: 13px;
      }
    }
  }
}
