@import '../../src/fonts';
@import '../../src/variables';
@import '../../src/mixins';
@import '../../src/form';
@import '../../src/hero';
@import '../../src/grid';



$dir: 'hard-drive-shredding';
$common: 'common';
$img-path: $base-img-path + $dir;
$common-img-path: $base-img-path + $common;

$bucket-height: 170px;

.hero {
  @include bgImage($img-path, 'hero.jpg');
}

.top {
  padding: $section-padding-lg 0;
  img {
    max-width: 100%;
  }

  .content-inner {
    * {
      opacity: 0;
    }
  }

  .animate-in {
    .content-inner {
      * {
        opacity: 1;
      }
    }
    .content-inner-left {
      * {
        @include loopedElementAnimation(4, .2s, .25s, ease-in, .5s, 'opacity');
      }
    }
    .content-inner-right {
      * {
        @include loopedElementAnimation(4, .2s, .85s, ease-in, .5s, 'opacity');
      }
    }
  }

}

.offers {
  padding: $section-padding-lg 0;
  @include bgImage($common-img-path, 'bg-2.jpg', $size: 110% 110%);
  ul.custom-dot {
    li {
      margin: 1rem 0;
      opacity: 0;
      span.light {
        @include FontLight();
      }
      @include transform(translateY(25px));
    }
  }
  .animate-in {
    ul.custom-dot {
      li {
        opacity: 1;
        @include transform(translateY(0));
        @include loopedElementAnimation(8, .075s, .45s, $bounceEasing, 1s, 'opacity, transform');
      }
    }
  }
}

.grid {
  padding-bottom: $fixed-bar-height;
  .images {
    .row {
      margin-right: -8px;
    }

  }
  .inner {
    margin: 0 auto;
    max-width: 80%;
  }
  .border-top {
    border-top: $grid-border-lg;
  }
  .border-right {
    border-right: $grid-border-lg;
  }
  .border-bottom {
    border-bottom: $grid-border-lg;
  }
}

@include mq(md) {
  .top {
    img.mobile-space {
      margin: 3.5rem auto;
    }
    .animate-in {
      .content-inner-right {
        * {
          @include loopedElementAnimation(4, .2s, .25s, ease-in, .5s, 'opacity');
        }
      }
    }
  }
  .grid {
    .inner {
      padding: 5rem 1rem;
    }
  }
}

@include mq(sm) {
  .grid {
    padding-bottom: 0;
    .inner {
      max-width: 100%;
    }
  }
}