<div class="newsroom-sections">
    <section class="hero acc-height acc-padding" data-top-top="background-position: 50% 5%;" data-top-bottom="background-position: 50% 55%;">
        <div class="video-wrap hidden-sm-down">
            <video autoplay muted loop>
                <source src="/video/itad.mp4" type="video/mp4">
            </video>
        </div>
        <div class="container full-height">
            <div class="row center v-center full-height">
                <div class="col-40 col-md-50 acc-full-width align-center">
                    <heading text="Data Center Specialists"></heading>
                    <h1>Customer Focused Data Center Solutions</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content content-black top">
        <div class="container">
            <div class="row center news-heading">
                <div class="col-free align-center">
                    <h2 class="regular" style="height: fit-content;">End-To-End Process Management</h2>
                </div>
            </div>
            <div class="row center">
                <div class="col-free align-center">
                    <p>Greenchip's goal is to ensure all our partners are left with peace of mind, knowing that
                    their data has been securely disposed of to the highest standards and in the most pecuniary
                    beneficial way possible. Running parallel to the global circular economy market, one that is
                    project to be worth USD 657,111 million by 2027.</p>
                    <p>We are passionate about finding new ways to reduce, reuse, and recycle resources, to
                    create a more sustainable future. By providing circular economy solutions, Greenchip focus on
                    strengthening and reusing materials as well as the refurbishing of existing parts. We invest in
                    new technologies to draw out greater material values, enabling us to close the loop for a more
                    environmentally responsible future while enhancing customers' financial returns.</p>
                    <p>Extending the lifecycle of data center equipment plays an integral role in the circular
                    low-carbon economy. Reuse and recycling ensures resources are available to make new products.</p>
                    <p>Learn more about how Greenchip helps clients achieve and measure sustainability gains.</p>
                </div>
            </div>
            <div class="industry-news-section">
                <div class="news-item">
                    <img src="/img/newsroom/industry-news-1.png" alt="industry news 1"/>
                    <h3>Processor improves CRT glass recycling capabilities</h3>
                    <p>PUBLISHED BY <b>E-SCRAP NEWS</b></p>
                    <p>JUNE 7, 2023</p>
                    <a href="https://resource-recycling.com/e-scrap/2023/06/07/processor-improves-crt-glass-recycling-capabilities/" target="_blank">Read More</a>
                </div>
                <div class="news-item">
                    <img src="/img/newsroom/industry-news-2.png" alt="industry news 2"/>
                    <h3>News from ER2, Greenchip and more</h3>
                    <p>PUBLISHED BY <b>E-SCRAP NEWS</b></p>
                    <p>MAY 10, 2023</p>
                    <a href="https://resource-recycling.com/e-scrap/2023/05/10/news-from-er2-greenchip-and-more/" target="_blank">Read More</a>
                </div>
                <div class="news-item">
                    <img src="/img/newsroom/industry-news-3.png" alt="industry news 3"/>
                    <h3>Timeline: The collapse of a colossal CRT downstream</h3>
                    <p>PUBLISHED BY <b>E-SCRAP NEWS</b></p>
                    <p>JANUARY 31, 2023</p>
                    <a href="https://resource-recycling.com/e-scrap/2023/01/19/timeline-the-collapse-of-a-colossal-crt-downstream/" target="_blank">Read More</a>
                </div>
            </div>
            <div class="row center">
                <div class="col-free align-center">
                    <a href="/industry-news" class="news-button light">View All Industry News</a>
                </div>
            </div>
        </div>
    </section>
    <section class="content content-black greenchip-on-the-go">
        <div class="container">
            <div class="row center news-heading">
                <div class="col-free align-center">
                    <h2 class="regular">Greenchip On The Go</h2>
                </div>
            </div>
            <div class="row center">
                <div class="col-free align-center">
                    <p>We've handpicked insightful articles on the latest happenings in the industry.</p>
                </div>
            </div>
            <div class="greenchip-on-the-go-section">
                <div class="news-item">
                    <img src="/img/newsroom/zoom-in.png" alt="zoom" class="zoom" width="40px" onclick=""/>
                    <img src="/img/newsroom/greenchip-on-the-go-1.png" alt="greenchip on the go 1"/>
                    <h3>[Earth Day With LG 🌎] Celebrating Earth Day the LG Way: E-Waste Drive & Color Run</h3>
                    <a href="https://www.lgnewsroom.com/2023/04/earth-day-with-lg-🌎-celebrating-earth-day-the-lg-way-e-waste-drive-and-color-run/">Learn More</a>
                </div>
                <div class="news-item">
                    <img src="/img/newsroom/zoom-in.png" alt="zoom" class="zoom" width="40px" onclick=""/>
                    <img src="/img/newsroom/greenchip-on-the-go-2.png" alt="greenchip on the go 2"/>
                    <h3>[Earth Day With LG 🌎] Celebrating Earth Day the LG Way: E-Waste Drive & Color Run</h3>
                    <a href="https://www.lgnewsroom.com/2023/04/earth-day-with-lg-🌎-celebrating-earth-day-the-lg-way-e-waste-drive-and-color-run/">Learn More</a>
                </div>
                <div class="news-item">
                    <img src="/img/newsroom/zoom-in.png" alt="zoom" class="zoom" width="40px" onclick=""/>
                    <img src="/img/newsroom/greenchip-on-the-go-3.png" alt="greenchip on the go 3"/>
                    <h3>[Earth Day With LG 🌎] Celebrating Earth Day the LG Way: E-Waste Drive & Color Run</h3>
                    <a href="https://www.lgnewsroom.com/2023/04/earth-day-with-lg-🌎-celebrating-earth-day-the-lg-way-e-waste-drive-and-color-run/">Learn More</a>
                </div>
            </div>
            <div class="row center">
                <div class="col-free align-center">
                    <a href="/greenchip-on-the-go" class="news-button dark">View All Greenchip On The Go</a>
                </div>
            </div>
        </div>
    </section>
</div>