@import '../../src/variables';
@import '../../src/mixins';
@import '../../src/fonts';

header {
  background: $black;
}

.content {
  padding-top: 12rem;
  h1 {
    @include FontBold();
  }
  h2 {
    margin: 0 0 .5rem;
  }
  p {
    margin: 0 0 2rem;
  }
  a {
    color: $black;
  }
}

@include mq(md) {
  .content {
    padding-top: 8rem;
  }
}