<section class="content privacy-policy acc-break-word">
    <div class="container">
        <div class="row center">
            <div class="col-42 col-md-48">
                <h1 class="align-center">Privacy Policy</h1>

                <div class="row">
                    <div class="col-free section-number">
                        <p class="bold">1.</p>
                    </div>
                    <div class="col">
                        <p class="bold">Introduction</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>1.1</p>
                    </div>
                    <div class="col">
                        <p>We are committed to safeguarding the privacy of visitors and users of <span class="bold">Greenchip Recycling</span>
                            and <span class="bold">www.greenchiprecycling.com</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>1.2</p>
                    </div>
                    <div class="col">
                        <p>This policy applies where we are acting as a data controller with respect to the personal data of our website
                            visitors and service users; in other words, where we determine the purposes and means of the processing of that personal data.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>1.3</p>
                    </div>
                    <div class="col">
                        <p>We use cookies on our website. Whenever the cookies are not strictly necessary for the provision of
                            <span class="bold">www.greenchiprecycling.com</span>, we will ask you to consent to our use of cookies when you first visit our website.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>1.4</p>
                    </div>
                    <div class="col">
                        <p>Our website incorporates privacy controls which affect how we will process your personal data. By using
                            the privacy controls, you can limit the publication of your information. You can access the privacy
                            controls by contacting the site administrator.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>1.5</p>
                    </div>
                    <div class="col">
                        <p>In this policy, "we", "us" and "our" refer to <span class="bold">Greenchip Recycling</span>. For more information about us, see Section 11.</p>
                    </div>
                </div>

                <div class="row extra-space">
                    <div class="col-free section-number">
                        <p class="bold">2.</p>
                    </div>
                    <div class="col">
                        <p class="bold">How we use your personal data</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>2.1</p>
                    </div>
                    <div class="col">
                        <p>In this Section 2 we have set out:</p>
                        <ol>
                            <li>the general categories of personal data that we may process;</li>
                            <li>in the case of personal data that we did not obtain directly from you, the source and specific categories of that data;</li>
                            <li>the purposes for which we may process personal data; and</li>
                            <li>the legal bases of the processing.</li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>2.2</p>
                    </div>
                    <div class="col">
                        <p>We may process data about your use of our website and services ("usage data"). The usage data may include
                            your IP address, geographical location, browser type and version, operating system, referral source, length of visit,
                            page views and website navigation paths, as well as information about the timing, frequency and pattern of your service
                            use. The source of the usage data is Google Analytics. This usage data may be processed for the improvement of our
                            services and for marketing purposes. The legal basis for this processing is our legitimate business interests,
                            namely monitoring and improving our website and services.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>2.3</p>
                    </div>
                    <div class="col">
                        <p>We may process your account data ("account data"). The account data may include your name and email address.
                            The source of the account data is whatever identifying information you provide to us. The account data may be
                            processed for the purposes of operating our website, providing our services, ensuring the security of our
                            website and services, maintaining back-ups of our databases and communicating with you. The legal basis for
                            this processing is our legitimate interests, namely the proper administration of our website and business.</p>
                    </div>
                </div>

                <div class="row extra-space">
                    <div class="col-free section-number">
                        <p class="bold">3.</p>
                    </div>
                    <div class="col">
                        <p class="bold">Providing your personal data to others</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>3.1</p>
                    </div>
                    <div class="col">
                        <p>We may disclose your personal data to any member of our group of companies (this means our subsidiaries, our
                            ultimate holding company and all its subsidiaries) insofar as reasonably necessary for the purposes,
                            and on the legal bases, set out in this policy.</p>
                    </div>
                </div>

                <div class="row extra-space">
                    <div class="col-free section-number">
                        <p class="bold">4.</p>
                    </div>
                    <div class="col">
                        <p class="bold">Retaining and deleting personal data</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>4.1</p>
                    </div>
                    <div class="col">
                        <p>This Section 4 sets out our data retention policies and procedure, which are designed to help ensure that
                            we comply with our legal obligations in relation to the retention and deletion of personal data.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>4.2</p>
                    </div>
                    <div class="col">
                        <p>Personal data that we process for any purpose or purposes shall not be kept for longer than is necessary for that purpose or those purposes.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>4.3</p>
                    </div>
                    <div class="col">
                        <p>We will retain your personal data as follows:</p>
                        <ol>
                            <li>Your browsing data will be encrypted and retained for a minimum period of 365 days following your last
                                visit to this website for the purposes of Google Analytics and content marketing. </li>
                        </ol>
                    </div>
                </div>

                <div class="row extra-space">
                    <div class="col-free section-number">
                        <p class="bold">5.</p>
                    </div>
                    <div class="col">
                        <p class="bold">Amendments</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>5.1</p>
                    </div>
                    <div class="col">
                        <p>We may update this policy from time to time by publishing a new version on our website.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>5.2</p>
                    </div>
                    <div class="col">
                        <p>You should check this page occasionally to ensure you are happy with any changes to this policy.</p>
                    </div>
                </div>

                <div class="row extra-space">
                    <div class="col-free section-number">
                        <p class="bold">6.</p>
                    </div>
                    <div class="col">
                        <p class="bold">Your rights</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>6.1</p>
                    </div>
                    <div class="col">
                        <p>In this Section 6, we have summarized the rights that you have under data protection law. Some of the
                            rights are complex, and not all of the details have been included in our summaries. Accordingly, you
                            should read the relevant laws and guidance from the regulatory authorities for a full explanation of
                            these rights.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>6.2</p>
                    </div>
                    <div class="col">
                        <p>Your principal rights under data protection law are:</p>
                        <ol>
                            <li>the right to access;</li>
                            <li>the right to rectification;</li>
                            <li>the right to erasure;</li>
                            <li>the right to restrict processing;</li>
                            <li>the right to object to processing;</li>
                            <li>the right to data portability;</li>
                            <li>the right to complain to a supervisory authority; and</li>
                            <li>the right to withdraw consent.</li>
                        </ol>
                    </div>
                </div>

                <div class="row extra-space">
                    <div class="col-free section-number">
                        <p class="bold">7.</p>
                    </div>
                    <div class="col">
                        <p class="bold">About cookies</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>7.1</p>
                    </div>
                    <div class="col">
                        <p>A cookie is a file containing an identifier (a string of letters and numbers) that is sent by a web server
                            to a web browser and is stored by the browser. The identifier is then sent back to the server each time
                            the browser requests a page from the server.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>7.2</p>
                    </div>
                    <div class="col">
                        <p>Cookies may be either "persistent" cookies or "session" cookies: a persistent cookie will be stored by a
                            web browser and will remain valid until its set expiry date, unless deleted by the user before the expiry
                            date; a session cookie, on the other hand, will expire at the end of the user session, when the web browser is closed.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>7.3</p>
                    </div>
                    <div class="col">
                        <p>Cookies do not typically contain any information that personally identifies a user, but personal information
                            that we store about you may be linked to the information stored in and obtained from cookies.</p>
                    </div>
                </div>

                <div class="row extra-space">
                    <div class="col-free section-number">
                        <p class="bold">8.</p>
                    </div>
                    <div class="col">
                        <p class="bold">Cookies that we use</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>8.1</p>
                    </div>
                    <div class="col">
                        <p>We use cookies for the following purposes:</p>
                        <ol>
                            <li>authentication - we use cookies to identify you when you visit our website and as you navigate our website</li>
                            <li>security - we use cookies as an element of the security measures used to protect user accounts, including
                                preventing fraudulent use of login credentials, and to protect our website and services generally</li>
                            <li>analysis - we use cookies to help us to analyze the use and performance of our website and services and</li>
                            <li>cookie consent - we use cookies to store your preferences in relation to the use of cookies more generally.</li>
                        </ol>
                    </div>
                </div>

                <div class="row extra-space">
                    <div class="col-free section-number">
                        <p class="bold">9.</p>
                    </div>
                    <div class="col">
                        <p class="bold">Cookies used by our service providers</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>9.1</p>
                    </div>
                    <div class="col">
                        <p>Our service providers use cookies and those cookies may be stored on your computer when you visit our website.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>9.2</p>
                    </div>
                    <div class="col">
                        <p>We use Google Analytics to analyze the use of our website. Google Analytics gathers information about website use by
                            means of cookies. The information gathered relating to our website is used to create reports about the use of our
                            website. Google's privacy policy is available at:
                            <a href="https://www.google.com/policies/privacy/" target="_blank">https://www.google.com/policies/privacy</a></p>
                    </div>
                </div>

                <div class="row extra-space">
                    <div class="col-free section-number">
                        <p class="bold">10.</p>
                    </div>
                    <div class="col">
                        <p class="bold">Managing cookies</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>10.1</p>
                    </div>
                    <div class="col">
                        <p>Most browsers allow you to refuse to accept cookies and to delete cookies. The methods for doing so vary
                            from browser to browser, and from version to version. You can however obtain up-to-date
                            information about blocking and deleting cookies via these links:</p>
                        <ol>
                            <li>
                                <a href="https://support.google.com/chrome/answer/95647?hl=en" target="_blank">
                                    https://support.google.com/chrome/answer/95647?hl=en</a> (Chrome);
                            </li>
                            <li>
                                <a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences" target="_blank">
                                    https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences</a>
                                (Firefox);
                            </li>
                            <li>
                                <a href="http://www.opera.com/help/tutorials/security/cookies/" target="_blank">
                                    http://www.opera.com/help/tutorials/security/cookies/</a>
                                (Opera);
                            </li>
                            <li>
                                <a href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies" target="_blank">
                                    https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies</a>
                                (Internet Explorer);
                            </li>
                            <li>
                                <a href="https://support.apple.com/kb/PH21411" target="_blank">
                                    https://support.apple.com/kb/PH21411</a>
                                (Safari); and
                            </li>
                            <li>
                                <a href="https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy" target="_blank">
                                    https://privacy.microsoft.com/en-us/windows-10-microsoft-edge-and-privacy</a>
                                (Edge).
                            </li>
                        </ol>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>10.2</p>
                    </div>
                    <div class="col">
                        <p>Blocking all cookies will have a negative impact upon the usability of many websites.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>10.3</p>
                    </div>
                    <div class="col">
                        <p>If you block cookies, you will not be able to use all the features on our website.</p>
                    </div>
                </div>

                <div class="row extra-space">
                    <div class="col-free section-number">
                        <p class="bold">11.</p>
                    </div>
                    <div class="col">
                        <p class="bold">Our details</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>11.1</p>
                    </div>
                    <div class="col">
                        <p>This website is owned and operated by <span class="bold">Greenchip Recycling</span>.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>11.2</p>
                    </div>
                    <div class="col">
                        <p>You can contact us by email at: <a href="mailto:info@greenchiprecycling.com">info@greenchiprecycling.com</a></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>11.3</p>
                    </div>
                    <div class="col">
                        <p>Our mailing addresses are: </p>
                        <div class="row wrap-xs">
                            <div class="col-free col-xs-50">
                                <ul>
                                    <li>19-36 38th Street</li>
                                    <li>Astoria, NY 11105</li>
                                </ul>
                            </div>
                            <div class="col-free offset-2 col-xs-50 xs-offset-0">
                                <ul>
                                    <li>540 Kingsland Avenue</li>
                                    <li>Brooklyn, NY 11222</li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="col-free section-number">
                        <p>11.4</p>
                    </div>
                    <div class="col">
                        <p>Our contact form can be found: <a href="<?= $this->url('home'); ?>">http://www.greenchiprecycling.com</a></p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</section>
