<div class="crt-glass-sections">
    <section class="hero acc-height acc-padding" data-top-top="background-position: 50% 5%;" data-top-bottom="background-position: 50% 55%;">
        <div class="video-wrap hidden-sm-down">
            <video autoplay muted loop>
                <source src="/video/itad.mp4" type="video/mp4">
            </video>
        </div>
        <div class="container full-height">
            <div class="row center v-center full-height">
                <div class="col-40 col-md-50 acc-full-width align-center">
                    <heading text="CRT Glass"></heading>
                    <h1>Greenchip Covers Your Liability.</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content content-black top">
        <div class="container">
            <div class="row center crt-glass-heading">
                <div class="col-free align-center">
                    <h2 class="regular" style="height: fit-content;">Greenchip Is The Industry's Downstream</h2>
                </div>
            </div>
            <div class="row center">
                <div class="col-free align-center">
                    <p>In addition to offering a proven processing solution for CRTs, Greenchip offers significant
                    processing capacity, instantaneous reporting as well as the trust of numerous state and national
                    organizations. We pride ourselves in being an industry leader and are known for our 100%
                    transparent process.</p>
                </div>
            </div>
            <div class="row center crt-glass-row">
                <div class="crt-image-unit">
                    <div class="crt-image-small">
                        <img src="/img/crt-glass/crt-glass-1.png" alt="crt-glass-1"/>
                    </div>
                    <img src="/img/crt-glass/divider.png" alt="divider" class="divider"/>
                    <div class="crt-description">
                        <h3>
                            Our Vision
                        </h3>
                        <p>
                            Greenchip's vision is to deliver world-class electronic recycling solutions to our partners with integrity and transparency.
                        </p>
                    </div>
                </div>
                <div class="crt-image-unit">
                    <div class="crt-image-small">
                        <img src="/img/crt-glass/crt-glass-2.png" alt="crt-glass-1"/>
                    </div>
                    <img src="/img/crt-glass/divider.png" alt="divider" class="divider"/>
                    <div class="crt-description">
                        <h3>
                            Zero Stockpiling
                        </h3>
                        <p>
                            Partners glass shipments can be tracked through our warehouse utilizing our glass tracking tool - transparency from start to finish.
                        </p>
                    </div>
                </div>
            </div>
            <div class="crt-glass-row">
                <div class="crt-column logos-section">
                    <div class="crt-image-unit">
                        <div class="crt-image-small e-stewards">
                            <img src="/img/crt-glass/crt-glass-3.png" alt="crt-glass-3"/>
                        </div>
                        <img src="/img/crt-glass/divider.png" alt="divider" class="divider" id="logos-divider"/>
                        <div class="crt-image-small">
                            <img src="/img/crt-glass/crt-glass-4.png" alt="crt-glass-4"/>
                        </div>
                    </div>
                    <p>
                        In accordance with both e-Stewards and R2v3 guidelines, our process meets their requirements.
                        Not every recycler can say that. As with everything glass-related, we believe the process should
                        be completely clear. You rely on us to cover your liability and protect the industry standing
                        and reputation you've worked so hard to build. We are a family business that understands how
                        hard others work for their own families. We believe that our industry deserves transparency.
                    </p>
                </div>
                <div class="crt-column flex-start">
                    <div class="row">
                        <img src="/img/crt-glass/crt-glass-5.png" alt="crt-glass-5" id="crt-glass-5"/>
                        <img src="/img/crt-glass/crt-glass-6.png" alt="crt-glass-6" id="crt-glass-6"/>
                    </div>
                    <img src="/img/crt-glass/crt-glass-7.png" alt="crt-glass-7" id="crt-glass-7"/>
                </div>
            </div>
            <div class="crt-glass-row">
                <div id="crt-lower-section">
                    <div class="row center crt-glass-heading">
                        <div class="col-free align-center" style="width: 50%; min-width: 400px;">
                            <h2 class="regular" style="height: fit-content; color: #a4f347; margin-bottom: 10px; margin-top: 20px;">Our Promise</h2>
                            <p style="color: white; font-size: 24px; font-weight: 500; margin: 0px 0px 25px 0px;">Glass In. Glass Out. Period.</p>
                            <button class="tracker-button">Leaded Glass Liability Tracker</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>