@import '../../src/fonts';
@import '../../src/variables';
@import '../../src/mixins';
@import '../../src/content';

@include headerScrollAndMobile();
@include menuToggleScrollAndMobile();

header {
  background: $black;
}

.content {
  .container {
    padding: 8rem 0;
  }

  .row {
    margin: .5rem 0;
    &.extra-space {
      margin: 1.5rem 0 .5rem;
    }
  }

  .section-number {
    p {
      width: 50px;
    }
  }

  h1 {
    margin-bottom: 2rem;
  }

  ol {
    list-style: lower-alpha;
    line-height: 150%;
    @include FontLight();
  }

  ol,ul {
    margin: 0;
    li {
      @include FontLight();
      margin: .5rem 0;
    }
  }

  p {
    margin: 0;
  }

  a {
    color: $blue;
    word-break: break-word;
  }

  p, span {
    &.bold {
      @include FontBold();
    }
  }

}

@include mq(sm) {
  .content {
    ol, ul {
      padding-left: 1rem;
    }
    .section-number {
      p {
        width: 40px;
      }
    }
  }
}

@include mq(xs) {
  .content {
    ol, ul, p {
      font-size: .875rem;
    }
  }
}