<section class="hero">
    <div class="container full-height">
        <div class="row center v-center full-height">
            <div class="col-42 col-md-48 align-center">
                <h1>Events</h1>
            </div>
        </div>
    </div>
</section>
<section class="content content-black top above-fixed-bar">
    <div class="container">
        <div class="row center">
            <div class="col align-center content-inner">
                <h4>For current event schedule please call: <a href="tel:<?= $this->externalUrl('phone-toll-free'); ?>"><?= $this->externalUrl('phone-toll-free'); ?></a></h4>
            </div>
        </div>
    </div>
</section>
