<div class="accordion content content-white" ng-class="{ active: accordions.active == 'brand-protection' }">
    <div class="container full-height">
        <div class="row center full-height v-center">
            <div class="col-40 col-xs-46 acc-full-width">
                <div class="inner">
                    <p>With ever growing laws governing the disposition of IT assets in the U.S. alone, it’s vital to have Greenchip as
                       your ITAD partner to help you navigate the complicated legal waters when refreshing your IT assets. We’re experts
                       on the environmental, security, compliance, and chain-of-custody challenges organizations faces when retiring IT
                       equipment. To protect our partner’s brands, we focus on the key areas of Ensuring Compliance, Data Security, ROI,
                       Chain of Custody and compliant recycling. We handle every step in the ITAD process so our partners can be certain
                       the job will be performed correctly.</p>
                </div>
            </div>
        </div>
    </div>
</div>
