<div class="accordion content content-white" ng-class="{ active: accordions.active == 'compliant-recycling' }">
    <div class="container full-height">
        <div class="row center full-height v-center">
            <div class="col-40 col-xs-46 acc-full-width">
                <div class="inner">
                    <p>With over 20 years of industry experience Greenchip is dedicated to responsible electronics recycling. We
                       hold the highest industry certifications for electronics recycling and have OEM backing to subsidize our
                       cost of recycling. This allows us to utilize the most up to date recycling technology and a thoroughly
                       audited recycling network. This takes the burden off your shoulders knowing you will be free of environmental
                       liability from mismanaged electronic waste.</p>
                </div>
            </div>
        </div>
    </div>
</div>
