<div class="accordion content content-white" ng-class="{ active: accordions.active == 'data-security' }">
    <div class="container full-height">
        <div class="row center full-height v-center">
            <div class="col-40 col-xs-46 acc-full-width">
                <div class="inner">
                    <p>As the most important part of the disposition process it is crucial to have a trusted provider of secure
                       data destruction services. You can rely on Greenchip’s robust security procedures to be certain your
                       data is safe from any potential breach. When your equipment arrives at our facility it is immediately
                       audited, inventoried and assigned a serial number so we can track it through its lifecycle. Data storing
                       devices are then shred or wiped which makes data recovery impossible. Our data destruction services are
                       compliant within DOD, HIPAA and NIST standards to name a few. For greater chain of custody, we also offer
                       on-site destruction services.</p>
                </div>
            </div>
        </div>
    </div>
</div>
