<div class="accordion content content-white" ng-class="{ active: accordions.active == 'logistics' }">
    <div class="container full-height">
        <div class="row center full-height v-center">
            <div class="col-40 col-xs-46 acc-full-width">
                <div class="inner">
                    <p>Greenchip can coordinate a pickup no matter where you are located.Our New York City headquarters coordinate
                       our operations nationally, as well as our regional partners and suppliers across the globe. We have expanded
                       from a national ITAD provider to one of a global scope by leveraging a partnership network of key IT asset
                       solutions providers. We identify key regional providers that uphold our principles to ensure we are able to
                       offer the same high level of service across important global sectors. </p>
                </div>
            </div>
        </div>
    </div>
</div>
