<div class="accordion content content-white" ng-class="{ active: accordions.active == 'roi' }">
    <div class="container full-height">
        <div class="row center full-height v-center">
            <div class="col-40 col-xs-46 acc-full-width">
                <div class="inner">
                    <p>Using our expertise we will assess your equipment’s market value and find the channel that will maximize
                       the highest possible return for you. With direct access to primary resale markets and through our in-house
                       refurbishing process we are able to eliminate the middleman and offer the highest rates paid on your
                       remarketable assets. We also offer profit sharing our outright purchasing options for your assets.</p>
                </div>
            </div>
        </div>
    </div>
</div>