<div class="accordion content content-white" ng-class="{ active: accordions.active == 'value-added-service' }">
    <div class="container full-height">
        <div class="row center full-height v-center">
            <div class="col-40 col-xs-46 acc-full-width">
                <div class="inner">
                    <p>Greenchip goes beyond the standard services of other providers with a full suite of incentive programs. We
                       understand our partner’s needs are complex and have designed our incentives with that in mind. Just a
                       few of our programs include:</p>
                    <ul>
                        <li>Donation Programs</li>
                        <li>Redeployment Programs</li>
                        <li>Company Buyback Programs</li>
                        <li>Customized Reporting</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
