@import '../../src/fonts';
@import '../../src/variables';
@import '../../src/mixins';
@import '../../src/hero';


$dir: 'careers';
$img-path: $base-img-path + $dir;

.hero {
  @include bgImage($img-path, 'hero.jpg');
}

.job {
  border-bottom: 1px solid $border-grey;
  padding-bottom: 3rem;
  margin-bottom: 3rem;
}

.content {
  padding: $section-padding 0;

  ul {
    margin-left: 1.15rem;
    li {
      @include FontRegular();
      font-size: 1rem;
      list-style: disc;
      line-height: 175%;
    }
  }

  h4 {
    margin-bottom: 0;
  }

  p, p:last-of-type, ul {
    margin-bottom: 1.25rem;

    &.no-space {
      margin-bottom: 0;
    }
  }

  a.text-only {
    @include FontBold();
    @include color($blue, darken($blue, 10));
  }
}

.btn {
  width: 230px;
  margin-left: auto;
  margin-right: auto;
}

.full-description {
  &.ng-enter {
    opacity: 0;
    max-height: 0;
    @include transition($speed: .2s, $easing: ease-in);
  }
  &.ng-enter.ng-enter-active {
    opacity: 1;
    max-height: 14444px;
    @include transition($speed: .2s, $easing: ease-out);
  }
}
