@import '../../src/fonts';
@import '../../src/variables';
@import '../../src/mixins';
@import '../../src/form';
@import '../../src/hero';
@import '../../src/grid';
@import '../../src/box';
@import '../../partials/form-panel';
@import '../../partials/accordion';


$dir: 'data-center-specialists';
$common: 'common';
$img-path: $base-img-path + $dir;
$common-img-path: $base-img-path + $common;

$bucket-height: 180px;

.hero {
  @include bgImage($img-path, 'hero.jpg');
  position: relative;
  overflow: hidden;
}

.top {
  ul {
    margin: 1rem 0 0;
    li {
      margin: 1rem 0;
      font-size: 1rem;
      @include FontBold();
      @include customListStyle(8px, 2px, transparent, $green-dk, 1.5rem, .375rem);
    }
  }
  .images {
    img:first-child {
      border-top: $grid-border-lg;
    }
    img {
      border-bottom: $grid-border-lg;
      width: 100%;
    }
  }
  .inner {
    position: relative;
    margin: 0 auto;
    width: 75%;
    max-width: 620px;
  }
  h4 {
    margin: 1.5rem 0 0;
  }
}

.container {
  .last-row {
    padding-bottom: 4rem;
  }
}

.industry-news-section {
  display: flex;
  flex-wrap: wrap;

  .news-item {
    padding: 20px;
    border: 2px solid #3f9b42;
    margin: 20px;
    max-width: 480px;
    p {
      margin: 0px;
      font-size: 20px;
      line-height: 110%;
      color: #686868;
    }
    h3 {
      margin: 0px;
      color: black;
      font-weight: 600;
      font-size: 28px;
      margin-top: 20px;
      margin-bottom: 5px;
    }
    a {
      color: #3f9b42;
      font-weight: 600;
      font-size: 20px;
      font-family: "Montserrat", sans-serif;
      margin: 20px 0px 10px 0px;
      display: block;
    }
    img {
      width: 436px;
    }
  }
}

.newsroom-sections {
  .content {
    .container {
      margin-left: 0px;
      margin-right: 0px;
      width: 100%;
      padding: 0px 20px;
      .row {
        .align-center {
          p {
            font-size: 20px;
            margin: 0px 0px 30px 0px;
            font-weight: 500;
          }
        }
      }
    }
  }
}

@media (max-width: 500px) {
  .industry-news-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .news-item {
      padding: 20px;
      border: 2px solid #3f9b42;
      margin: 20px;
      max-width: 380px;
      p {
        margin: 0px;
        font-size: 20px;
        line-height: 110%;
        color: #686868;
      }
      h3 {
        margin: 0px;
        color: black;
        font-weight: 600;
        font-size: 28px;
        margin-top: 20px;
        margin-bottom: 5px;
      }
      a {
        color: #3f9b42;
        font-weight: 600;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        margin: 20px 0px 10px 0px;
        display: block;
      }
      img {
        width: 336px;
      }
    }
  }
}

@media (max-width: 400px) {
  .news-button {
    width: 300px;
    font-size: 16px;
    padding: 10px;
  }
  .industry-news-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .news-item {
      padding: 20px;
      border: 2px solid #3f9b42;
      margin: 20px;
      max-width: 330px;
      p {
        margin: 0px;
        font-size: 20px;
        line-height: 110%;
        color: #686868;
      }
      h3 {
        margin: 0px;
        color: black;
        font-weight: 600;
        font-size: 28px;
        margin-top: 20px;
        margin-bottom: 5px;
      }
      a {
        color: #3f9b42;
        font-weight: 600;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        margin: 20px 0px 10px 0px;
        display: block;
      }
      img {
        width: 286px;
      }
    }
  }
}

@include mqRange(md, lg) {
  .top {
    .inner {
      width: 90%;
      p {
        font-size: .9rem;
      }
    }
  }
}

@include mq(md) {
  .top {
    .inner {
      padding: $section-padding-lg 0;
    }
  }
}

@include mq(sm) {
  .top {
    .inner {
      width: 95%;
    }
    .images {
      img {
        border-bottom: $grid-border;
      }
    }
  }
}