<div class="newsroom-sections">
    <div class="light-box-container not-visible" id="light-box-container">
        <div class="light-box-close">
            <div class="close-light-box" onclick="closeLightBox()">
                <img src="/img/greenchip-on-the-go/cancel-light-box.png" alt="close light box" id="close-light-box-icon"/>
                <span style="margin-top: 2px;">
                    Close
                </span>
            </div>
            <div class="light-box-buttons">
                <div class="light-box-button">
                    <img src="/img/greenchip-on-the-go/left-arrow.png" alt="left-arrow" id="left-arrow" onclick="handleLeftArrow()"/>
                </div>
                <div class="light-box" id="light-box">
                    <img src="/img/newsroom/greenchip-on-the-go-1.png" alt="greenchip on the go lightbox image" id="light-box-image"/>
                    <p id="light-box-caption">Caption</p>
                </div>
                <div class="light-box-button">
                    <img src="/img/greenchip-on-the-go/right-arrow.png" alt="right-arrow" id="right-arrow" onclick="handleRightArrow()"/>
                </div>
            </div>
        </div>
    </div>
    <section class="hero acc-height acc-padding" data-top-top="background-position: 50% 5%;" data-top-bottom="background-position: 50% 55%;">
        <div class="video-wrap hidden-sm-down">
            <video autoplay muted loop>
                <source src="/video/itad.mp4" type="video/mp4">
            </video>
        </div>
        <div class="container full-height">
            <div class="row center v-center full-height">
                <div class="col-40 col-md-50 acc-full-width align-center">
                    <heading text="Newsroom"></heading>
                    <h1>Greenchip On The Go</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content content-black greenchip-on-the-go">
        <div class="container">
            <div class="row center news-heading">
                <div class="col-free align-center">
                    <h2 class="regular">Greenchip On The Go</h2>
                </div>
            </div>
            <div class="row center">
                <div class="col-free align-center">
                    <p>Check out what the Greenchip team has been up to, from team building to giving back to the community.</p>
                </div>
            </div>
            <div class="greenchip-on-the-go-section">
                <div class="news-item">
                    <img src="/img/newsroom/zoom-in.png" alt="zoom" class="zoom" width="40px" id="zoom" onclick="openLightBox(this.id)"/>
                    <img src="/img/newsroom/greenchip-on-the-go-1.png" alt="greenchip on the go 1"/>
                    <h3>[Earth Day With LG 🌎] Celebrating Earth Day the LG Way: E-Waste Drive & Color Run</h3>
                    <a href="https://www.lgnewsroom.com/2023/04/earth-day-with-lg-🌎-celebrating-earth-day-the-lg-way-e-waste-drive-and-color-run/">Learn More</a>
                </div>
                <div class="news-item">
                    <img src="/img/newsroom/zoom-in.png" alt="zoom" class="zoom" width="40px" id="zoom-2" onclick="openLightBox(this.id)"/>
                    <img src="/img/newsroom/greenchip-on-the-go-2.png" alt="greenchip on the go 2"/>
                    <h3>[Earth Day With LG 🌎] Celebrating Earth Day the LG Way: E-Waste Drive & Color Run</h3>
                    <a href="https://www.lgnewsroom.com/2023/04/earth-day-with-lg-🌎-celebrating-earth-day-the-lg-way-e-waste-drive-and-color-run/">Learn More</a>
                </div>
                <div class="news-item">
                    <img src="/img/newsroom/zoom-in.png" alt="zoom" class="zoom" width="40px" id="zoom-3" onclick="openLightBox(this.id)"/>
                    <img src="/img/newsroom/greenchip-on-the-go-3.png" alt="greenchip on the go 3"/>
                    <h3>[Earth Day With LG 🌎] Celebrating Earth Day the LG Way: E-Waste Drive & Color Run</h3>
                    <a href="https://www.lgnewsroom.com/2023/04/earth-day-with-lg-🌎-celebrating-earth-day-the-lg-way-e-waste-drive-and-color-run/">Learn More</a>
                </div>
            </div>
            <div class="greenchip-on-the-go-section" id="on-the-go-row-2">
                <div class="news-item">
                    <img src="/img/newsroom/zoom-in.png" alt="zoom" class="zoom" width="40px" id="zoom-4" onclick="openLightBox(this.id)"/>
                    <img src="/img/greenchip-on-the-go/greenchip-on-the-go-4.png" alt="greenchip on the go 4" class="article-image"/>
                    <span class="row-caption">
                        <h3>Emma Cedeno, Customer Engagement & Marketing Representative, (right) and Chris Kaasmann (left) exhibiting the New Jersey Sustainability Conference March 2023</h3>
                    </span>
                </div>
                <div class="news-item">
                    <img src="/img/newsroom/zoom-in.png" alt="zoom" class="zoom" width="40px" id="zoom-5" onclick="openLightBox(this.id)"/>
                    <img src="/img/greenchip-on-the-go/greenchip-on-the-go-5.png" alt="greenchip on the go 5" class="article-image"/>
                    <span class="row-caption">
                        <h3>Greenchip pick up truck in New York, NY<br/>&nbsp;</h3>
                    </span>
                </div>
                <div class="news-item">
                    <img src="/img/newsroom/zoom-in.png" alt="zoom" class="zoom" width="40px" id="zoom-6" onclick="openLightBox(this.id)"/>
                    <img src="/img/greenchip-on-the-go/greenchip-on-the-go-6.png" alt="greenchip on the go 6" class="article-image"/>
                    <span class="row-caption">
                        <h3>Chriss Kaasmann, VP of Compliance, attending the RLA Conference February 2022</h3>
                    </span>
                </div>
            </div>
            <div class="greenchip-on-the-go-section">
                <div class="news-item">
                    <img src="/img/newsroom/zoom-in.png" alt="zoom" class="zoom" width="40px" id="zoom-7" onclick="openLightBox(this.id)"/>
                    <img src="/img/greenchip-on-the-go/greenchip-on-the-go-7.png" alt="greenchip on the go 7"/>
                    <h3>Chriss Kaasmann, VP of Compliance, attending the RLA Conference February 2022</h3>
                </div>
                <div class="news-item">
                    <img src="/img/newsroom/zoom-in.png" alt="zoom" class="zoom" width="40px" id="zoom-8" onclick="openLightBox(this.id)"/>
                    <img src="/img/greenchip-on-the-go/greenchip-on-the-go-8.png" alt="greenchip on the go 8"/>
                    <h3>Chriss Kaasmann (right) keynote speaker for E-Scrap Conference September 2022</h3>
                </div>
                <div class="news-item">
                    <img src="/img/newsroom/zoom-in.png" alt="zoom" class="zoom" width="40px" id="zoom-9" onclick="openLightBox(this.id)"/>
                    <img src="/img/greenchip-on-the-go/greenchip-on-the-go-9.png" alt="greenchip on the go 9"/>
                    <h3>Chris Kaasmann (left) connecting with Jim Puckett, Founder of Basel Action Network, (right) for E-Scrap Conference September 2022</h3>
                </div>
            </div>
            <div class="row center last-row">
                <div class="col-free align-center">
                    <a href="/newsroom" class="news-button dark">Back To Newsroom</a>
                </div>
            </div>
        </div>
    </section>
</div>
<script>

    let imageIndex = 0;

    // Must update this data when updating or adding images
    let maxImageIndex = 8;
    let lightBoxImages = ["/img/newsroom/greenchip-on-the-go-1.png", "/img/newsroom/greenchip-on-the-go-2.png", "/img/newsroom/greenchip-on-the-go-3.png",
        "/img/greenchip-on-the-go/greenchip-on-the-go-4.png", "/img/greenchip-on-the-go/greenchip-on-the-go-5.png", "/img/greenchip-on-the-go/greenchip-on-the-go-6.png",
        "/img/greenchip-on-the-go/greenchip-on-the-go-7.png", "/img/greenchip-on-the-go/greenchip-on-the-go-8.png", "/img/greenchip-on-the-go/greenchip-on-the-go-9.png"];
    let lightBoxCaptions = ["[Earth Day With LG 🌎] Celebrating Earth Day the LG Way: E-Waste Drive & Color Run",
        "[Earth Day With LG 🌎] Celebrating Earth Day the LG Way: E-Waste Drive & Color Run",
        "[Earth Day With LG 🌎] Celebrating Earth Day the LG Way: E-Waste Drive & Color Run",
        "Emma Cedeno, Customer Engagement & Marketing Representative, (right) and Chris Kaasmann (left) exhibiting the New Jersey Sustainability Conference March 2023",
        "Greenchip pick up truck in New York, NY",
        "Chriss Kaasmann, VP of Compliance, attending the RLA Conference February 2022",
        "Chriss Kaasmann, VP of Compliance, attending the RLA Conference February 2022",
        "Chriss Kaasmann (right) keynote speaker for E-Scrap Conference September 2022",
        "Chris Kaasmann (left) connecting with Jim Puckett, Founder of Basel Action Network, (right) for E-Scrap Conference September 2022"];
    // -----------------------------------------------------

    let lightBoxCaptionElement = document.getElementById("light-box-caption");
    let lightBoxImageElement = document.getElementById("light-box-image");
    let lightBox = document.getElementById("light-box-container");

    // Must update this data when updating or adding images
    function openLightBox(id) {
        switch(id) {
            case "zoom":
                imageIndex = 0;
                break;
            case "zoom-2":
                imageIndex = 1
                break;
            case "zoom-3":
                imageIndex = 2;
                break;
            case "zoom-4":
                imageIndex = 3;
                break;
            case "zoom-5":
                imageIndex = 4
                break;
            case "zoom-6":
                imageIndex = 5;
                break;
            case "zoom-7":
                imageIndex = 6;
                break;
            case "zoom-8":
                imageIndex = 7
                break;
            case "zoom-9":
                imageIndex = 8;
                break;
            default:
                imageIndex = 0;
        }
        lightBoxImageElement.src = lightBoxImages[imageIndex];
        lightBoxCaptionElement.innerText = lightBoxCaptions[imageIndex];
        lightBox.classList.remove("not-visible");
    }

    function closeLightBox() {
        lightBox.classList.add("not-visible");
    }

    function handleLeftArrow() {
        if (imageIndex > 0) {
            imageIndex = imageIndex - 1;
        } else {
            imageIndex = maxImageIndex;
        }
        lightBoxImageElement.src = lightBoxImages[imageIndex];
        lightBoxCaptionElement.innerText = lightBoxCaptions[imageIndex];
    }

    function handleRightArrow() {
        if (imageIndex < maxImageIndex) {
            imageIndex = imageIndex + 1;
        } else {
            imageIndex = 0;
        }
        lightBoxImageElement.src = lightBoxImages[imageIndex];
        lightBoxCaptionElement.innerText = lightBoxCaptions[imageIndex];
    }

</script>
