<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name=”x-apple-disable-message-reformatting”>
    <!--<![endif]-->
    <title></title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Open+Sans+Condensed:300,700" rel="stylesheet">
    <!-- Yes, this weird style tag is correct! -->
    <!-- START MOBILE/RESPONSIVE STYLES -->
    <style type="text/css" media="only screen and (max-width: 480px)">
        @media screen and (max-width: 480px) {
            /**
             * Reset the Body
             */
            body {
                margin:0 !important;
                padding:0 !important;
            }

            p {
                font-size: 14px !important;
                margin-bottom: 10px !important;
            }

            h1 {
                font-size: 20px !important;
                line-height: 24px !important;
            }

            h1,h2,h3,p {
                padding-left: 15px !important;
                padding-right: 15px !important;
            }
            h2 {
                font-size: 18px !important;
                line-height: 22px !important;
            }

            .hide {display:none !important;}

            .responsive-table {
                width:100% !important;
                table-layout: center;
            }

        }
    </style>
    <style>
        [if mso]>
                .fallback-text{font-family:Arial, sans-serif !important}
        <![endif]
        [if mso 16]>
                             .fallback-text{font-family:Arial, sans-serif !important}
        a {text-decoration: none;}
        a:visited { text-decoration: none; }
        <![endif]
          table{border:none;border-collapse:collapse !important;margin:0 auto}
        .footer h1 a:link{color:#b27041}
        .footer h1 a:visited{color:#b27041}
    </style>
    <style type="text/css">

        a[x-apple-data-detectors] {
            color: inherit !important;
            text-decoration: none !important;
            font-size: inherit !important;
            font-family: inherit !important;
            font-weight: inherit !important;
            line-height: inherit !important;
        }

        h1,h2,h3,p {
            padding: 0;
            margin: 0;
        }
        table {
            border-spacing: none;
            border: none;
        }

    </style>
</head>
<body>
<?php echo $this->render($this->innerTemplate);?>
</body>
</html>
