@import '../../src/fonts';
@import '../../src/variables';
@import '../../src/mixins';
@import '../../src/content';

@include headerScrollAndMobile();
@include menuToggleScrollAndMobile();

header {
  background: $black;
}

.content {
  padding: 8rem 0;

  h3 {
    margin: 0 0 1.5rem;
  }

  h5 {
    @include FontBold();
    font-size: 1.1rem;
  }

  ul {
    margin: 0 0 1.5rem 1rem;
    li {
      @include FontRegular();
      margin: .5rem 0;
      list-style: disc;
      line-height: 122%;
    }
  }
}