<div class="content full-height">
    <div class="row v-center full-height">
        <div class="col">
            <i class="fa fa-times close-modal" ng-click="closeThisDialog()"></i>
            <div class="row center" ng-if="!processed">
                <div class="col-free align-center">
                    <h4>Our phone systems have been compromised, please direct your call directly to Lee Srokosz at:</h4>
                    <p class="no-space"><a href="tel:845-796-6527">845-796-6527</a></p>
                    <p><a href="mailto:lee@greenchiprecycling.com">lee@greenchiprecycling.com</a></p>
                    <h4 class="italic no-space">We do apologize for any inconvenience this may cause.</h4>
                </div>
            </div>
        </div>
    </div>
</div>