@import '../../src/fonts';
@import '../../src/variables';
@import '../../src/mixins';
@import '../../src/form';
@import '../../src/hero';



$dir: 'municipality';
$img-path: $base-img-path + $dir;


.hero {
  @include bgImage($img-path, 'hero.jpg');
}

.top {
  padding: $section-padding-lg 0;

  a {
    color: $blue;
    white-space: nowrap;
  }
}

@include mq(sm) {
  .top {
    padding-top: $section-padding;
  }
}