<div class="newsroom-sections">
    <div class="light-box-container not-visible" id="light-box-container">
        <div class="light-box-close">
            <div class="close-light-box" onclick="closeLightBox()">
                <img src="/img/greenchip-on-the-go/cancel-light-box.png" alt="close light box" id="close-light-box-icon"/>
                <span style="margin-top: 2px;">
                    Close
                </span>
            </div>
            <div class="light-box-buttons">
                <div class="light-box-button">
                    <img src="/img/greenchip-on-the-go/left-arrow.png" alt="left-arrow" id="left-arrow" onclick="handleLeftArrow()"/>
                </div>
                <div class="light-box" id="light-box">
                    <img src="/img/newsroom/greenchip-on-the-go-1.png" alt="greenchip on the go lightbox image" id="light-box-image"/>
                    <p id="light-box-caption">Caption</p>
                </div>
                <div class="light-box-button">
                    <img src="/img/greenchip-on-the-go/right-arrow.png" alt="right-arrow" id="right-arrow" onclick="handleRightArrow()"/>
                </div>
            </div>
        </div>
    </div>
    <section class="hero acc-height acc-padding" data-top-top="background-position: 50% 5%;" data-top-bottom="background-position: 50% 55%;">
        <div class="video-wrap hidden-sm-down">
            <video autoplay muted loop>
                <source src="/video/itad.mp4" type="video/mp4">
            </video>
        </div>
        <div class="container full-height">
            <div class="row center v-center full-height">
                <div class="col-40 col-md-50 acc-full-width align-center">
                    <heading text="Newsroom"></heading>
                    <h1>News, Insights &amp; Updates From Our Team of Experts</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content content-black top">
        <div class="container">
            <div class="row center news-heading">
                <div class="col-free align-center">
                    <h2 class="regular" style="height: fit-content;">Industry News</h2>
                </div>
            </div>
            <div class="row center">
                <div class="col-free align-center">
                    <p>We've handpicked insightful articles on the latest happenings in the industry.</p>
                </div>
            </div>
            <div class="industry-news-section">
                <div class="news-item">
                    <img src="/img/newsroom/industry-news-1.png" alt="industry news 1"/>
                    <h3>Processor improves CRT glass recycling capabilities</h3>
                    <p>PUBLISHED BY <b>E-SCRAP NEWS</b></p>
                    <p>JUNE 7, 2023</p>
                    <a href="https://resource-recycling.com/e-scrap/2023/06/07/processor-improves-crt-glass-recycling-capabilities/" target="_blank">Read More</a>
                </div>
                <div class="news-item">
                    <img src="/img/newsroom/industry-news-2.png" alt="industry news 2"/>
                    <h3>News from ER2, Greenchip and more</h3>
                    <p>PUBLISHED BY <b>E-SCRAP NEWS</b></p>
                    <p>MAY 10, 2023</p>
                    <a href="https://resource-recycling.com/e-scrap/2023/05/10/news-from-er2-greenchip-and-more/" target="_blank">Read More</a>
                </div>
                <div class="news-item">
                    <img src="/img/newsroom/industry-news-3.png" alt="industry news 3"/>
                    <h3>Timeline: The collapse of a colossal CRT downstream</h3>
                    <p>PUBLISHED BY <b>E-SCRAP NEWS</b></p>
                    <p>JANUARY 31, 2023</p>
                    <a href="https://resource-recycling.com/e-scrap/2023/01/19/timeline-the-collapse-of-a-colossal-crt-downstream/" target="_blank">Read More</a>
                </div>
            </div>
            <div class="row center">
                <div class="col-free align-center">
                    <a href="/industry-news" class="news-button light">View All Industry News</a>
                </div>
            </div>
        </div>
    </section>
    <section class="content content-black greenchip-on-the-go">
        <div class="container">
            <div class="row center news-heading">
                <div class="col-free align-center">
                    <h2 class="regular">Greenchip On The Go</h2>
                </div>
            </div>
            <div class="row center">
                <div class="col-free align-center">
                    <p>We've handpicked insightful articles on the latest happenings in the industry.</p>
                </div>
            </div>
            <div class="greenchip-on-the-go-section">
                <div class="news-item" style="width: 500px;">
                    <img src="/img/newsroom/zoom-in.png" alt="zoom" class="zoom" id="zoom" width="40px" onclick="openLightBox(this.id)"/>
                    <img src="/img/newsroom/greenchip-on-the-go-1.png" alt="greenchip on the go 1"/>
                    <h3>[Earth Day With LG 🌎] Celebrating Earth Day the LG Way: E-Waste Drive & Color Run</h3>
                    <a href="https://www.lgnewsroom.com/2023/04/earth-day-with-lg-🌎-celebrating-earth-day-the-lg-way-e-waste-drive-and-color-run/">Learn More</a>
                </div>
<!--                <div id="testing" class="not-visible" style = "width: 500px; height: 500px; color: red; background: red;"></div>-->
                <div class="news-item">
                    <img src="/img/newsroom/zoom-in.png" alt="zoom" class="zoom" id="zoom-2" width="40px" onclick="openLightBox(this.id)"/>
                    <img src="/img/newsroom/greenchip-on-the-go-2.png" alt="greenchip on the go 2"/>
                    <h3>[Earth Day With LG 🌎] Celebrating Earth Day the LG Way: E-Waste Drive & Color Run</h3>
                    <a href="https://www.lgnewsroom.com/2023/04/earth-day-with-lg-🌎-celebrating-earth-day-the-lg-way-e-waste-drive-and-color-run/">Learn More</a>
                </div>
                <div class="news-item">
                    <img src="/img/newsroom/zoom-in.png" alt="zoom" class="zoom" id="zoom-3" width="40px" onclick="openLightBox(this.id)"/>
                    <img src="/img/newsroom/greenchip-on-the-go-3.png" alt="greenchip on the go 3"/>
                    <h3>[Earth Day With LG 🌎] Celebrating Earth Day the LG Way: E-Waste Drive & Color Run</h3>
                    <a href="https://www.lgnewsroom.com/2023/04/earth-day-with-lg-🌎-celebrating-earth-day-the-lg-way-e-waste-drive-and-color-run/">Learn More</a>
                </div>
            </div>
            <div class="row center">
                <div class="col-free align-center">
                    <a href="/greenchip-on-the-go" class="news-button dark">View All Greenchip On The Go</a>
                </div>
            </div>
        </div>
    </section>
</div>
<script>

    let imageIndex = 0;

    // Must update this data when updating or adding images
    let maxImageIndex = 2;
    let lightBoxImages = ["/img/newsroom/greenchip-on-the-go-1.png", "/img/newsroom/greenchip-on-the-go-2.png", "/img/newsroom/greenchip-on-the-go-3.png"];
    let lightBoxCaptions = ["[Earth Day With LG 🌎] Celebrating Earth Day the LG Way: E-Waste Drive & Color Run",
        "[Earth Day With LG 🌎] Celebrating Earth Day the LG Way: E-Waste Drive & Color Run",
        "[Earth Day With LG 🌎] Celebrating Earth Day the LG Way: E-Waste Drive & Color Run"];
    // -----------------------------------------------------

    let lightBoxCaptionElement = document.getElementById("light-box-caption");
    let lightBoxImageElement = document.getElementById("light-box-image");
    let lightBox = document.getElementById("light-box-container");

    // Must update this data when updating or adding images
    function openLightBox(id) {
        switch(id) {
            case "zoom":
                imageIndex = 0;
                break;
            case "zoom-2":
                imageIndex = 1
                break;
            case "zoom-3":
                imageIndex = 2;
                break;
            default:
                imageIndex = 0;
        }
        lightBoxImageElement.src = lightBoxImages[imageIndex];
        lightBoxCaptionElement.innerText = lightBoxCaptions[imageIndex];
        lightBox.classList.remove("not-visible");
    }

    function closeLightBox() {
        lightBox.classList.add("not-visible");
    }

    function handleLeftArrow() {
        if (imageIndex > 0) {
            imageIndex = imageIndex - 1;
        } else {
            imageIndex = maxImageIndex;
        }
        lightBoxImageElement.src = lightBoxImages[imageIndex];
        lightBoxCaptionElement.innerText = lightBoxCaptions[imageIndex];
    }

    function handleRightArrow() {
        if (imageIndex < maxImageIndex) {
            imageIndex = imageIndex + 1;
        } else {
            imageIndex = 0;
        }
        lightBoxImageElement.src = lightBoxImages[imageIndex];
        lightBoxCaptionElement.innerText = lightBoxCaptions[imageIndex];
    }

</script>
