@import '../../src/fonts';
@import '../../src/variables';
@import '../../src/mixins';
@import '../../src/form';
@import '../../src/hero';
@import '../../partials/form-panel';



$dir: 'certifications';
$img-path: $base-img-path + $dir;

$animation-properties: 'opacity, transform';
$animation-speed: .42s;
$animation-easing: ease-in-out;


.hero {
  @include bgImage($img-path, 'hero.jpg');
}

.content-black {
  padding: $section-padding-lg 0;
}

.top {
  .image-wrap {
    width: 240px;
    height: 240px;
    border-radius: 50%;
    border: 4px solid $grey-lt;
    padding: 1.25rem;
    text-align: center;
    img {
      vertical-align: middle;
      width: 75%;
      position: relative;
      top: 50%;
      @include transform(translateY(-50%));
    }
  }
}

.bg-middle {
  @include bgImage($img-path, 'bg-2.jpg', 430px);
}

.certification {
  h2 {
    @include FontRegular();
  }
  img {
    max-width: 70%;
    margin: 0 auto;
    display: block;
    &.microsoft {
      max-width: 85%;
    }
    &.r2 {
      width: 200px;
    }
  }
  h2, p, img, ul li {
    opacity: 0;
  }
  h2, p, ul li {
    @include transform(translateY(10px));
  }
  img {
    @include transition(opacity, .65s, ease-in-out);
  }
  h2 {
    @include multipleTransition($animation-properties, $animation-speed, $animation-easing, .25s);
  }
  p {
    @for $i from 1 through 3 {
      $interval: .22s;
      $delay: $interval * $i + .22s;
      &:nth-of-type(#{$i}) {
        @include multipleTransition($animation-properties, $animation-speed, $animation-easing, $delay: $delay);
      }

    }
  }
  ul {
    @for $i from 1 through 8 {
      $interval: .12s;
      $delay: $interval * $i + .6s;
      li:nth-child(#{$i}) {
        @include multipleTransition($animation-properties, $animation-speed, $animation-easing, $delay: $delay);
      }
    }
  }
  &.animate-in {
    h2, p, ul li {
      @include transform(translateY(0));
    }
    h2, p, img, ul li {
      opacity: 1;
    }
    .border-left {
      border-color: $border-grey;
      @include transition(opacity, $animation-speed, ease-in-out, $delay: .2s);
    }
  }
  ul {
    margin: 2rem 0 0;
    li {
      @include customListStyle(6px, 2px, transparent, $green-dk, 1.5rem, .575rem);
      @include FontRegular();
      line-height: 175%;
      font-size: 1rem;
    }
  }
  .border-left {
    padding-left: 3rem;
    border-left: 2px solid transparent;
  }
}

@include mq(md) {
  .bg-middle {
    @include parallaxBgMobile(85% center);
  }
  .certification {
    img {
      margin-bottom: 3rem;
    }
    .border-left {
      border: none;
      padding-left: 0;
    }
  }
}

@include mq(xs) {
  .top {
    .image-wrap {
      width: 168px;
      height: 168px;
    }
  }
}

@include mq(p-lg) {
  .top {
    .image-wrap {
      width: 130px;
      height: 130px;
      padding: .625rem;
    }
  }
}