<?= $this->render('layout/partials/fixed-bar'); ?>
<footer>
    <div class="footer-top">
        <div class="container">
            <div class="row space-between wrap-md md-center">
                <div class="col-free hidden-md-down">
                    <ul class="site-links">
                        <li>
                            <a href="<?= $this->url('home'); ?>">Home</a>
                        </li>
                        <li>
                            <a <?php if($this->activeRoute('home')) { ?> slide-to="#why-greenchip" offset="header" <?php } ?>
                                    href="<?= $this->url('home'); ?>#why-greenchip">Why Greenchip?
                            </a>
                        </li>
                        <li><a <?php if($this->activeRoute('home')) { ?> slide-to="#itad" offset="header" <?php } ?>
                                    href="<?= $this->url('home'); ?>#itad">ITAD</a></li>
                    </ul>
                </div>
                <div class="col-free hidden-md-down">
                    <ul class="site-links">
                        <li class="bold"><a href="<?= $this->url('about'); ?>">About</a></li>
                        <li><a href="<?= $this->url('about'); ?>">The Company</a></li>
                        <li><a href="<?= $this->url('certifications'); ?>">Certifications</a></li>
                    </ul>
<!--                    <ul class="site-links nav-section">-->
<!--                        <li><a href="--><?php //= $this->url('newsroom'); ?><!--">Newsroom</a></li>-->
<!--                        <li><a href="--><?php //= $this->url('industry-news'); ?><!--">Industry News</a></li>-->
<!--                        <li><a href="--><?php //= $this->url('greenchip-on-the-go'); ?><!--">Greenchip On The Go</a></li>-->
<!--                    </ul>-->
                </div>
                <div class="col-free hidden-md-down">
                    <ul class="site-links">
                        <li><a href="<?= $this->url('it-asset-disposition'); ?>">Services</a></li>
<!--                        <li><a href="--><?php //= $this->url('data-center-specialists'); ?><!--">Data Center Specialists</a></li>-->
<!--                        <li><a href="--><?php //= $this->url('crt-glass'); ?><!--">CRT Glass</a></li>-->
                        <li><a href="<?= $this->url('it-asset-disposition'); ?>">IT Asset Disposition &amp; Purchasing</a></li>
                        <li><a href="<?= $this->url('electronics-recycling'); ?>">Electronic Recycling</a></li>
                        <li><a href="<?= $this->url('hard-drive-shredding'); ?>">Hard Drive Shredding</a></li>
                        <li class=""><a href="<?= $this->url('municipality'); ?>">Municipality Recycling Programs</a></li>
                        <li class=""><a href="<?= $this->url('oem'); ?>">OEM Program Management</a></li>
                    </ul>
                </div>
                <div class="col-free col-xs-50 align-md-center">
                    <ul class="location regular-space">
                        <li class="bold">Locations</li>
                    </ul>
                    <ul class="location">
                        <li>Brooklyn</li>
                        <li><a href="<?= $this->externalUrl('map-brooklyn'); ?>" target="_blank">540 Kingsland Avenue<br>Brooklyn, NY 11222</a></li>
                    </ul>
                    <ul class="location">
                        <li>Virginia</li>
                        <li>
                            <a href="<?= $this->externalUrl('map-virginia'); ?>" target="_blank">
                                10 Harkness Boulevard<br>Fredericksburg, VA 22401
                            </a>
                        </li>
                        <li><a href="tel:<?= $this->externalUrl('phone-virginia'); ?>"><?= $this->externalUrl('phone-virginia'); ?></a></li>
                    </ul>
                    <ul class="location">
                        <li>Florida</li>
                        <li><a href="tel:<?= $this->externalUrl('phone-florida'); ?>"><?= $this->externalUrl('phone-florida'); ?></a></li>
                    </ul>
                </div>
                <div class="col-free md-offset-3 sm-offset-0 col-xs-50 align-md-center">
                    <ul class="location">
                        <li class="bold"><a href="https://greenchip.razorerp.com/portal/">Client Login</a></li>
                    </ul>
                    <ul class="location">
                        <li class="bold"><a href="<?= $this->url('contact'); ?>">Contact</a></li>
                        <li>Toll Free: <a href="tel:<?= $this->externalUrl('phone-toll-free'); ?>"><?= $this->externalUrl('phone-toll-free'); ?></a></li>
                        <li>Phone: <a href="tel:<?= $this->externalUrl('phone'); ?>"><?= $this->externalUrl('phone'); ?></a></li>
                        <li>Fax: <?= $this->externalUrl('fax'); ?></li>
                    </ul>
                    <ul class="site-links">
                        <li class="bold"><a href="<?= $this->url('e-waste-form'); ?>">E-Waste Form</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row v-center center affiliations wrap-xs footer-images">
                <div class="col-free col-xs-16 affiliation xs-order-2">
                    <img class="e-stewards" src="/img/certifications/e-stewards.png" alt="e-Stewards">
                </div>
                <div class="col-free col-xs-12 affiliation">
                    <a href="<?= $this->externalUrl('badges/r2'); ?>" target="_blank">
                        <img class="r2" src="/img/certifications/r2.png" alt="R2V3">
                    </a>
                </div>
                <div class="col-free col-xs-12 affiliation">
                    <img src="/img/common/footer/isigma.png" alt="i-SIGMA" class="footer-image">
                </div>
                <div class="col-free col-xs-12 affiliation">
                    <img src="/img/common/footer/ISO_14001_.png" alt="ISO 14001" class="footer-image">
                </div>
                <div class="col-free col-xs-12 affiliation">
                    <img src="/img/common/footer/ISO_45001_.png" alt="ISO 45001" class="footer-image">
                </div>
                <div class="col-free col-xs-16 affiliation xs-order-1">
                    <a id="naid_certification" class="certification_image" href="#naid_certification" data-id="3ff355cb-0007-c214-5f96-0b3eb5a8649d">
                        <img class="aaa" src="/img/common/footer/naid.jpg">
                    </a>
                </div>
                <div class="col-free col-xs-16 affiliation">
                    <img src="/img/common/footer/microsoft.jpg" alt="Microsoft Registered Refurbisher">
                </div>
            </div>
            <div class="row center">
                <div class="col-free align-center">
                    <p>All site content copyright &copy; <?= date('Y'); ?> Greenchip, Inc. All Rights Reserved.
                        <a href="<?= $this->url('privacy-policy'); ?>">Privacy Policy.</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>
<script src="https://certification.naidonline.org/verify.js"></script>
