<header>
    <div class="row full-height v-center space-between">
        <div class="col-free">
            <a class="logo" href="<?= $this->url('home'); ?>">
                <span class="trademark trademark-main hide-on-scroll">&trade;</span>
                <span class="trademark trademark-scroll show-on-scroll">&trade;</span>
                <h1 class="desktop-logo hide-on-scroll">
                    <span>Greenchip E-Waste and ITAD Solutions</span>
                </h1>
                <h1 class="mobile-logo show-on-scroll">
                    <span>Greenchip E-Waste and ITAD Solutions</span>
                </h1>
            </a>
        </div>
    </div>
</header>
<div class="phone-number">
    <h4><a href="tel:<?= $this->externalUrl('phone-toll-free'); ?>">
            <span class="hidden-sm-down"><?= $this->externalUrl('phone-toll-free'); ?></span>
            <span class="visible-sm-block-down"><i class="fa fa-phone"></i></span>
        </a>
    </h4>
</div>
<?= $this->render('layout/partials/menu'); ?>

