<?php echo $this->doctype(); ?>
<html lang="en" ng-app="gc">
<head>
    <!-- Metadata -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="/img/favicons/apple-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/img/favicons/apple-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/img/favicons/apple-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/img/favicons/apple-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="60x60" href="/img/favicons/apple-icon-60x60.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="/img/favicons/apple-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="76x76" href="/img/favicons/apple-icon-76x76.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="/img/favicons/apple-icon-152x152.png" />
    <link rel="apple-touch-icon-precomposed" sizes="180x180" href="/img/favicons/apple-icon-180x180.png" />
    <link rel="icon" type="image/png" href="/img/favicons/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/img/favicons/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/img/favicons/favicon-16x16.png" sizes="16x16" />
    <link rel="manifest" href="/img/favicons/manifest.json">
    <link rel="shortcut icon" href="/img/favicons/favicon.ico">
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="/img/favicons/ms-icon-144x144.png" />
    <meta name="msapplication-square70x70logo" content="/img/favicons/ms-icon-70x70.png" />
    <meta name="msapplication-square150x150logo" content="/img/favicons/ms-icon-150x150.png" />
    <meta name="msapplication-square310x310logo" content="/img/favicons/ms-icon-310x310.png" />
    <meta name="msapplication-config" content="/favicons/browserconfig.xml">
    <?= $this->headMeta();?>
    <!-- Head Title -->
    <?= $this->headTitle(); ?>
    <!-- Styles -->
    <?= $this->headLink(); ?>
    <?= $this->headStyle();?>
    <!-- Scripts -->
    <?= $this->headScript(); ?>

    <!-- Global site tag (gtag.js) - Google Analytics | Requested by Rich 1/23 -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-35752666-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-35752666-1');
    </script>

</head>
<body>
<?= $this->render('application/layout/header');?>
<?= $this->content; ?>
<?= $this->render('application/layout/footer');?>
<?= $this->inlineScript(); ?>

<?php if($this->config('userway.enabled')) { ?>
<!-- Userway accessibility script | Requested by Rich 7/28/20 -->
<script type="text/javascript">
    var _userway_config = {
        /* uncomment the following line to override default position*/
         position: '2',
        /* uncomment the following line to override default size (values: small, large)*/
        /* size: 'large', */
        /* uncomment the following line to override default language (e.g., fr, de, es, he, nl, etc.)*/
        /* language: 'null', */
        /* uncomment the following line to override color set via widget (e.g., #053f67)*/
        /* color: '#2d68ff', */
        /* uncomment the following line to override type set via widget (1=person, 2=chair, 3=eye, 4=text)*/
        /* type: '1', */
        /* uncomment the following lines to override the accessibility statement*/
        statement_text: "Our Accessibility Statement",
        statement_url: "https://www.greenchiprecycling.com/accessibility",
        /* uncomment the following line to override support on mobile devices*/
        /* mobile: true, */
        account: 'JlDbdvZHal'
    };
</script>
<script type="text/javascript" src="https://cdn.userway.org/widget.js"></script>
<?php } ?>

<!--  call rail plugin - Requested by Rich 3/29/23 -->
<script type="text/javascript" src="//cdn.callrail.com/companies/355239156/3d4146f68b53072d3338/12/swap.js"></script>
</body>
</html>
