<section class="hero acc-height acc-padding">
    <div class="container full-height">
        <div class="row center v-center full-height">
            <div class="col align-center">
                <h1>Career Opportunities</h1>
            </div>
        </div>
    </div>
</section>
<section class="content content-black above-fixed-bar" ng-controller="careersController">
    <div class="container">
        <div class="row center" animate-in window-multiplier=".66">
            <div class="col acc-full-width jobs-col">
                <div class="job" id="operations">
                    <h2 class="bold black">
                        Operations Supervisor (Fredericksburg, VA Facility)
                    </h2>
                    <div class="introduction">
                        <h4 class="no-space">
                            Job Summary:
                        </h4>
                        <p>
                            The Operations Supervisor will organize and oversee the daily operations. This position will ensure
                            that our business is well coordinated and productive by managing procedures and coaching employees.
                            The Operations Supervisor reports to the General Manager of the facility.
                        </p>
                    </div>
                    <div class="full-description" ng-if="jobs.operations">
                        <h4 class="no-space">
                            Supervisory Responsibilities:
                        </h4>
                        <ul>
                            <li>Supervise employees from all departments and provide constructive feedback.</li>
                            <li>Evaluate employee performance by gathering, analyzing, and interpreting data and metrics.</li>
                        </ul>
                        <h4>
                            Duties/Responsibilities:
                        </h4>
                        <ul>
                            <li>
                                Work with Operations Management to forecast business requirements; prepare an annual budget;
                                schedule expenditures; analyze variances; initiate corrective actions.
                            </li>
                            <li>
                                Adhere to operational systems and implement new approved processes. Enforce and evaluate
                                policies and procedures; develop processes for receiving products, equipment utilization,
                                inventory management, manufacturing, and shipping.
                            </li>
                            <li>
                                Maintain a safe and healthy work environment by establishing, following, and enforcing
                                standards and procedures, complying with legal regulations.
                            </li>
                            <li>
                                Accomplish operations and organizational mission by achieving strategic goals as determined
                                by management.
                            </li>
                            <li>
                                Meet or exceed operations labor budget expectations.
                            </li>
                            <li>
                                Requires a flexible work schedule, which may include nights and weekends to support the
                                needs of the facility.
                            </li>
                            <li>
                                Follows all safety rules for warehouse including wearing of PPE – steel toe shoes, safety
                                vest, gloves, safety glasses and hearing protection.
                            </li>
                            <li>
                                Coordinate and schedule Scale Operators and Forklift drivers to maintain the Inbound and
                                Outbound Schedule
                            </li>
                            <li>
                                Coordinate and schedule team members for Material Inspection.
                            </li>
                            <li>
                                Manage and cycle count all inventory in Inbound/Outbound Lanes, Shred Lanes, and Material Inspection Lanes
                            </li>
                            <li>
                                Work with Operations Manager and Maintenance to ensure all tools and supplies are stocked.
                            </li>
                            <li>
                                Ability to use Razor ERP for Receiving, Shipping and Inventory Control
                            </li>
                            <li>
                                Manage and keep clean all outdoor activity daily at S/R docks.
                            </li>
                            <li>
                                Ensure all material is in Razor, labeled, sorted, and stacked properly and safely in correctly
                                finished goods and/or production zones.
                            </li>
                            <li>
                                Ensure the site is cleaned at the end of the day, debris and any trash are properly disposed of,
                                and materials or equipment are properly stored. Ensure area is a clean and safe work environment.
                            </li>
                            <li>
                                Performs other related duties as assigned.
                            </li>
                            <li>
                                Immediately reports all accidents and near accidents to the Manager.
                            </li>
                        </ul>
                        <h4>
                            Required Skills/Abilities:
                        </h4>
                        <ul>
                            <li>Prior experience managing a team; experience managing shift work a plus.</li>
                            <li>An emphasis on safety and the ability to instruct employees on safety.</li>
                            <li>Excellent organizational skills and attention to detail.</li>
                            <li>Outstanding communication and people skills.</li>
                            <li>Effective time management skills.</li>
                            <li>Have general knowledge of industrial equipment.</li>
                            <li>Proficient with Microsoft Office Suite and ERP software, such as razor.</li>
                        </ul>
                        <h4>
                            Education and Experience:
                        </h4>
                        <ul>
                            <li>High School diploma required.</li>
                            <li>Bachelor’s degree or trade school certification preferred, not required.</li>
                            <li>7+ years relevant warehouse experience.</li>
                            <li>All candidates with equivalent experience, to include military, are encouraged to apply.</li>
                        </ul>
                        <h4>
                            Work Environment:
                        </h4>
                        <p>
                            Listed below are key points regarding environmental demands and the work environment of the job.
                            Reasonable accommodation may be made to enable individuals with disabilities to perform the
                            essential functions of the job.
                        </p>
                        <ul>
                            <li>Required to use motor coordination with arms, hands, fingers, and legs.</li>
                            <li>
                                Required to engage in physical activity that includes pushing, pulling, bending, and
                                lifting objects more than 25 pounds.
                            </li>
                            <li>Required to work from ladders or raised platforms.</li>
                            <li>Required to stand or work on concrete floors most of the workday.</li>
                            <li>
                                Will be exposed to a physical environment, which involves dirt, odors, noise, weather
                                extremes or similar elements most of the workday.
                            </li>
                            <li>Will be exposed to potential health hazards requiring the proper usage of PPE.</li>
                            <li>
                                All employees are required to provide proof of being fully vaccinated by presenting their
                                COVID-19 Vaccination Record Card.
                            </li>
                        </ul>
                        <h4>
                            Equal Opportunity
                        </h4>
                        <p>
                            Greenchip Recycling provides equal employment opportunities to all employees and applicants for employment
                            without regard to race, color, creed, ancestry, national origin, citizenship, sex or gender (including
                            pregnancy, childbirth, and pregnancy-related conditions), gender identity or expression (including transgender
                            status), sexual orientation, marital status, religion, age, disability, genetic information, service in the
                            military, or any other characteristic protected by applicable federal, state, or local laws and ordinances.
                            Equal employment opportunity applies to all terms and conditions of employment, including hiring, placement,
                            promotion, termination, layoff, recall, transfer, leave of absence, compensation, and training.
                        </p>
                        <p class="bold no-space">
                            To apply please send resume to:
                        </p>
                        <a href="mailto:careers@greenchiprecycling.com" class="text-only">careers@greenchiprecycling.com</a>
                    </div>
                    <div class="space-top align-center">
                        <button class="btn btn-bold btn-blue" offset-value="72" slide-to="#operations" prevent-slide="!jobs.operations" ng-click="toggleJob('operations');">
                            <span ng-if="!jobs.operations">Read More</span>
                            <span ng-if="jobs.operations">Show Less</span>
                        </button>
                    </div>
                </div>



                <div class="job" id="customer">
                    <h2 class="bold black">
                        Partner Engagement Executive
                    </h2>
                    <div class="introduction">
                        <h4 class="no-space">
                            Job Summary:
                        </h4>
                        <p>
                            We are looking for a highly motivated, detail-orientated individual, who is excited to join an experienced
                            team and rapidly growing company. In this role, you will manage Greenchip partner accounts to ensure they
                            receive exceptional partner service. You will handle day-to-day transactions according to contractual
                            obligations and compliance requirements. This will include but not limited to scheduling logistics, tracking
                            shipments, monitoring load statuses, and generating supplier reports as required. We offer competitive pay
                            and an outstanding team-focused working environment.
                        </p>
                    </div>
                    <div class="full-description" ng-if="jobs.customer">
                        <h4 class="no-space">
                            Duties/Responsibilities:
                        </h4>
                        <ul>
                            <li>
                                Facilitates onboarding process of new supplier accounts by ensuring paperwork is complete and account information is properly entered in CRM system.
                            </li>
                            <li>
                                Manages day-to-day transactions for local, regional, and national supplier accounts.
                            </li>
                            <li>
                                Arranges logistics when required by confirming scope of pickup with shipper and communicating requirements with third-party freight providers and/or internal logistics team.
                            </li>
                            <li>
                                Enters inbound shipment requests in ERP system and ensures contractual requirements are correctly documented and clearly communicated to operations.
                            </li>
                            <li>
                                Tracks shipments to confirm pickup was successful and delivery is on time.
                            </li>
                            <li>
                                Communicating with the operational department leads to ensure there are no gaps in processing and escalates related issues to account sales representative when required.
                            </li>
                            <li>
                                Reviews reporting from ERP system to ensure accuracy by comparing extracted data to contract/purchase order and supplier packing list/invoice.
                            </li>
                            <li>
                                Prepares external reports and photos as supporting evidence if applicable.
                            </li>
                            <li>
                                Sends required reporting to supplier account point of contact and addresses any questions or concerns in a professional manner.
                            </li>
                            <li>
                                Provides ad hoc reporting to management, and/or suppliers as required.
                            </li>
                            <li>
                                Performs other related duties as assigned.
                            </li>
                        </ul>
                        <h4>
                            Required Skills/Abilities:
                        </h4>
                        <ul>
                            <li>Proficient in computer skills: Microsoft Outlook, Microsoft Excel, and Microsoft Office.</li>
                            <li>Knowledge of administrative and clerical procedures.</li>
                            <li>Professional and maintains accountability.</li>
                            <li>Excellent written and oral communication skills.</li>
                            <li>Possess a positive attitude and is proactive.</li>
                            <li>Detail oriented and extremely organized.</li>
                            <li>Reports upward to Business Director and SVP Sales & Mktg</li>
                        </ul>
                        <h4>
                            Education and Experience:
                        </h4>
                        <ul>
                            <li>Associates degree or equivalent required; bachelor’s degree with business coursework preferred.</li>
                            <li>At least three years of office administration experience required, preferably in the manufacturing industry.</li>
                            <li>Working ERP system knowledge, Razor preferred.</li>
                        </ul>
                        <p class="bold no-space">
                            To apply please send resume to:
                        </p>
                        <a href="mailto:careers@greenchiprecycling.com" class="text-only">careers@greenchiprecycling.com</a>
                    </div>
                    <div class="space-top align-center">
                        <button class="btn btn-bold btn-blue" offset-value="72" slide-to="#customer" prevent-slide="!jobs.customer" ng-click="toggleJob('customer');">
                            <span ng-if="!jobs.customer">Read More</span>
                            <span ng-if="jobs.customer">Show Less</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row center">
            <div class="col">
                <div class="align-center">
                    <a href="mailto:careers@greenchiprecycling.com" class="btn btn-bold btn-blue">Apply</a>
                </div>
            </div>
        </div>
    </div>
</section>
