<section class="hero">
    <div class="container full-height">
        <div class="row center v-center full-height">
            <div class="col align-center">
                <heading text="Data Destruction"></heading>
                <h1>Complete Data Destruction</h1>
            </div>
        </div>
    </div>
</section>
<section class="content content-black top">
    <div class="container">
        <div class="row center" animate-in window-multiplier="1">
            <div class="col-32 col-md-48 align-center content-inner acc-full-width">
                <h2 class="regular animate animate-opacity">Guaranteed, Secure Data Destruction</h2>
                <p class="animate animate-opacity">All equipment that comes into Greenchip Recycling containing sensitive or
                   personal information is dealt with responsibly. Greenchip eradicates all information contained on storage
                   devices in strict compliance with Department of Defense, NAID and R2V3 standards.</p>
            </div>
        </div>
        <div class="row v-center center space-top images" animate-in window-multiplier="1">
            <div class="col-free animate">
                <img src="/img/data-destruction/naid.png" alt="NAID">
            </div>
            <div class="col-free offset-2 animate">
                <img src="/img/data-destruction/rios.png" alt="RIOS">
            </div>
            <div class="col-free offset-2 animate">
                <img src="/img/data-destruction/dod.png" alt="Department of Defense">
            </div>
        </div>
        <div class="row center align-center space-top" animate-in window-multiplier=".8">
            <div class="col-32 col-md-48 acc-full-width content-inner">
                <p class="animate animate-opacity">Greenchip Recycling's Hard Drive Destruction Inventory System guarantees that no storage device leaves our
                    facility with recoverable data. All equipment is itemized and tracked by serial number to ensure that
                    nothing slips through.</p>
            </div>
        </div>
    </div>
</section>
<section class="content content-white grid">
    <div class="row v-center center wrap-md">
        <div class="col-25 col-md-50" animate-in window-multiplier=".8">
            <div class="inner content-inner acc-height acc-full-width acc-padding">
                <h2 class="regular animate animate-opacity">Data Destruction Highlights</h2>
                <ul class="custom-dot">
                    <li>Security Guaranteed Handling</li>
                    <li>Inventoried Hard Drive Destruction Itemized by Serial Number, Model and Make</li>
                    <li>Certificate of Destruction Provided</li>
                    <li>100% Covered by Data Liability Insurance</li>
                </ul>
            </div>
        </div>
        <div class="col-25 col-md-50 grid-container">
            <div class="row border-bottom wrap-xs">
                <div class="col-free grid-col border-bottom-xs border-left">
                    <img src="/img/data-destruction/grid-1.jpg">
                </div>
                <div class="col-free grid-col border-left">
                    <img src="/img/data-destruction/grid-2.jpg">
                </div>
            </div>
            <div class="row border-bottom">
                <div class="col grid-col border-left">
                    <img src="/img/data-destruction/grid-3.jpg">
                </div>
            </div>
        </div>
    </div>
</section>
