@import '../../src/fonts';
@import '../../src/variables';
@import '../../src/mixins';
@import '../../src/form';
@import '../../src/hero';
@import '../../src/box';


$dir: 'electronics-recycling';
$common: 'common';
$img-path: $base-img-path + $dir;
$common-img-path: $base-img-path + $common;



.hero {
  @include bgImage($img-path, 'hero.jpg');
}

.content {
  padding: $section-padding-lg 0;
  .padding-right {
    padding-right: 3rem;
  }
  .padding-left {
    padding-left: 3rem;
  }
  a {
    color: $blue;
    &:hover {
      color: lighten($blue, 10);
    }
  }
  .box {
    margin-top: 0;
    &.animate-in {
      @include transition(border, .5s, ease-in, .8s);
    }
  }
}

.main {
  .content-inner-left {
    > * {
      opacity: 0;
    }
    &.animate-in {
      > * {
        opacity: 1;
        @include loopedElementAnimation(4, .25s, 0s, ease-in, .5s, opacity);
      }
      &.padding-right {
        border-color: $border-grey;
        @include transition(border-color, $easing: ease-in, $delay: 1.66s);
      }
    }
  }
}


@include mq(sm) {
  .main {
    padding: $section-padding 0;
  }
}
