<section class="content default accessibility above-fixed-bar acc-break-word">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Green Chip Recycling Accessibility Statement</h1>

                <p>Updated: July 2020.</p>

                <br /><br />

                <h2>General</h2>
                <p>Green Chip Recycling strives to ensure that its services are accessible to people with disabilities. Green Chip Recycling has invested a significant amount of resources to help ensure that its website is made easier to use and more accessible for people with disabilities, with the strong belief that every person has the right to live with dignity, equality, comfort and independence.</p>

                <h2>Accessibility on Green Chip Recycling</h2>
                <p>Green Chip Recycling makes available the <a href="https://UserWay.org" alt="Free Website Accessibility Widget" title="Free Website Accessibility Widget">UserWay Website Accessibility Widget</a> that is powered by a dedicated accessibility server. The software allows Green Chip Recycling to improve its compliance with the Web Content Accessibility Guidelines (WCAG 2.1).</p>

                <h2>Enabling the Accessibility Menu</h2>
                <p>The Green Chip Recycling accessibility menu can be enabled by clicking the accessibility menu icon that appears on the corner of the page. After triggering the accessibility menu, please wait a moment for the accessibility menu to load in its entirety.</p>

                <h2>Disclaimer</h2>
                <p>Green Chip Recycling continues its efforts to constantly improve the accessibility of its site and services in the belief that it is our collective moral obligation to allow seamless, accessible and unhindered use also for those of us with disabilities.</p>

                <p>Despite our efforts to make all pages and content on Green Chip Recycling fully accessible, some content may not have yet been fully adapted to the strictest accessibility standards. This may be a result of not having found or identified the most appropriate technological solution.</p>

                <h2>Here For You</h2>
                <p>If you are experiencing difficulty with any content on Green Chip Recycling or require assistance with any part of our site, please contact us during normal business hours as detailed below and we will be happy to assist.</p>

                <h2>Contact Us</h2>
                <p>If you wish to report an accessibility issue, have any questions or need assistance, please contact Green Chip Recycling Partner Support as follows:</p>

                <p>Email: <a href="mailto:info@greenchiprecycling.com">info@greenchiprecycling.com</a></p>

                <br /><br />
            </div>
        </div>
    </div>
</section>
