<div class="fixed-bar acc-height" anchor="footer">
    <div class="row v-center wrap-sm acc-wrap full-height">
<!--        <div class="col fixed-bar-col">-->
<!--            <a href="--><?php //= $this->url('data-center-specialists'); ?><!--">-->
<!--                <div class="inner">-->
<!--                    <h3>Data Center</h3>-->
<!--                    <h4>Specialists</h4>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
<!--        <div class="col fixed-bar-col">-->
<!--            <a href="--><?php //= $this->url('crt-glass'); ?><!--">-->
<!--                <div class="inner">-->
<!--                    <h3>CRT</h3>-->
<!--                    <h4>Glass</h4>-->
<!--                </div>-->
<!--            </a>-->
<!--        </div>-->
        <div class="col fixed-bar-col">
            <a href="<?= $this->url('it-asset-disposition'); ?>">
                <div class="inner">
                    <h3>IT Asset</h3>
                    <h4>Disposition &&nbsp;Purchasing</h4>
                </div>
            </a>
        </div>
        <div class="col fixed-bar-col">
            <a href="<?= $this->url('electronics-recycling'); ?>">
                <div class="inner">
                    <h3>Electronics</h3>
                    <h4>Recycling</h4>
                </div>
            </a>
        </div>
        <div class="col fixed-bar-col">
            <a href="<?= $this->url('hard-drive-shredding'); ?>">
                <div class="inner">
                    <h3>Hard Drive</h3>
                    <h4>Shredding</h4>
                </div>
            </a>
        </div>
        <div class="col fixed-bar-col">
            <a href="<?= $this->url('municipality'); ?>">
                <div class="inner">
                    <h3>Municipality</h3>
                    <h4>Recycling Programs</h4>
                </div>
            </a>
        </div>
        <div class="col fixed-bar-col">
            <a href="<?= $this->url('oem'); ?>">
                <div class="inner">
                    <h3>OEM Program</h3>
                    <h4>Management</h4>
                </div>
            </a>
        </div>
    </div>
</div>