<div class="form-panel">
    <div class="row">
        <div class="col align-center" ng-if="!processed">
            <h3>Tell Us About Your Needs</h3>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form name="form.mobile" ng-submit="submitForm('mobile')" ng-if="!processed" novalidate>
                <div class="row wrap">
                    <div class="col form-field" ng-class="{ 'muni-selected': model.category === 'Municipality Recycling Programs' }">
                        <dropdown id="category-dropdown_mobile"
                                  placeholder="I am looking for:"
                                  list="categories"
                                  selected="model.category"
                                  animation="true"></dropdown>
                        <input type="hidden" name="category_mobile" ng-model="model.category" required>
                        <api-validation-messages message-key="category" messages="apiFormErrors"></api-validation-messages>
                        <ul class="validation-messages" ng-if="form.mobile.category_mobile.$invalid && form.mobile.$submitted">
                            <li>Required</li>
                        </ul>
                    </div>
                    <div class="col form-field">
                        <dropdown id="type-dropdown_mobile"
                                  placeholder="For my:"
                                  list="locations"
                                  selected="model.location"
                                  no-items-message="Please select a category above"
                                  animation="true"></dropdown>
                        <input type="hidden" name="location_mobile" ng-model="model.location" required>
                        <api-validation-messages message-key="location" messages="apiFormErrors"></api-validation-messages>
                        <ul class="validation-messages" ng-if="form.mobile.location_mobile.$invalid && form.mobile.$submitted">
                            <li>Required</li>
                        </ul>
                    </div>
                    <div class="col form-field">
                        <input placeholder="Located at:" type="text" name="address_mobile" ng-model="model.address" required>
                        <api-validation-messages message-key="address" messages="apiFormErrors"></api-validation-messages>
                        <ul class="validation-messages" ng-if="form.mobile.address_mobile.$invalid && form.mobile.$submitted">
                            <li>Required</li>
                        </ul>
                    </div>
                    <div class="col form-field">
                        <input placeholder="Phone Number:"
                               type="text"
                               mask-restrict="reject"
                               mask-clean="false"
                               mask="(999) 999-9999"
                               name="phone_mobile"
                               ng-model="model.phone"
                               required>
                        <api-validation-messages message-key="phone" messages="apiFormErrors"></api-validation-messages>
                        <ul class="validation-messages" ng-if="form.mobile.phone_mobile.$invalid && form.mobile.$submitted">
                            <li>Required</li>
                        </ul>
                    </div>
                    <div class="col form-field">
                        <input placeholder="Email:" type="email" name="email_mobile" ng-model="model.email" required>
                        <api-validation-messages message-key="email" messages="apiFormErrors"></api-validation-messages>
                        <ul class="validation-messages" ng-if="form.mobile.email_mobile.$invalid && form.mobile.$submitted">
                            <li>Required</li>
                        </ul>
                    </div>
                    <div class="col form-field">
                        <label class="radio" for="newsletter_opt_in_yes_mobile">
                            <div class="row v-center">
                                <div class="col-free align-left">
                                    <input type="radio"
                                           value="Yes"
                                           name="newsletter_opt_in_mobile"
                                           id="newsletter_opt_in_yes_mobile"
                                           ng-model="model.newsletter_opt_in"
                                           ng-required="true"
                                           ng-value="'Yes'"
                                    />
                                    <span class="custom-checkbox"></span>
                                </div>
                                <div class="col-free">
                                    <p>Please keep in touch by adding me to your newsletter</p>
                                </div>
                            </div>
                        </label>
                        <label class="radio" for="newsletter_opt_in_no_mobile" id="newsletter-no-mobile">
                            <div class="row v-center">
                                <div class="col-free align-left">
                                    <input type="radio"
                                           value="No"
                                           name="newsletter_opt_in_mobile"
                                           id="newsletter_opt_in_no_mobile"
                                           ng-model="model.newsletter_opt_in"
                                           ng-required="true"
                                           ng-value="'No'"
                                    />
                                    <span class="custom-checkbox"></span>
                                </div>
                                <div class="col-free">
                                    <p>Do not add me to your newsletter</p>
                                </div>
                            </div>
                        </label>
                        <api-validation-messages message-key="newsletter_opt_in" messages="apiFormErrors"></api-validation-messages>
                        <ul class="validation-messages" ng-if="form.mobile.newsletter_opt_in_mobile.$invalid && form.mobile.$submitted">
                            <li>Please select an option</li>
                        </ul>
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-sm btn-bold btn-blue">
                            <span ng-if="!processing">Inquire</span>
                            <span ng-if="processing"><i class="fa fa-spin fa-cog"></i></span>
                        </button>
                    </div>
                </div>
            </form>
            <div class="form-success align-center" ng-if="processed">
                <h3>Thank you for your submission! We will be in touch shortly.</h3>
                <div class="hidden-md-down">
                    <button class="btn btn-blue btn-bold" ng-click="closeModal()">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>