<div class="menu-toggle" toggle-active=".menu, .menu-toggle">
    <div class="menu-bar"></div>
    <div class="menu-bar"></div>
    <div class="menu-bar"></div>
</div>
<div class="menu">
    <div class="menu-inner">
        <ul>
            <li>
                <a class="<?= $this->activeRoute('home'); ?>" toggle-active=".menu, .menu-toggle" href="<?= $this->url('home'); ?>">Home</a>
            </li>
        </ul>
        <ul>
            <li>
                <a class="<?= $this->activeRoute('about'); ?> toggle-active=".menu, .menu-toggle" href="<?= $this->url('about'); ?>">About</a>
            </li>
            <li>
                <a toggle-active=".menu, .menu-toggle" href="<?= $this->url('about'); ?>">The Company</a>
            </li>
            <li>
                <a class="<?= $this->activeRoute('certifications'); ?> toggle-active=".menu, .menu-toggle" href="<?= $this->url('certifications'); ?>">Certifications</a>
            </li>
        </ul>
        <ul>
            <li>
                <a toggle-active=".menu, .menu-toggle" href="<?= $this->url('it-asset-disposition'); ?>">Services</a>
            </li>
<!--            <li>-->
<!--                <a class="--><?php //= $this->activeRoute('data-center-specialists'); ?><!-- toggle-active=".menu, .menu-toggle" href="--><?php //= $this->url('data-center-specialists'); ?><!--">Data Center Specialists</a>-->
<!--            </li>-->
<!--            <li>-->
<!--                <a class="--><?php //= $this->activeRoute('crt-glass'); ?><!-- toggle-active=".menu, .menu-toggle" href="--><?php //= $this->url('crt-glass'); ?><!--">CRT Glass</a>-->
<!--            </li>-->
            <li>
                <a class="<?= $this->activeRoute('it-asset-disposition'); ?> toggle-active=".menu, .menu-toggle" href="<?= $this->url('it-asset-disposition'); ?>">IT Asset Disposition &amp; Purchasing</a>
            </li>
            <li>
                <a class="<?= $this->activeRoute('electronics-recycling'); ?> toggle-active=".menu, .menu-toggle" href="<?= $this->url('electronics-recycling'); ?>">Electronics Recycling</a>
            </li>
            <li>
                <a class="<?= $this->activeRoute('hard-drive-shredding'); ?> toggle-active=".menu, .menu-toggle" href="<?= $this->url('hard-drive-shredding'); ?>">Hard Drive Shredding</a>
            </li>
            <li class="">
                <a href="<?= $this->url('municipality'); ?>">
                    Municipality Recycling Programs
                </a>
            </li>
            <li class="">
                <a href="<?= $this->url('oem'); ?>">
                    OEM Program Management
                </a>
            </li>
        </ul>
<!--        <ul>-->
<!--            <li>-->
<!--                <a toggle-active=".menu, .menu-toggle" href="--><?php //= $this->url('newsroom'); ?><!--">Newsroom</a>-->
<!--            </li>-->
<!--            <li><a href="--><?php //= $this->url('industry-news'); ?><!--">Industry News</a></li>-->
<!--            <li><a href="--><?php //= $this->url('greenchip-on-the-go'); ?><!--">Greenchip On The Go</a></li>-->
<!--        </ul>-->
        <ul>
            <li>Client</li>
            <li><a href="https://greenchip.razorerp.com/portal/">Client Login</a></li>
        </ul>
        <ul>
            <li>
                <a href="<?= $this->url('contact'); ?>">Contact</a>
            </li>
        </ul>
        <ul>
            <li class="bold"><a href="<?= $this->url('e-waste-form'); ?>">E-Waste Form</a></li>
        </ul>
    </div>
</div>
