@import '../../src/fonts';
@import '../../src/variables';
@import '../../src/mixins';
@import '../../src/form';
@import '../../src/hero';
@import '../../src/grid';
@import '../../src/box';
@import '../../partials/form-panel';


$dir: 'crt-glass';
$common: 'common';
$img-path: $base-img-path + $dir;
$common-img-path: $base-img-path + $common;

$bucket-height: 180px;

.hero {
  @include bgImage($img-path, 'hero.jpg');
  position: relative;
  overflow: hidden;
}

.top {
  ul {
    margin: 1rem 0 0;
    li {
      margin: 1rem 0;
      font-size: 1rem;
      @include FontBold();
      @include customListStyle(8px, 2px, transparent, $green-dk, 1.5rem, .375rem);
    }
  }
  .images {
    img:first-child {
      border-top: $grid-border-lg;
    }
    img {
      border-bottom: $grid-border-lg;
      width: 100%;
    }
  }
  .inner {
    position: relative;
    margin: 0 auto;
    width: 75%;
    max-width: 620px;
  }
  h4 {
    margin: 1.5rem 0 0;
  }
}

.container {
  .last-row {
    padding-bottom: 4rem;
  }
}

.crt-glass-row {
  display: flex;
  flex-wrap: wrap;
}

#crt-lower-section {
  position: relative;
  @include bgImage($img-path, 'crt-lower-section-background.png');
  width: 100%;
}

.crt-glass-heading {
  padding-top: 50px;
  height: fit-content;
}

.crt-image-small {
  padding: 30px;
}

.crt-description {
  display: flex;
  flex-direction: column;
  max-width: 340px;
  padding: 30px;
  h3 {
    margin-bottom: 30px;
  }
}

.row {
  .crt-image-unit {
    padding: 0px 20px;
    .crt-image-small {
      width: 272px;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.crt-image-unit {
  display: flex;
  margin: 10px 0px;
  align-items: center;
  img {
    height: fit-content;
  }
  .divider {
    height: 220px;
    width: 3px;
  }
}

.crt-column {
  display: flex;
  flex-direction: column;
  width: 50%;
  .crt-image-unit {
    .divider {
      object-fit: scale-down;
    }
  }
  .row {
    display: flex;
    padding-top: 40px;
    max-width: 100%;
    #crt-glass-5 {
      max-width: 59.267%;
      padding: 0px 0px 10px 10px;
    }
    #crt-glass-6 {
      max-width: 40.733%;
      padding: 0px 0px 10px 10px;
    }
  }
  .divider {
    padding: 0px;
    object-fit: unset;
  }
  #crt-glass-7 {
    max-width: 100%;
    padding: 0px 0px 10px 10px;
  }
  .crt-image-small {
    img {
      width: 100%;
      object-fit: scale-down;
    }
  }
}

.flex-start {
  align-items: flex-start;
}

.logos-section {
  padding: 10px 80px 0px 80px;
}

.e-stewards {
  padding-left: 0px;
}

.tracker-button {
  width: 360px;
  padding: 20px;
  background: linear-gradient(#ffffff, #dadada);
  color: #1972bd;
  font-size: 20px;
  font-weight: 800;
  display: block;
  border-radius: 10px;
  border: 2px solid;
  border-color: #ffffff #d3d3d3 #9d9d9d #ffffff;
  margin: auto;
  margin-bottom: 10rem;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.tracker-button:hover {
  cursor: pointer;
}

.crt-glass-sections {
  //padding-bottom: 4rem;
  .content {
    .container {
      margin-left: 0px;
      margin-right: 0px;
      width: 100%;
      padding: 0px;
      .row {
        .align-center {
          p {
            font-size: 1rem;
            margin: 0px 20% 30px 20%;
            font-weight: 400;
          }
        }
      }
    }
  }
}

@media (max-width: 1190px) {
  .crt-column {
    .crt-image-unit {
      img {
        height: unset;
      }
      .divider {
        height: 120px;
      }
    }
  }
  .logos-section {
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 10px;
  }
}

@media (max-width: 800px) {
  .crt-column {
    .row {
      flex-wrap: wrap;
      #crt-glass-5 {
        max-width: 100%;
      }
      #crt-glass-6 {
        max-width: 100%;
      }
    }
    .crt-image-unit {
      flex-wrap: wrap;
      #logos-divider {
        display: none;
      }
      .crt-image-small {
        padding: 10px;
      }
    }
  }
  .logos-section {
    padding: 10px 20px;
  }
  .e-stewards {
    padding: 10px;
  }
  .tracker-button {
    margin-bottom: 8rem;
  }
}

@media (max-width: 600px) {
  .row {
    .crt-image-unit {
      .crt-image-small {
        padding: 10px;
        img {
          width: 180px;
          object-fit: scale-down;
        }
      }
      .crt-description {
        padding: 10px;
      }
    }
  }
}

@include mqRange(md, lg) {
  .top {
    .inner {
      width: 90%;
      p {
        font-size: .9rem;
      }
    }
  }
}

@include mq(md) {
  .top {
    .inner {
      padding: $section-padding-lg 0;
    }
  }
}

@include mq(sm) {
  .top {
    .inner {
      width: 95%;
    }
    .images {
      img {
        border-bottom: $grid-border;
      }
    }
  }
}