<section class="hero acc-height acc-padding">
    <div class="container full-height">
        <div class="row center v-center full-height">
            <div class="col align-center">
                <heading text="Certifications"></heading>
                <h1>Electronics Recycling Experts</h1>
            </div>
        </div>
    </div>
</section>
<section class="content content-black top">
    <div class="container">
        <div class="row center" animate-in window-multiplier=".66">
            <div class="col-30 col-md-40 col-sm-48 acc-full-width align-center">
                <div class="content-inner">
                    <h2 class="regular animate animate-opacity">Certified By the Highest Standards</h2>
                    <p class="animate animate-opacity">As a leader in managing end of lifecycle electronics,
                       Greenchip is R2V3, NAID AAA, ISO 14001, ISO 45001 certified, with multiple audits annually to maintain up-to-date certification. With
                       the ability to measure it's performance and hold itself to the highest standards, Greenchip takes environmental
                       policy and legal requirements as top priority. Through our rigorous certification processes Greenchip has been
                       independently audited for each individual phase in the electronic waste stream management.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="bg-middle parallax-bg" data-bottom-center="background-position: 80% 0px;" data-top-bottom="background-position: 80% -40%;"></div>
<section class="content content-black bottom above-fixed-bar">
    <div class="container">
        <div class="row center wrap-md certification extra-space-bottom" animate-in window-multiplier=".78">
            <div class="col-10 col-lg-12 col-md-48">
                <img class="r2" src="/img/certifications/e-stewards.png" alt="e-Stewards">
            </div>
            <div class="col-32 col-lg-38 col-sm-48 border-left acc-full-width-md">
                <h2>e-Stewards Certified</h2>
                <p>
                    e-Stewards certification is the highest e-waste recycling certification in the world. The only standard
                    that follows all international and local e-waste laws. We stop the export of illegal hazardous e-waste
                    to developing nations and create a safe, green, and just world through sharing and using the principled
                    and practical standard for electronics recycling and reuse.
                </p>
            </div>
        </div>
        <div class="row center wrap-md certification extra-space-bottom" animate-in window-multiplier=".78">
            <div class="col-10 col-lg-12 col-md-48">
                <a href="<?= $this->externalUrl('badges/r2'); ?>">
                    <img class="r2" src="/img/certifications/r2.png" alt="Responsible Recycling">
                </a>
            </div>
            <div class="col-32 col-lg-38 col-sm-48 border-left acc-full-width-md">
                <h2>The R2V3 (Responsible Recycling) Standard</h2>
                <p>The R2V3 (Responsible Recycling) Standard sets forth requirements relating to environmental, health, safety, and
                    security aspects of electronics recycling.</p>
                <p>The R2V3 Certification provides a strict Policy is in place for managing used and end-of-life electronics equipment
                    that is based on a "reuse, recover, dispose" hierarchy of responsible management strategies and covers materials
                    management on site and throughout the Recycling Chain. This also maintains a set plan for complying with the
                    environmental, health, and safety legal requirements relating to its operations, and for assuring it only exports
                    equipment and components containing Focus Materials to countries that legally accept them. Every R2V3 recycler has
                    been audited by an independent auditor that evaluates each recycler in more than 50 areas of operational and
                    environmental performance.</p>
            </div>
        </div>
        <div class="row center wrap-md certification extra-space-bottom" animate-in window-multiplier=".78">
            <div class="col-10 col-lg-12 col-md-48">
                <img src="/img/certifications/naid.jpg" alt="NAID">
            </div>
            <div class="col-32 col-lg-38 col-sm-48 acc-full-width-md border-left">
                <h2>NAID AAA Certified</h2>
                <p>NAID AAA Certification® verifies secure data destruction compliance with all known data protection laws through scheduled
                    and surprise audits by trained, accredited security professionals, fulfilling partners’ regulatory due diligence obligations.
                    The certification establishes standards for a secure destruction process including such areas as operational security,
                    employee hiring and screening, the destruction process, responsible disposal and insurance.</p>
            </div>
        </div>
        <div class="row center wrap-md certification extra-space-bottom" animate-in window-multiplier=".78">
            <div class="col-10 col-lg-12 col-md-48">
                <img src="/img/certifications/iso-14001-2023.png" alt="ISO Certified">
            </div>
            <div class="col-32 col-lg-38 col-sm-48 border-left acc-full-width-md">
                <h2>ISO 14001 Certified</h2>
                <p>The ISO 14000 standards provide a guideline or framework for organizations that need to systematize and
                   improve their environmental management efforts. The ISO 14001 standard is the most important standard
                   within the ISO 14000 series. ISO 14001 specifies the requirements of an environmental management system
                   (EMS) for small to large organizations. An EMS is a systemic approach to handling environmental issues
                   within an organization.</p>
            </div>
        </div>
        <div class="row center wrap-md certification extra-space-bottom" animate-in window-multiplier=".78">
            <div class="col-10 col-lg-12 col-md-48">
                <img src="/img/certifications/iso-45001-2023.png" alt="ISO 45001 Certified">
            </div>
            <div class="col-32 col-lg-38 col-sm-48 border-left acc-full-width-md">
                <h2>ISO 45001 Certified</h2>
                <p>ISO 45001 Certification is an international standard which provides
                   a framework to identify, control and decrease the risks associated with health and safety within the workplace.
                   Through implementation of the standard we take our employee’s health and safety as a priority.</p>
            </div>
        </div>
        <div class="row center wrap-md certification extra-space-bottom" animate-in window-multiplier=".78">
            <div class="col-10 col-lg-12 col-md-48">
                <img class="microsoft" src="/img/certifications/microsoft.jpg" alt="Microsft Authorized Refurbisher">
            </div>
            <div class="col-32 col-lg-38 col-sm-48 border-left acc-full-width-md">
                <h2>Microsoft Registered Refurbisher</h2>
                <p>Microsoft Registered Refurbishers have years of experience professionally refurbishing computers and servers
                    using data security and environmental and sustainability best practices and compliance methods. Microsoft
                    Authorized Refurbishers provide a complete PC solution at a great value for businesses or homes. Greenchip
                    is proud to be a member of the Microsoft Refurbisher Program with the following benefits:</p>
                <ul>
                    <li>Recognition and status as a member of a Microsoft Refurbisher program.</li>
                    <li>Ability to build an enhanced relationship with Microsoft.</li>
                    <li>Genuine Microsoft software licenses for refurbished PCs.</li>
                    <li>Access to proprietary installation tools to simplify the software deployment process.</li>
                    <li>The opportunity to create market differentiation through the sale of a refurbished PC solution with preinstalled Microsoft software.</li>
                </ul>
            </div>
        </div>
    </div>
</section>
