@import '../../src/fonts';
@import '../../src/variables';
@import '../../src/mixins';
@import '../../src/hero';


$dir: 'e-waste-form';
$img-path: $base-img-path + $dir;

$e-waste-grey-dk: #898989;
$e-waste-grey: #b6b6b6;
$e-waste-grey-lt: #cccccc;
$e-waste-form-grey: #e8ecef;
$e-waste-icon-grey: #aeb4ba;
$e-waste-blue: #357bc1;
$e-waste-green: #58ae46;

$e-waste-font-size: 1rem;
$e-waste-size: 38px;
$e-waste-size-mobile: 32px;
$e-waste-border-radius: 8px;
$e-waste-form-padding-vertical: .8rem;
$e-waste-form-padding-horizontal: 1rem;
$e-waste-form-padding: $e-waste-form-padding-vertical $e-waste-form-padding-horizontal;


header,
footer,
.fixed-bar,
.phone-number,
.menu-toggle,
.menu {
  display: none;
}


.hero {
  @include bgImage($img-path, 'hero.jpg');
}

.sweet-alert {

  h1,h2 {
    @include FontBold();
  }

  h2 {
    font-size: 1.5rem;
    margin-bottom: .5rem;
  }

  p {
    @include FontRegular();
  }

  span.spaced {
    margin-bottom: 10px;
  }
  span.block {
    display: block;
  }
  p > span {
    font-size: 14px;
  }
  .custom-title {
    margin-top: -10px;
  }

  .sa-icon {
    &.sa-warning, &.sa-info {
      border-color: $e-waste-blue !important;
      .sa-body, .sa-dot {
        background-color: $e-waste-blue !important;
      }
    }
    &.sa-info {
      width: 50px;
      height: 50px;
      margin-bottom: 5px;
      &:before, &:after {
        background-color: $e-waste-blue !important;
      }
      &:after {
        top: 37px;
      }
      &:before {
        height: 23px;
      }
    }
  }

  span.primary {
    color: $e-waste-blue;
  }

  span.bold {
    @include FontBold();
  }

  button {
    font-size: 1rem;
    color: $white;
    @include FontBold();
    @include transition();
    border-radius: $e-waste-border-radius;
    margin-top: 1rem !important;
    &.confirm {
      background-color: $e-waste-blue !important;
      &:hover {
        background: darken($e-waste-blue, 10) !important;
      }
    }
    &.cancel {
      background-color: $e-waste-grey-dk !important;
      &:hover {
        background-color: darken($e-waste-grey-dk, 10) !important;
      }
    }
  }

  .sa-button-container {
    margin-bottom: 1rem;
  }

}

.logo-wrap {
  div.logo {
    position: relative;
  }
  img.logo {
    display: block;
    width: 300px;
    max-width: 90%;
    margin: 2.5rem auto 0;
  }
  span.trademark {
    display: block;
    position: absolute;
    top: 6px;
    right: 3px;
    font-size: 12px;
    color: $green;
    @include FontRegular();
  }
}

.form {
  padding: $section-padding 0 0;
  background: $white;

  h4 {
    font-size: 1.3rem;
    @include FontBold();
  }

  h5 {
    font-size: 1.125rem;
    @include FontBold();
  }

  .icon-xl {
    font-size: 7rem;
  }

  .sample-audit-report {
    z-index: -10;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba($black, .6);
    position: fixed;
    @include transition(opacity);

    img {
      max-height: 100%;
      width: auto;
      max-width: 100%;
    }

    i {
      cursor: pointer;
      font-size: 1.5rem;
      position: absolute;
      top: .3rem;
      right: .5rem;
    }

    .image-wrap {
      display: inline-block;
      max-height: 90%;
      @include verticalCenter(relative);
    }

    &-inner {
      opacity: 0;
      position: fixed;
      width: auto;
      max-width: 90%;
      text-align: center;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: 0 auto;
      @include transition(opacity);
      &.active {
        opacity: 1;
        z-index: 5000;
      }
    }

    &.active {
      opacity: 1;
      z-index: 4999;
    }
  }

  .form-area {
    border-top: 1px solid $e-waste-green;
    padding: 3rem 0 9rem;
    background: $grey-x-lt;
    position: relative;
    &:before, &:after {
      content: ' ';
      display: block;
      width: 4px;
      height: 4px;
      background: $white;
      border: 2px solid $e-waste-green;
      border-radius: 50%;
      background: $white;
      position: absolute;
      top: -4px;
    }
    &:before {
      left: -6px;
    }
    &:after {
      right: -6px;
    }
  }

  .has-help-icon {
    i {
      @include verticalCenter(absolute);
      right: -2.5rem;
      color: $e-waste-blue;
      font-size: 1.75rem;
      cursor: pointer;
    }
  }

  .uploaded-file {
    background: $e-waste-form-grey;
    padding: $e-waste-form-padding-vertical 2rem $e-waste-form-padding-vertical $e-waste-form-padding-horizontal;
    font-size: $e-waste-font-size;
    @include FontRegular();
    position: relative;
    border-radius: $e-waste-border-radius;
    span {
      margin-left: 2.5rem;
    }
    i {
      cursor: pointer;
      @include transition();
      @include verticalCenter(absolute);
      right: 1rem;
      font-size: 1.5rem;
      @include color($e-waste-icon-grey, $e-waste-blue);
    }
  }

  button.upload-button {
    background: $e-waste-form-grey;
    padding: $e-waste-form-padding-vertical $e-waste-form-padding-horizontal $e-waste-form-padding-vertical 3rem;
    position: relative;
    font-size: $e-waste-font-size;
    color: $e-waste-blue;
    border: 1px solid $e-waste-form-grey;
    border-radius: $e-waste-border-radius;
    display: block;
    width: 100%;
    cursor: pointer;
    text-align: left;
    @include FontBold();
    @include transition();

    i {
      @include verticalCenter(absolute);
      left: 1.25rem;
      font-size: 1.5rem;
      color: $blue;
      @include transition();
    }

    &:hover {
      color: $white;
      border-color: $e-waste-blue;
      background: $e-waste-blue;
      i {
        color: $white;
      }
    }
  }

  .step {
    width: $e-waste-size;
    height: $e-waste-size;
    line-height: $e-waste-size;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
    @include FontBold();
    color: $white;
    position: relative;
    z-index: 2;
    border-radius: 50%;
    background: $e-waste-grey;
    @include transition();
    &:hover, &.active {
      background: $e-waste-blue;
    }
    &.complete {
      border: 1px solid $e-waste-blue;
      background: $white;
      color: $e-waste-blue;
    }
  }

  .progress-percent {
    padding: 3px;
    background: $white;
    border-radius: 2px;
    font-size: 13px;
    position: absolute;
    bottom: -36px;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    @include FontBold();
    color: $e-waste-blue;
    border: 1px solid $e-waste-grey-dk;
    &:before,
    &:after {
      content: ' ';
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
    }
    &:before {
      @include triangleUp(6px, $white);
      top: -6px;
      z-index: 2;
    }
    &:after {
      top: -8px;
      z-index: 1;
      @include triangleUp(8px, $e-waste-grey-dk);
    }
  }

  .step-row {
    position: relative;
    > div {
      position: relative;
    }
    .divider {
      height: 6px;
      width: 100%;
      background: $e-waste-grey-lt;
      &.complete {
        background: $e-waste-blue;
      }
    }
  }

  .buttons {
    @include transition(opacity, .2s);
    &.ng-enter,
    &.ng-leave.ng-leave-active {
      opacity: 0;
    }
    &.ng-leave,
    &.ng-enter.ng-enter-active {
      opacity: 1;
    }
  }
  
  form {

    .btn-form {
      width: 228px;
      margin-left: .5rem;
      margin-right: .5rem;
      text-transform: uppercase;
    }

    .form-submit:disabled {
      opacity: .75;
      cursor: not-allowed;
      &:hover {
        opacity: .75;
        &:before {
          opacity: 0 !important;
        }
      }
    }

    .add-another {
      margin-top: 1rem;
      width: 200px;
    }

    .form-field {
      margin-bottom: .75rem;
    }

    .form-group {
      margin-bottom: 2rem;
    }

    @include placeholder() {
      @include FontBold();
      color: $e-waste-blue;
      font-size: $e-waste-font-size;
      opacity: 1;
    }

    input, textarea {
      padding: $e-waste-form-padding;
      border: 1px solid $e-waste-grey-dk;
      border-radius: $e-waste-border-radius;
      font-size: $e-waste-font-size;
      @include FontBold();
      color: $black;
      width: 100%;
      &:hover, &:focus {
        border-color: $blue;
      }
    }

    .validation-messages {
      color: $red;
      font-size: 13px;
      margin-top: 4px;
      @include FontRegular();
    }

    .checkbox-row {
      margin-top: 1rem;

      &.make-unclickable {
        pointer-events: none;
        opacity: .65;
      }
    }

    .checkbox-row-wrapper {
      &.make-unclickable {
        cursor: not-allowed;
      }
    }

    input[type="checkbox"], input[type="radio"] {

      display: none;

      + span.custom-checkbox {
        width: 26px;
        height: 26px;
        left: 0;
        top: 2px;
        margin-right: 10px;
        position: relative;
        display: inline-block;
        cursor: pointer;
        background: transparent;
        border: 1px solid $black;
        text-align: center;

        &:after {
          content: '\f00c';
          font-family: 'Font Awesome 5 Pro';
          color: $black;
          font-size: 22px;
          line-height: 26px;
          left: 0;
          right: 0;
          top: -1px;
          text-align: center;
          display: block;
          opacity: 0;
          height: 100%;
          width: 100%;
          position: absolute;
          @include transition();
        }
      }
    }

    label.checkbox {
      span.label {
        position: relative;
        top: 5px;
        color: $black;
        font-size: 1rem;
        @include FontBold();
      }
    }

    input[type="checkbox"]:checked, input[type="radio"]:checked {
      + span.custom-checkbox {
        &:after {
          opacity: 1;
        }
      }
    }

    dropdown, dropdown-multi {
      .dropdown-display {
        height: auto;
        border-color: $e-waste-grey-dk;
        border-radius: $e-waste-border-radius;
        padding-right: 1rem;
        span {
          top: 0;
          @include clearTransform();
          font-size: $e-waste-font-size;
          padding: $e-waste-form-padding;
          @include FontBold();
          &.placeholder {
            color: $blue;
          }
        }
        i {
          display: none;
        }
        &:after {
          content: '\f078';
          color: $grey;
          font-family: 'Font Awesome 5 Pro';
          font-weight: bold;
          font-size: 14px;
          position: absolute;
          top: 50%;
          @include transform(translateY(-50%));
          right: .75rem;
        }
      }
      .dropdown-list {
        top: 100%;
        margin-top: 2px;
        border-radius: 0;
        transition-duration: .15s;
        -webkit-transition-duration: .15s;
      }
      .dropdown-list-item {
        &:hover, &.selected {
          background: $white;
        }
        &:first-child {
          border-radius: $e-waste-border-radius $e-waste-border-radius 0 0;
        }
        &:last-child {
          border-radius: 0 0 $e-waste-border-radius $e-waste-border-radius;
          border-bottom: 1px solid $e-waste-grey-dk;
        }
        padding: $e-waste-form-padding-vertical $e-waste-form-padding-horizontal $e-waste-form-padding-vertical 3.5rem;
        height: auto;
        border: 1px solid $e-waste-grey-dk;
        border-bottom: none;
        position: relative;
        &:before {
          content: ' ';
          border: 1px solid $e-waste-grey-dk;
          display: block;
          height: 22px;
          width: 22px;
          border-radius: 3px;
          @include verticalCenter(absolute);
          @include transition();
          left: 1.1rem;
        }
        &:after {
          font-family: 'Font Awesome 5 Pro';
          @include verticalCenter(absolute);
          left: 1.35rem;
          opacity: 0;
          position: absolute;
          color: $white;
          font-size: 16px;
          line-height: 16px;
          content: '\f00c';
          @include transition();
        }
        span {
          @include FontRegular();
          font-size: $e-waste-font-size;
          color: $black;
          height: auto;
          line-height: 100%;
        }
        .fa {
          display: none;
        }
      }
      .dropdown-list-item.selected {
        &:before {
          background: $e-waste-blue;
          border-color: $e-waste-blue;
        }
        &:after {
          opacity: 1;
        }
      }

      &.overflow-auto {
        .show {
          .dropdown-list {
            max-height: 250px;
            overflow: auto;
          }
        }
      }
    }
  }

  .text-only {
    cursor: pointer;
    margin-top: 1.5rem;
    @include FontBold();
    text-decoration: underline;
    @include transition();
    @include color($e-waste-blue, darken($e-waste-blue, 10));
  }

  .form-success {
    padding-top: 2rem;
    img.check-circle {
      width: 180px;
      margin-bottom: 1.5rem;
    }
  }
}

@include mq(md) {
  .form {
    .form-area {
      padding-left: 1.3rem;
      padding-right: 1.3rem;
    }
    .has-help-icon {
      i {
        font-size: 1.3rem;
        right: -1.85rem;
      }
    }
  }
}

@include mq(sm) {
  .logo-wrap {
    img.logo {
      margin-bottom: 2.5rem;
    }
  }
  .form {
    padding-top: 8px;
    padding-bottom: 0;
    position: relative;
    z-index: 2;
    .form-wrap-row {
      padding-left: 0;
      padding-right: 0;
    }
    .form-area {
      &:before,
      &:after {
        background: $white;
        z-index: 2;
      }
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
    }
  }
}

@include mqRange(p-lg, xs) {
  .hero {
    h1 {
      font-size: 2rem;
    }
  }
}

@include mq(xs) {
  .content {
    h2.small {
      font-size: 1.3rem;
    }
  }
  .form {
    font-size: .9em;
    .form-area {
      padding-left: .8rem;
      padding-right: .8rem;
    }
    form {
      .form-reset {
        margin-top: 1rem;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .uploaded-file {
      span {
        display: block;
        margin-left: 0;
      }
    }
    .has-help-icon {
      padding-top: 1.3rem;
      i {
        right: 0;
        top: .3rem;
      }
    }
    .form-success {
      padding-top: 0;
      img.check-circle {
        width: 120px;
      }
      p {
        font-size: 14px;
      }
    }
  }

}

@include mq(p-lg) {
  .sweet-alert {

    h2 > .custom-title {
      font-size: 1.25rem;
    }

    p > span {
      font-size: 13px;
    }

    .sa-icon {
      &.sa-info {
        display: none !important;
      }
    }
  }
}

@include mq(p-md) {
  .form {
    .step {
      height: $e-waste-size-mobile;
      width: $e-waste-size-mobile;
      line-height: $e-waste-size-mobile;
    }
  }
}

@media (max-width: 360px) {
  .hero {
    h1 {
      font-size: 1.5rem;
    }
    heading {
      h2 {
        font-size: 1.25rem;
      }
    }
  }
}
