<section class="hero acc-padding acc-height">
    <div class="container full-height">
        <div class="row center v-center full-height">
            <div class="col-42 col-md-48 acc-full-width align-center">
                <heading text="OEM Recycling"></heading>
                <div class="row center">
                    <div class="col-40 col-md-50 acc-full-width align-center">
                        <h1>Manufacturer Obligation Solutions</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content content-black top above-fixed-bar">
    <div class="container">
        <div class="row center" animate-in window-multiplier="1">
            <div class="col-36 col-sm-48 acc-full-width align-center content-inner">
                <h2 class="regular animate animate-opacity">State Program Experts</h2>
                <p class="animate animate-opacity">Greenchip is committed to helping Original Equipment Manufacturer (OEM) partners
                   meet their state program recycling obligations. We provide all-encompassing, economical recycling services for
                   OEMs of any size. Our OEM partners can have full confidence all materials are recycled in accordance with all
                   state and federal laws. With meticulous compliance documentation we streamline critical reporting for our OEM partners.</p>
                <p class="animate animate-opacity">We maintain R2V3, ISO 14001, and ISO 45001 certifications, all of which are backed by
                   our strict downstream vendor due diligence, including annual audits, focus material tracking, brand protection, and
                   auditing to final disposition for all material streams in accordance with EPEAT standards.</p>
                <img class="icon animate animate-opacity" src="/img/home/service-excellence.svg" alt="OEM Program Management">
            </div>
        </div>
    </div>
</section>
