<h1>Contact Form Inquiry</h1>
<br>
<p><strong>Name: </strong><?= $this->name; ?></p>
<p><strong>Email: </strong><?= $this->email; ?></p>
<p><strong>Phone: </strong><?= $this->phone; ?></p>
<p><strong>Category: </strong><?= $this->category; ?></p>
<p><strong>Type: </strong><?= $this->location; ?></p>
<p><strong>Address: </strong><?= $this->address; ?></p>
<p><strong>Comments: </strong><?= $this->comments; ?></p>
<br>
<p><strong>Newsletter Opt-In: </strong><?= $this->newsletter_opt_in; ?></p>
