<h1>E-Waste Quote Inquiry</h1>
<br>
<?php $yesNo = new \Filter\YesNo();?>
<p><strong>Name: </strong><?= $this->requiredServices['common']['model']['name']; ?></p>
<p><strong>Email: </strong><?= $this->requiredServices['common']['model']['email']; ?></p>
<p><strong>Company: </strong><?= $this->requiredServices['common']['model']['company']; ?></p>
<p><strong>Phone: </strong><?= $this->requiredServices['common']['model']['phone']; ?></p>


<?php if($this->requiredServices['common']['model']['whereLocated']) { ?>
    <p><strong>Where is your facility located: </strong><?= $this->requiredServices['common']['model']['whereLocated']; ?></p>
    <p><strong>What is the floor number: </strong><?= $this->requiredServices['common']['model']['floorNumber']; ?></p>
<?php } ?>

<?php if($this->requiredServices['ewaste']['selected']) { ?>
    <p><strong>Do you have an asset list of the equipment you are looking to dispose: </strong><?= $this->requiredServices['ewaste']['model']['haveAssetList']; ?></p>
    <?php if($this->requiredServices['ewaste']['model']['haveAssetList'] === 'Yes') { ?>
        <p>
            <strong>List of Uploaded Files</strong>
            <?php foreach($this->uploadedFiles as $file) { ?>
                <a href="<?= APPLICATION_BASE_URL . $file; ?>"><?= $file; ?></a>
            <?php } ?>
        </p>
    <?php } ?>
    <?php if($this->requiredServices['ewaste']['model']['haveAssetList'] === 'No') { ?>
        <p>
        <strong>What E-Waste Do You Have:</strong>
        <?php foreach($this->requiredServices['ewaste']['model']['providedList'] as $listItem) { ?>
            <?php if($listItem['item'] === 'Other') { ?>
                <p><?= $listItem['other']; ?>: <?= $listItem['quantity']; ?></p>
            <?php } else { ?>
                <p><?= $listItem['item']; ?>: <?= $listItem['quantity']; ?></p>
            <?php } ?>
        <?php } ?>
        </p>
        <br>
    <?php } ?>
    <p><strong>Do you need an auditable inventory report: </strong><?= $this->requiredServices['ewaste']['model']['needAuditableInventory']; ?></p>
    <p><strong>Is there a loading dock: </strong><?= $this->requiredServices['common']['model']['loadingDockElevator']; ?></p>

    <?php if($this->requiredServices['common']['model']['loadingDockElevator'] === 'No') { ?>
        <p><strong>Is there freight elevator or passenger elevator access: </strong><?= $this->requiredServices['common']['model']['elevatorOrStairs']; ?></p>
        <p><strong>Are there any stairs in the path of removal: </strong><?= $this->requiredServices['common']['model']['stairsInPath']; ?></p>
    <?php } ?>

<?php } ?>
<?php if($this->requiredServices['hardDrive']['selected']) { ?>
    <p><strong>How Many Hard Drives Do You Have: </strong><?= $this->requiredServices['hardDrive']['model']['howManyDrives']; ?></p>
    <p><strong>Are the hard drives still inside of the devices or are they loose: </strong><?= $this->requiredServices['hardDrive']['model']['looseOrInCPU']; ?></p>
    <?php if($this->requiredServices['hardDrive']['model']['looseOrInCPU'] === 'loose') { ?>
        <p>
            <strong>Would You Like Shredding On Site:</strong>
            <?= $this->requiredServices['hardDrive']['model']['shredOnsite']; ?>
        </p>
    <?php } ?>
    <?php if($this->requiredServices['hardDrive']['model']['shredOnsite']) { ?>
        <p>
        <strong>Do you have anything additional for shredding? Tapes, CDs, etc.:
        <?php if (is_array($this->requiredServices['hardDrive']['model']['additionalShredding'])) {
            $filterChain = new \Zend\Filter\FilterChain();
            $filterChain->attach(new \Zend\Filter\Word\CamelCaseToSeparator(' '));
            $filterChain->attach(new \Filter\UpperCaseWords());

            foreach ($this->requiredServices['hardDrive']['model']['additionalShredding'] as $label => $value) { ?>
                <p>
                    <strong><?= $filterChain->filter($label);?>:</strong>
                    <?php if (is_string($value)) {
                        echo $filterChain->filter($value);
                    } else {
                        echo $yesNo->filter($value);
                    }?>
                </p>
            <?php }
        } else {
            echo $this->requiredServices['hardDrive']['model']['additionalShredding'];
        } ?>
        </p>
    <?php } ?>
    <?php if($this->requiredServices['hardDrive']['model']['looseOrInCPU'] === 'inCPU') { ?>
        <p>
            <strong>Would you like us to recycle the computers with the drives inside:</strong>
            <?= $this->requiredServices['hardDrive']['model']['recycleWithDrivesInside']; ?>
        </p>
    <?php } ?>
    <?php if($this->requiredServices['hardDrive']['model']['recycleWithDrivesInside']) { ?>
        <p>
            <strong>What E-Waste Do You Have:</strong>
            <?= $this->requiredServices['hardDrive']['model']['providedList']; ?>
        </p>
    <?php } ?>
    <p><strong>Do You Have Anything Additional For Shredding: </strong><?= $this->requiredServices['hardDrive']['model']['additionalShredding']; ?></p>
<?php } ?>




<?php if($this->requiredServices['itad']['selected']) { ?>
    <p><strong>Do you have an asset list of the equipment you are looking to dispose: </strong><?= $this->requiredServices['itad']['model']['haveAssetList']; ?></p>
    <?php if($this->requiredServices['itad']['model']['haveAssetList'] === 'Yes') { ?>
        <p>
            <strong>List of Uploaded Files</strong>
            <?php foreach($this->uploadedFiles as $file) { ?>
                <a href="<?= APPLICATION_BASE_URL . $file; ?>"><?= $file; ?></a>
            <?php } ?>
        </p>
    <?php } ?>
<?php } ?>
