<h1>Quick Form Inquiry</h1>
<br>
<p><strong>Category: </strong><?= $this->category; ?></p>
<p><strong>Type: </strong><?= $this->location; ?></p>
<p><strong>Address: </strong><?= $this->address; ?></p>
<p><strong>Phone Number: </strong><?= $this->phone; ?></p>
<p><strong>Email: </strong><?= $this->email; ?></p>
<br>
<p><strong>Newsletter Opt-In: </strong><?= $this->newsletter_opt_in; ?></p>