<section class="hero acc-height acc-padding" data-top-top="background-position: 50% 5%;" data-top-bottom="background-position: 50% 55%;">
    <div class="video-wrap hidden-sm-down">
        <video autoplay muted loop>
            <source src="/video/itad.mp4" type="video/mp4">
        </video>
    </div>
    <div class="container full-height">
        <div class="row center v-center full-height">
            <div class="col-40 col-md-50 acc-full-width align-center">
                <heading text="IT Asset Disposition"></heading>
                <h1>Complete Electronic Lifecycle Solutions</h1>
            </div>
        </div>
    </div>
</section>
<section class="content content-black top">
    <div class="row v-center wrap-md">
        <div class="col-32 col-lg-28 col-md-50" animate-in window-multiplier=".73">
            <div class="inner content-inner acc-height acc-padding">
                <h2 class="regular animate animate-right">We Are IT Asset Disposition</h2>
                <p class="animate animate-right">Greenchip is a nationwide leading provider of IT Asset Disposition Services. We’re
                   the complete solution with New York City headquarters that coordinate our operations nationally, as well as our
                   regional partners and suppliers across the globe. We handle every step in the ITAD process including data destruction,
                   return on investment and end of life electronics recycling to protect your brand.</p>
                <p class="animate animate-right">We have expanded from a national ITAD provider to one of a global scope by leveraging a
                   partnership network of key IT asset solutions providers. We identify key regional providers that uphold our principles
                   to ensure we are able to offer the same high level of service across important global sectors. Our ITAD programs are
                   the easiest and most profitable way to manage your company's end of lifecycle electronics.</p>
                <div class="box relative" animate-in window-multiplier=".73">
                    <div class="heading">
                        <h2 class="space-top">Greenchip Value:</h2>
                    </div>
                    <ul>
                        <li>Online Partner Cloud Interface</li>
                        <li>Industry Highest Returns On Investment</li>
                        <li>Secure On-Site or In-House Data Destruction Services</li>
                        <li>Fully Auditable Asset Inventory Reports</li>
                        <li>Strictest Standards For Recycling With Tracking To End Of Lifecycle.</li>
                        <li>Full Downstream Accountability With Zero Landfill Policy</li>
                        <li>Meet Or Exceed DOD, NIST, HIPAA Standards For Data Sanitization</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-18 col-lg-22 col-md-50 images">
            <img src="/img/it-asset-disposition/grid-1.jpg" alt="">
            <img src="/img/it-asset-disposition/grid-2.jpg" alt="">
            <img src="/img/it-asset-disposition/grid-3.jpg" alt="">
        </div>
    </div>
</section>
<section class="content content-white charts acc-break-word"  data-bottom-top="background-position: 100% 0%;" data-top-bottom="background-position: 100% 100%;">
    <div class="container full-height">
        <div class="row space-between full-height align-center wrap-sm">
            <div class="col" animate-in window-multiplier=".78">
                <div class="content-inner">
                    <h1 class="animate animate-opacity">Greenchip ITAD Process</h1>
                    <div class="mobile-scroll animate animate-opacity">
                        <img class="chart" src="/img/it-asset-disposition/itad-process.svg" alt="Greenchip ITAD Process">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content content-black accordions" ng-controller="accordionsController" id="asset-purchasing">
    <div class="container">
        <div class="row center">
            <div class="col-free align-center">
                <h2 class="regular">The IT Asset Disposition &amp; Purchasing Process</h2>
            </div>
        </div>
        <div class="row space-between wrap-sm sm-center space-top buckets-row acc-wrap">
            <div class="col-22 col-md-24 col-sm-50 bucket"
                 id="bucket-1"
                 ng-class="{ active: accordions.active == 'data-security', inactive: accordions.active && accordions.active != 'data-security' }"
                 animate-in window-multiplier=".73">
                <div class="row v-center space-between wrap-xs acc-wrap-md bucket-wrap">
                    <div class="col-16 col-md-12 col-xs-50 full-height acc-full-width-md padding-right">
                        <img src="/img/it-asset-disposition/data-security.svg" alt="Data Security">
                    </div>
                    <div class="col-34 col-md-38 col-xs-50 full-height acc-full-width-md padding-left">
                        <div class="inner">
                            <h3>Data Security</h3>
                            <p>As the most important part of the disposition process it is crucial to have a trusted provider of secure data destruction services.</p>
                            <a ng-click="selectAccordion('data-security');">
                                <span ng-if="accordions.active == 'data-security'">Show Less</span>
                                <span ng-if="accordions.active != 'data-security'">Learn More</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="visible-sm-block-down acc-block-down-md">
                    <?= $this->render('application/it-asset-disposition/partials/data-security'); ?>
                </div>
            </div>
            <div class="col-22 col-md-24 col-sm-50 bucket"
                 id="bucket-2"
                 ng-class="{ active: accordions.active == 'roi', inactive: accordions.active && accordions.active != 'roi' }"
                 animate-in window-multiplier=".65">
                <div class="row v-center space-between wrap-xs acc-wrap-md bucket-wrap">
                    <div class="col-16 col-md-12 col-xs-50 full-height acc-full-width-md padding-right">
                        <img src="/img/it-asset-disposition/profit-sharing.svg" alt="ROI">
                    </div>
                    <div class="col-34 col-md-38 col-xs-50 full-height acc-full-width-md padding-left">
                        <div class="inner">
                            <h3>ROI</h3>
                            <p>Using our expertise we will assess your equipment’s market value and find the channel that will
                               maximize the highest possible return for you.</p>
                            <a ng-click="selectAccordion('roi');">
                                <span ng-if="accordions.active == 'roi'">Show Less</span>
                                <span ng-if="accordions.active != 'roi'">Learn More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden-sm-down acc-hidden-down-md">
        <?= $this->render('application/it-asset-disposition/partials/data-security'); ?>
    </div>
    <?= $this->render('application/it-asset-disposition/partials/roi'); ?>

    <div class="container">
        <div class="row space-between wrap-sm sm-center buckets-row acc-wrap">
            <div class="col-22 col-md-24 col-sm-50 bucket"
                 ng-class="{ active: accordions.active == 'compliant-recycling', inactive: accordions.active && accordions.active != 'compliant-recycling' }"
                 animate-in window-multiplier=".73">
                <div class="row v-center space-between wrap-xs acc-wrap-md bucket-wrap">
                    <div class="col-16 col-md-12 col-xs-50 full-height acc-full-width-md padding-right">
                        <img src="/img/home/high-quality-standards.svg" alt="Compliant Recycling">
                    </div>
                    <div class="col-34 col-md-38 col-xs-50 full-height acc-full-width-md padding-left">
                        <div class="inner">
                            <h3>Compliant Recycling</h3>
                            <p>With over 20 years of industry experience Greenchip is dedicated to responsible electronics recycling.</p>
                            <a ng-click="selectAccordion('compliant-recycling');">
                                <span ng-if="accordions.active == 'data-sanitation'">Show Less</span>
                                <span ng-if="accordions.active != 'data-sanitation'">Learn More</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="visible-sm-block-down acc-block-down-md">
                    <?= $this->render('application/it-asset-disposition/partials/compliant-recycling'); ?>
                </div>
            </div>
            <div class="col-22 col-md-24 col-sm-50 bucket"
                 ng-class="{ active: accordions.active == 'brand-protection', inactive: accordions.active && accordions.active != 'brand-protection' }"
                 animate-in window-multiplier=".65">
                <div class="row v-center space-between wrap-xs acc-wrap-md bucket-wrap">
                    <div class="col-16 col-md-12 col-xs-50 full-height acc-full-width-md padding-right">
                        <img class="brand-protection" src="/img/home/eye-for-detail.svg" alt="Brand Protection">
                    </div>
                    <div class="col-34 col-md-38 col-xs-50 full-height acc-full-width-md padding-left">
                        <div class="inner">
                            <h3>Brand Protection</h3>
                            <p>With ever growing laws governing the disposition of IT assets in the U.S. alone, it’s vital to have Greenchip as your ITAD partner.</p>
                            <a ng-click="selectAccordion('brand-protection');">
                                <span ng-if="accordions.active == 'brand-protection'">Show Less</span>
                                <span ng-if="accordions.active != 'brand-protection'">Learn More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden-sm-down acc-hidden-down-md">
        <?= $this->render('application/it-asset-disposition/partials/compliant-recycling'); ?>
    </div>
    <?= $this->render('application/it-asset-disposition/partials/brand-protection'); ?>

    <div class="container">
        <div class="row space-between wrap-sm sm-center buckets-row acc-wrap">
            <div class="col-22 col-md-24 col-sm-50 bucket"
                 ng-class="{ active: accordions.active == 'value-added-service', inactive: accordions.active && accordions.active != 'value-added-service' }"
                 animate-in window-multiplier=".73">
                <div class="row v-center space-between wrap-xs acc-wrap-md bucket-wrap">
                    <div class="col-16 col-md-12 col-xs-50 full-height acc-full-width-md padding-right">
                        <img src="/img/it-asset-disposition/asset-remarketing.svg" alt="Value Added Service">
                    </div>
                    <div class="col-34 col-md-38 col-xs-50 full-height acc-full-width-md padding-left">
                        <div class="inner">
                            <h3>Value Added Service</h3>
                            <p>Greenchip goes beyond the standard services of other providers with a full suite of incentive programs.</p>
                            <a ng-click="selectAccordion('value-added-service');">
                                <span ng-if="accordions.active == 'value-added-service'">Show Less</span>
                                <span ng-if="accordions.active != 'value-added-service'">Learn More</span>
                            </a>
                        </div>
                    </div>
                </div>
                <div class="visible-sm-block-down acc-block-down-md">
                    <?= $this->render('application/it-asset-disposition/partials/value-added-service'); ?>
                </div>
            </div>
            <div class="col-22 col-md-24 col-sm-50 bucket"
                 ng-class="{ active: accordions.active == 'logistics', inactive: accordions.active && accordions.active != 'logistics' }"
                 animate-in window-multiplier=".65">
                <div class="row v-center space-between wrap-xs acc-wrap-md bucket-wrap">
                    <div class="col-16 col-md-12 col-xs-50 full-height acc-full-width-md padding-right">
                        <img src="/img/it-asset-disposition/nationwide-logistics.svg" alt="Logistics">
                    </div>
                    <div class="col-34 col-md-38 col-xs-50 padding-left acc-full-width-md full-height border-left">
                        <div class="inner">
                            <h3>Logistics</h3>
                            <p>Greenchip can coordinate a pickup no matter where you are located.</p>
                            <a ng-click="selectAccordion('logistics');">
                                <span ng-if="accordions.active == 'logistics'">Show Less</span>
                                <span ng-if="accordions.active != 'logistics'">Learn More</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="hidden-sm-down acc-hidden-down-md">
        <?= $this->render('application/it-asset-disposition/partials/value-added-service'); ?>
    </div>
    <?= $this->render('application/it-asset-disposition/partials/logistics'); ?>



</section>
