<div class="panel list">
    <div class="row v-center">
        <div class="col">
            <h1>E-Waste Submissions ({{totalItems}})</h1>
        </div>
        <div class="col align-right">
            <button class="btn btn-new" ng-click="export()">Export</button>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <admin-loader loading="loading"></admin-loader>
            <table>
                <thead class="search">
                <tr>
                    <th colspan="50">
                        <admin-list-search search-object="search" search-form="listSearch" search-function="doSearch"></admin-list-search>
                    </th>
                </tr>
                </thead>
                <thead class="thead">
                <tr>
                    <th ng-click="setSortField('datetime_created')">Date/Time</th>
                    <th ng-click="setSortField('name')">Name</th>
                    <th ng-click="setSortField('email')">Email</th>
                    <th ng-click="setSortField('phone')">Phone</th>
                    <th ng-click="setSortField('location')">Location</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in data">
                    <td>{{item.datetime_created.$date.$numberLong | date }}</td>
                    <td>{{item.requiredServices.common.model.name }}</td>
                    <td>{{item.requiredServices.common.model.email }}</td>
                    <td>{{item.requiredServices.common.model.phone }}</td>
                    <td>
                        {{item.requiredServices.common.model.whereLocated }}
                    </td>
                    <td align="right"><button class="btn btn-edit" ng-click="editRecord(item._id.$oid)">View</button></td>
                </tr>
                <tr ng-if="!data.length && ! loading">
                    <td colspan="5">No data found</td>
                </tr>
                </tbody>
            </table>
            <div class="row space-between v-center">
                <div class="col-free">
                    <admin-list-page model="pageSizeModel" sizes="pageSizes"></admin-list-page>
                    <ul class="paginate" uib-pagination ng-if="(totalItems / pageSize) > 1" rotate="true" total-items="totalItems" max-size="10" items-per-page="pageSize" ng-model="currentPage" ng-change="pageChanged(this)"></ul>
                </div>
                <div class="col-free">

                </div>
            </div>
        </div>
    </div>
</div>
