<section class="hero acc-height acc-padding">
    <div class="video-wrap hidden-sm-down">
        <video autoplay muted loop>
            <source src="/video/e-waste.mp4" type="video/mp4">
        </video>
    </div>
    <div class="container full-height">
        <div class="row center v-center full-height">
            <div class="col-33 col-md-48 acc-full-width align-center">
                <heading text="Electronics Recycling"></heading>
                <h1>E-Waste Solutions for Every Industry</h1>
            </div>
        </div>
    </div>
</section>
<section class="content main content-black above-fixed-bar">
    <div class="container">
        <div class="row space-between md-center wrap-md v-center acc-wrap">
            <div class="col-28 col-md-48 acc-full-width content-inner-left" animate-in window-multiplier=".70">
                <h2 class="regular">Our Process</h2>
                <p>With over 20 years of industry experience Greenchip is dedicated to responsible electronics recycling.
                   We hold the industry leading certifications for electronics recycling and have OEM backing to subsidize
                   our cost of recycling. This allows us to utilize the most up to date recycling technology and a thoroughly
                   audited recycling partner network. This takes the burden off your shoulders knowing you will be free of
                   environmental liability from mismanaged electronic waste.</p>
                <p>At Greenchip any materials that enter our facility are subject to our strict material-tracking and security
                   protocols. We process all electronics down to the base commodity level within our R2V3 certified facilities
                   for greater chain of custody and complete control.  We have security driven processes to ensure all partner
                   data is destroyed. With a strict zero landfill policy we have a 100% diversion rate from the landfill. Once
                   recycling has been completed a certificate of recycling and data destruction is provided for your records.</p>
                <p class="bold italic">When it comes time to recycle your end of life electronics <a href="<?= $this->url('contact'); ?>">contact us</a>
                   for quick and easy removal.</p>
            </div>
            <div class="col-18 col-md-27 col-sm-38 col-xs-48 acc-full-width acc-margin box-wrap space-md-top">
                <div class="box" animate-in window-multiplier=".70">
                    <ul class="custom-dot">
                        <li>e-Stewards, R2V3, ISO 14001, ISO 45001, NAID AAA Certified</li>
                        <li>Full Compliance with all federal, state and local laws</li>
                        <li>Certificate of recycling and data destruction is provided for your records</li>
                        <li>Convenient Scheduling</li>
                        <li>No Landfill Policy</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
