<section class="content privacy-policy acc-break-word">
    <div class="container">
        <div class="row center">
            <div class="col-42 col-md-48">
                <h3>ENVIRONMENTAL, HEALTH, SAFETY and STEWARDSHIP POLICY</h3>
                <p>Green Chip, Inc. is committed to following the requirements of ISO 14001: 2015, ISO 45001:2018, R2V3: 2013 and
                   e-Stewards v4 Standards and to maintain conformance to the requirements of our EHSS management system.  We are
                   equally committed to meet or exceed our partner requirements, to continually improve our processes, to protect
                   the environment, prevent pollution and work place injuries, and to maintain compliance with relevant environmental,
                   Occupational Health and Safety and data security legislation and regulations. The goal of Green Chip, Inc.’s operation
                   is to have a positive impact on the environment through responsible recycling practices that includes the conservation
                   of metals, plastic and other non-renewable resources. Consistent with these core operations, it is Green Chip, Inc.’s
                   overall goal to accomplish our business objectives while meeting and exceeding the environmental, health, safety and
                   stewardship expectations of our management, employees, partners, suppliers and regulators.</p>
                <p>We will continually improve our systems while striving to minimize adverse impacts on the environment by managing used
                   and end-of-life electronic equipment, components and materials –with respect to both on-site activities and the selection
                   of downstream vendors - using a “reuse, recover, dispose” hierarchy of responsible management strategies.  We are committed
                   to manage Materials of Concern and Focus Materials throughout the recycling chain to final disposition with due diligence
                   to protect our environment, human health and safety, data security and social responsibility.</p>
                <h5>To achieve the above statement of this EHSS and other objectives, Green Chip, Inc. is committed to:</h5>
                <ul>
                    <li>Ensuring that these policies are appropriate to our operations and the potential environmental impacts and health and safety risks;</li>
                    <li>Complying with all relevant compliance obligations, including EHSS legal requirements, partner and product requirements, industry guidelines and any other EHSS commitments made by Green Chip, Inc.;</li>
                    <li>Striving for continual improvement;</li>
                    <li>Provide safe and healthy working conditions for the prevention of injury and ill health;</li>
                    <li>Eliminate hazards and reduce occupational health and safety risks;</li>
                    <li>Consultation and participation of workers, and where they exist, workers’ representatives; Providing the framework for establishing EHSS goals;</li>
                    <li>Increasing partner satisfaction;</li>
                    <li>Protecting the environment and prevention of pollution;</li>
                    <li>Protecting workers’ rights to a workplace free from harassment and discrimination.</li>
                    <li>Protecting workers’ rights to a workplace free from harmful pollutants and hazardous conditions.</li>
                    <li>Prevent Transboundary Movement of Materials of Concern (MOCs) in violation of relevant laws, treaties, agreements, and the e-Stewards Standard.</li>
                    <li>Prohibit the use of forced and child labor.</li>
                    <li>Restrict the use of Prison Operations in accordance with the e-Stewards Standard.</li>
                    <li>Restrict the disposal of MOCs/FMs in accordance with the e-Stewards and R2V3 Standards.</li>
                    <li>Ensuring that this system and policies are communicated and understood by all persons working for or on behalf of Green Chip, Inc.;</li>
                    <li>Making the EHSS policy available to the public; and</li>
                    <li>Ensuring that this EHSS policy is reviewed and amended, as necessary and appropriate.</li>
                </ul>
                <p>We recognize that the responsibility for protection of the environment, health & safety and stewardship are shared, requiring
                   cooperation between employees and top management.  Green Chip, Inc. will continually improve our environmental and stewardship
                   performance through responsible recycling practices. This will include setting goals, taking into consideration best practices,
                   business, financial, operational and compliance obligations as well as the views of interested parties.</p>
            </div>
        </div>
    </div>
</section>
