<div class="row">
    <div class="col-100">
        <admin-loader loading="loading"></admin-loader>
        <admin-loader loading="saving"></admin-loader>
        <form name="form.form" ng-submit="save()" ng-if="controllerReady" novalidate class="admin-form">
            <h1>E-Waste Form Submission</h1>

            <p><strong>Name: </strong><?= $this->{{entity.requiredServices.common.model.name}}</p>
            <p><strong>Email: </strong><?= $this->{{entity.requiredServices.common.model.email}}</p>
            <p><strong>Company: </strong><?= $this->{{entity.requiredServices.common.model.company}}</p>
            <p><strong>Phone: </strong><?= $this->{{entity.requiredServices.common.model.phone}}</p>


            <div ng-if="entity.requiredServices.common.model.whereLocated">
                <p><strong>Where is your facility located: </strong>{{entity.requiredServices.common.model.whereLocated}}</p>
                <p><strong>What is the floor number: </strong>{{entity.requiredServices.common.model.floorNumber}}</p>
            </div>

            <div ng-if="entity.requiredServices.ewaste.selected">
                <p><strong>Do you have an asset list of the equipment you are looking to dispose: </strong>{{entity.requiredServices.ewaste.model.haveAssetList}}</p>
                <div ng-if="entity.requiredServices.ewaste.model.haveAssetList === 'Yes'">
                    <p>
                        <strong>List of Uploaded Files</strong>
                        <span ng-repeat="file in entity.uploadedFiles" style="display: block;">
                            <a href="{{file}}" download target="_blank">{{file}}</a>
                        </span>
                    </p>
                </div>


                <div ng-if="entity.requiredServices.ewaste.model.haveAssetList === 'No'">
                    <p>
                        <strong>What E-Waste Do You Have:</strong>
                        <ul>
                            <li ng-repeat="item in entity.requiredServices.ewaste.model.providedList">
                                <strong>{{item.item}}</strong>: {{ item.quantity }}
                            </li>
                        </ul>
                    </p>
                </div>
                <p><strong>Do you need an auditable inventory report: </strong>{{entity.requiredServices.ewaste.model.needAuditableInventory}}</p>
                <p><strong>Is there a loading dock: </strong>{{entity.requiredServices.common.model.loadingDockElevator}}</p>
            </div>




            
            
            
            
            
            
            
            
            <div ng-if="entity.requiredServices.hardDrive.selected" >
                <p><strong>How Many Hard Drives Do You Have: </strong>{{entity.requiredServices.hardDrive.model.howManyDrives}}</p>
                <p><strong>Are The Hard Drives Loose or In CPU: </strong>{{entity.requiredServices.hardDrive.model.looseOrInCPU | normalizer}}</p>
                <div ng-if="entity.requiredServices.hardDrive.model.looseOrInCPU === 'loose'">
                    <p>
                        <strong>Would You Like Shredding On Site:</strong>
                        {{entity.requiredServices.hardDrive.model.shredOnsite | normalizer}}
                    </p>
                </div>
                <p>
                    <strong>Do you have anything additional for shredding? Tapes, CDs, etc.:</strong>
                    <span ng-if="!isString(entity.requiredServices.hardDrive.model.additionalShredding)">
                        <span style="display: block" ng-repeat="(prop, val) in entity.requiredServices.hardDrive.model.additionalShredding">
                            <strong>{{prop | normalizer}}:</strong>
                            {{entity.requiredServices.hardDrive.model.additionalShredding[prop]}}
                        </span>
                    </span>
                    <span ng-if="isString(entity.requiredServices.hardDrive.model.additionalShredding)">
                        {{entity.requiredServices.hardDrive.model.additionalShredding}}
                    </span>
                </p>
                <div ng-if="entity.requiredServices.hardDrive.model.looseOrInCPU === 'inCPU'">
                    <p>
                        <strong>Would you like us to recycle the computers with the drives inside:</strong>
                        {{entity.requiredServices.hardDrive.model.recycleWithDrivesInside}}
                    </p>
                </div>

                <div ng-if="entity.requiredServices.hardDrive.model.recycleWithDrivesInside">
                    <p>
                        <strong>What E-Waste Do You Have:</strong>
                        {{entity.requiredServices.hardDrive.model.providedList}}
                    </p>
                </div>
            </div>
            
            
            
            
            
            
            
            
            
            
            
            <div ng-if="entity.requiredServices.itad.selected">
            <p><strong>Do you have an asset list of the equipment you are looking to dispose: </strong>{{entity.requiredServices.itad.model.haveAssetList}}</p>
                <div  ng-if="entity.requiredServices.itad.model.haveAssetList === 'Yes'">
                    <p>
                        <strong>List of Uploaded Files</strong>
                        <span ng-repeat="file in entity.uploadedFiles" style="display: block">
                        <a href="{{file.url}}">{{file.name}}</a>
                        </span>
                    </p>
                </div>
            </div>

            <div class="admin-form-element">
                <button type="button" class="btn btn-white" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</div>
