@import '../../src/fonts';
@import '../../src/variables';
@import '../../src/mixins';
@import '../../src/form';
@import '../../src/hero';
@import '../../src/grid';
@import '../../src/box';
@import '../../partials/form-panel';
@import '../../partials/accordion';


$dir: 'greenchip-on-the-go';
$common: 'common';
$img-path: $base-img-path + $dir;
$common-img-path: $base-img-path + $common;

$bucket-height: 180px;

.hero {
  @include bgImage($img-path, 'hero.jpg');
  position: relative;
  overflow: hidden;
}

.top {
  ul {
    margin: 1rem 0 0;
    li {
      margin: 1rem 0;
      font-size: 1rem;
      @include FontBold();
      @include customListStyle(8px, 2px, transparent, $green-dk, 1.5rem, .375rem);
    }
  }
  .images {
    img:first-child {
      border-top: $grid-border-lg;
    }
    img {
      border-bottom: $grid-border-lg;
      width: 100%;
    }
  }
  .inner {
    position: relative;
    margin: 0 auto;
    width: 75%;
    max-width: 620px;
  }
  h4 {
    margin: 1.5rem 0 0;
  }
}

.news-button {
  width: 360px;
  padding: 20px;
  background: linear-gradient(#2a89d7, #045ea8);
  color: white;
  font-size: 20px;
  font-weight: 600;
  display: block;
  border-radius: 10px;
  border: 2px solid;
  border-color: #5fbcff #1a67a7 #024279 #3693df;
  margin: 30px 0px 50px 0px;
  font-family: "Montserrat", sans-serif;
  position: relative;
}

.news-button.light {
  box-shadow: 5px 5px 0px #d9d9d9;
}

.news-button.dark {
  box-shadow: 5px 5px 0px #cecece;
}

.news-heading {
  padding-top: 30px;
  height: fit-content;
  .align-center {
    h2 {
      font-size: 32px;
      font-weight: 400;
      margin-bottom: 0px;
    }
  }
}

.greenchip-on-the-go {
  padding-bottom: 4rem;
}

.greenchip-on-the-go-section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  .news-item {
    padding: 5px;
    margin: 10px;
    max-width: 456px;
    position: relative;
    z-index: 2;
    p {
      margin: 0px;
      font-size: 20px;
      line-height: 110%;
      color: #686868;
    }
    h3 {
      margin: 0px;
      color: black;
      font-weight: 600;
      font-size: 20px;
      margin-top: 10px;
      margin-bottom: 5px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    a {
      color: #3f9b42;
      font-weight: 400;
      font-size: 20px;
      font-family: "Montserrat", sans-serif;
      display: block;
    }
    img {
      width: 446px;
      position: relative;
    }
    .zoom {
      position: absolute;
      top: 5px;
      left: 5px;
      width: 40px;
      z-index: 3;
    }
    .zoom:hover {
      cursor: pointer;
    }
  }
}

#on-the-go-row-2 {
  .news-item {
    display: table;
    max-width: none;
    .row-caption {
      display: table-caption;
      caption-side: bottom;
    }
    h3 {
      margin-top: 0px;
      padding-left: 10px;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
    .article-image {
      width: unset;
      height: 298px;
    }
  }
}


.not-visible {
  visibility: hidden;
}

.make-visible {
  visibility: visible;
}

.light-box-container {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0,0,0,.8), rgba(0,0,0,.8));
  z-index: 80;
}

.light-box-close {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
}

#close-light-box-icon {
  height: 25px;
  margin: auto;
  padding-right: 10px;
}

#left-arrow {
  height: 40px;
  padding-right: 15px;
}

#right-arrow {
  height: 40px;
  padding-left: 15px;
}

#left-arrow:hover {
  cursor: pointer;
}

#right-arrow:hover {
  cursor: pointer;
}

.light-box-button {
  display: flex;
  align-items: center;
}

.light-box-buttons {
  display: flex;
}

.close-light-box {
  display: flex;
  align-items: center;
  background: transparent;
  color: #a4f347;
  font-weight: 800;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  margin-left: auto;
  padding-bottom: 10px;
  padding-right: 55px;
}

.close-light-box:hover {
  cursor: pointer;
}

.light-box {
  background: white;
  display: flex;
  flex-direction: column;
  img {
    padding: 20px 20px 0px 20px;
    max-height: 70vh;
    height: -moz-available;          /* WebKit-based browsers will ignore this. */
    height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
    height: fill-available;
    object-fit: contain;
  }
  p {
    padding: 20px 20px 0px 20px;
    font-size: 16px;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 20px;
  }
}

.newsroom-sections {
  .content {
    .container {
      margin-left: 0px;
      margin-right: 0px;
      width: 100%;
      padding: 0px 20px;
      .row {
        .align-center {
          p {
            font-size: 1rem;
            margin: 0px 0px 30px 0px;
            font-weight: 400;
          }
        }
      }
    }
  }
}

@media (min-width: 1921px) {
  .light-box {
    max-width: 24vw;
    img {
      max-width: 24vw;
    }
  }
}

@media (max-width: 1920px) {
  .light-box {
    max-width: 40vw;
    img {
      mox-width: 40vw;
    }
  }
}

@media (max-width: 1200px) {
  .light-box {
    max-width: 60vw;
    img {
      max-width: 60vw;
    }
  }
}

@media (max-width: 500px) {
  .light-box {
    max-width: 75vw;
    img {
      max-width: 75vw;
    }
  }
  .greenchip-on-the-go-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .news-item {
      padding: 10px;
      margin: 10px;
      max-width: 360px;
      p {
        margin: 0px;
        font-size: 20px;
        line-height: 110%;
        color: #686868;
      }
      h3 {
        margin: 0px;
        color: black;
        font-weight: 600;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
      }
      a {
        color: #3f9b42;
        font-weight: 400;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        display: block;
      }
      img {
        width: 336px;
      }
    }
  }
}

@media (max-width: 400px) {
  .light-box {
    max-width: 80vw;
    img {
      max-width: 80vw;
    }
  }
  .news-button {
    width: 300px;
    font-size: 16px;
    padding: 10px;
  }

  .greenchip-on-the-go-section {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .news-item {
      padding: 10px;
      margin: 10px;
      max-width: 310px;

      p {
        margin: 0px;
        font-size: 20px;
        line-height: 110%;
        color: #686868;
      }
      h3 {
        margin: 0px;
        color: black;
        font-weight: 600;
        font-size: 20px;
        margin-top: 10px;
        margin-bottom: 5px;
      }
      a {
        color: #3f9b42;
        font-weight: 400;
        font-size: 20px;
        font-family: "Montserrat", sans-serif;
        display: block;
      }
      img {
        width: 286px;
      }
    }
  }
}

@include mqRange(md, lg) {
  .top {
    .inner {
      width: 90%;
      p {
        font-size: .9rem;
      }
    }
  }
}

@include mq(md) {
  .top {
    .inner {
      padding: $section-padding-lg 0;
    }
  }
}

@include mq(sm) {
  .top {
    .inner {
      width: 95%;
    }
    .images {
      img {
        border-bottom: $grid-border;
      }
    }
  }
}