@import '../../src/fonts';
@import '../../src/variables';
@import '../../src/mixins';
@import '../../src/form';
@import '../../src/hero';
@import '../municipality/index';



$dir: 'oem';
$img-path: $base-img-path + $dir;


.hero {
  overflow: hidden;
  position: relative;
  @include bgImage($img-path, 'hero.jpg');
  .video {
    background: $black;
    top: 50%;
    left: 50%;
    @include transform(translate3d(-50%, -50%, 0));
    margin: auto;
    position: absolute;
    width: 100%;
    z-index: 1;
    video {
      width: 100%;
      opacity: .43;
    }
  }
  .container {
    position: relative;
    z-index: 2;
  }
}

.top {
  img.icon {
    width: 125px;
  }
}

@include mq(md) {
  .hero {
    .video {
      video {
        top: 50%;
        left: 50%;
        position: absolute;
        @include transform(translate3d(-50%, -50%, 0));
        width: 1050px;
        height: 590px;
      }
    }
  }
}
