<div class="hero-wrap acc-height">
    <section class="hero home-hero acc-height acc-padding">
        <div class="video-wrap hidden-sm-down">
            <video autoplay muted loop>
                <source src="/video/home.mp4" type="video/mp4">
            </video>
        </div>
        <div class="container full-height">
            <div class="row full-height space-between md-center v-center acc-wrap">
                <div class="col-24 col-md-36 col-sm-48 align-md-center acc-full-width acc-margin">
                    <h1>Your Complete ITAD and Electronic Waste Solution</h1>
                    <h2><span>Competitive, </span><span>Transparent, </span><span>Customer Focused.</span></h2>
                </div>
                <div class="col-22 panel-wrap active hidden-md-down acc-full-width acc-margin" ng-controller="panelController">
                    <?= $this->render('layout/partials/form-panel'); ?>
                </div>
            </div>
        </div>
        <div class="tab" toggle-active=".panel-wrap, .tab">
            <h3>Quick Contact</h3>
        </div>
    </section>
</div>
<div class="visible-md-block-down mobile-quick-form" ng-controller="panelController">
    <div class="container">
        <div class="row center">
            <div class="col-md-36 col-sm-48">
                <?= $this->render('layout/partials/form-mobile'); ?>
            </div>
        </div>
    </div>
</div>
<section class="content content-white top acc-padding acc-height"
         animate-in
         window-multiplier=".73"
         id="why-greenchip"
         data-bottom-center="background-position: 50% 0%;"
         data-top-bottom="background-position: 50% 80%;">
    <div class="container full-height">
        <div class="row full-height center v-center">
            <div class="col-33 col-md-48 align-center content-inner">
                <p class="large animate-in animate-opacity">Greenchip is a nationwide leading provider of IT Asset Disposition &
                    Management Services including global ITAD capabilities and advanced partner network. Our ITAD and Electronic
                    Waste Recycling programs are the easiest and most profitable way to manage your company's end of lifecycle
                    electronics. Contact us today to learn more about our programs.</p>
                <i class="fa fa-chevron-down green animate-in animate-opacity"></i>
            </div>
        </div>
    </div>
</section>
<section class="content content-black specialists acc-break-word" id="itad">
    <div class="container">
        <div class="row" animate-in window-multiplier=".84">
            <div class="col align-center content-inner">
                <h1 class="animate-in animate-opacity">Why We Are the Leading ITAD Specialists</h1>
                <h2 class="animate-in animate-opacity">Our Partners Are Our Focus</h2>
            </div>
        </div>
        <div class="row wrap space-top less-space-sm-top space-around md-space-between sm-center buckets">
            <div class="bucket col-24 col-sm-38 col-xs-48" animate-in window-multiplier=".73">
                <div class="row space-between wrap-sm acc-wrap-md">
                    <div class="col-15 col-md-10 col-sm-50 acc-full-width-md">
                        <img src="/img/home/maximum-brand-protection.svg" alt="Brand Protection">
                    </div>
                    <div class="col-35 col-md-37 col-sm-50 acc-full-width-md">
                        <div class="bucket-text">
                            <h3>Brand Protection</h3>
                            <p>Greenchip data destruction is multi compliant with information security regulations and destroys
                                the risk of having a data breach. Our thoroughly audited recycling network eliminates all
                                possibility of environmental liability from mismanaged electronic waste.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bucket col-24 col-sm-38 col-xs-48" animate-in window-multiplier=".65">
                <div class="row space-between wrap-sm acc-wrap-md">
                    <div class="col-15 col-md-10 col-sm-50 acc-full-width-md">
                        <img src="/img/home/cloud-portal.svg" alt="Partner Cloud Portal">
                    </div>
                    <div class="col-35 col-md-37 col-sm-50 acc-full-width-md">
                        <div class="bucket-text">
                            <h3>Partner Cloud Portal</h3>
                            <p>Our portal provides our partners with a cloud-based solution to track service offerings,
                                IT assets, and reporting in real time for complete transparency.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bucket col-24 col-sm-38 col-xs-48" animate-in window-multiplier=".73">
                <div class="row space-between wrap-sm acc-wrap-md">
                    <div class="col-15 col-md-10 col-sm-50 acc-full-width-md">
                        <img src="/img/home/great-value.svg" alt="ROI">
                    </div>
                    <div class="col-35 col-md-37 col-sm-50 acc-full-width-md">
                        <div class="bucket-text">
                            <h3>Return on Investment (ROI)</h3>
                            <p>With direct access to primary resale markets and through our in-house refurbishing process
                                we are able to eliminate the middleman and offer the highest rates paid on your remarketable assets.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bucket col-24 col-sm-38 col-xs-48" animate-in window-multiplier=".65">
                <div class="row space-between wrap-sm acc-wrap-md">
                    <div class="col-15 col-md-10 col-sm-50 acc-full-width-md">
                        <img src="/img/home/service-excellence.svg" alt="Service Excellence">
                    </div>
                    <div class="col-35 col-md-37 col-sm-50 acc-full-width-md">
                        <div class="bucket-text">
                            <h3>Service Excellence</h3>
                            <p>Dedicated single point of contact assigned to every partner to ensure highest quality service.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bucket col-24 col-sm-38 col-xs-48" animate-in window-multiplier=".73">
                <div class="row space-between wrap-sm acc-wrap-md">
                    <div class="col-15 col-md-10 col-sm-50 acc-full-width-md">
                        <img src="/img/home/global-network.svg" alt="Global Network">
                    </div>
                    <div class="col-35 col-md-37 col-sm-50 acc-full-width-md">
                        <div class="bucket-text">
                            <h3>Global Network</h3>
                            <p>We have expanded from a national ITAD provider to one of a global scope by leveraging a partnership network
                                of key IT asset solutions providers. We identify key regional providers that uphold our principles to
                                ensure we are able to offer the same high level of service across important global sectors.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bucket col-24 col-sm-38 col-xs-48" animate-in window-multiplier=".65">
                <div class="row space-between wrap-sm acc-wrap-md">
                    <div class="col-15 col-md-10 col-sm-50 acc-full-width-md">
                        <img src="/img/home/closed-loop.svg" alt="Closed Loop Solution">
                    </div>
                    <div class="col-35 col-md-37 col-sm-50 acc-full-width-md">
                        <div class="bucket-text">
                            <h3>Closed-Loop Solution</h3>
                            <p>We handle every step in the ITAD process so our partners can be certain the job will be performed
                                correctly. Our in-house refurbishing, demanufacturing and logistics allow us to have greater
                                chain of custody and reduce liability.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bucket col-24 col-sm-38 col-xs-48" animate-in window-multiplier=".73">
                <div class="row space-between wrap-sm acc-wrap-md">
                    <div class="col-15 col-md-10 col-sm-50 acc-full-width-md">
                        <img src="/img/home/high-quality-standards.svg" alt="High-Quality Standards">
                    </div>
                    <div class="col-35 col-md-37 col-sm-50 acc-full-width-md">
                        <div class="bucket-text">
                            <h3>Standards</h3>
                            <p>We are an ISO 14001, R2V3, &amp; ISO 45001 Certified Electronics Recycler.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bucket col-24 col-sm-38 col-xs-48" animate-in window-multiplier=".65">
                <div class="row space-between wrap-sm acc-wrap-md">
                    <div class="col-15 col-md-10 col-sm-50 acc-full-width-md">
                        <img src="/img/home/eco-conscious.svg" alt="Eco-Conscious">
                    </div>
                    <div class="col-35 col-md-37 col-sm-50 acc-full-width-md">
                        <div class="bucket-text">
                            <h3>Eco-Conscious</h3>
                            <p>We help our partners meet their sustainability goals everyday by implementing our strict zero
                                landfill policy. This ensures that no electronic waste will enter the landfill and be completely recycled.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content content-white grid acc-break-word" data-bottom-top="background-position: 50% 0%;" data-top-bottom="background-position: 50% 80%;">
    <div class="container">
        <div class="row v-center center">
            <div class="col-34 col-sm-50 acc-full-width align-center" animate-in window-multiplier=".73">
                <div class="content-inner inner">
                    <h1 class="animate animate-right">Experts In Identifying Your Needs</h1>
                    <h2 class="animate animate-right">Custom Built Programs For Every Partner.</h2>
                    <p class="large animate animate-right">We understand your time is important, so let our expert consultants identify
                        your pain points. We will tailor build a scalable solution to meet your current and future electronic lifecycle
                        requirements. Speed and efficiency is the new standard in end of lifecycle electronics recycling. </p>
                    <i class="fa fa-chevron-down green animate animate-opacity"></i>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="content content-black bottom acc-break-word above-fixed-bar">
    <div class="container">
        <div class="row center" animate-in window-multiplier=".73">
            <div class="col-40 col-md-50 content-inner">
                <h1 class="align-center animate animate-opacity">Industries We Serve</h1>
                <div class="row center space-top wrap-sm">
                    <div class="col-free col-sm-50">
                        <ul class="list-left">
                            <li>Healthcare</li>
                            <li>Financial</li>
                            <li>Corporate</li>
                            <li>Small to Large Businesses</li>
                        </ul>
                    </div>
                    <div class="col-free offset-5 col-sm-50 sm-offset-0">
                        <ul class="list-right">
                            <li>Education</li>
                            <li>Government</li>
                            <li>Municipalities</li>
                            <li>Original Equipment<br>Manufacturers</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
