<div class="newsroom-sections">
    <section class="hero acc-height acc-padding" data-top-top="background-position: 50% 5%;" data-top-bottom="background-position: 50% 55%;">
        <div class="video-wrap hidden-sm-down">
            <video autoplay muted loop>
                <source src="/video/itad.mp4" type="video/mp4">
            </video>
        </div>
        <div class="container full-height">
            <div class="row center v-center full-height">
                <div class="col-40 col-md-50 acc-full-width align-center">
                    <heading text="Newsroom"></heading>
                    <h1>Industry News</h1>
                </div>
            </div>
        </div>
    </section>
    <section class="content content-black top">
        <div class="container">
            <div class="row center news-heading">
                <div class="col-free align-center">
                    <h2 class="regular" style="height: fit-content;">Featured Articles</h2>
                </div>
            </div>
            <div class="row center">
                <div class="col-free align-center">
                    <p>We've handpicked insightful articles on the latest happenings in the industry.</p>
                </div>
            </div>
            <div class="industry-news-section">
                <div class="news-item">
                    <img src="/img/newsroom/industry-news-1.png" alt="industry news 1"/>
                    <h3>Processor improves CRT glass recycling capabilities</h3>
                    <p>PUBLISHED BY <b>E-SCRAP NEWS</b></p>
                    <p>JUNE 7, 2023</p>
                    <a href="https://resource-recycling.com/e-scrap/2023/06/07/processor-improves-crt-glass-recycling-capabilities/" target="_blank">Read More</a>
                </div>
                <div class="news-item">
                    <img src="/img/newsroom/industry-news-2.png" alt="industry news 2"/>
                    <h3>News from ER2, Greenchip and more</h3>
                    <p>PUBLISHED BY <b>E-SCRAP NEWS</b></p>
                    <p>MAY 10, 2023</p>
                    <a href="https://resource-recycling.com/e-scrap/2023/05/10/news-from-er2-greenchip-and-more/" target="_blank">Read More</a>
                </div>
                <div class="news-item">
                    <img src="/img/newsroom/industry-news-3.png" alt="industry news 3"/>
                    <h3>Timeline: The collapse of a colossal CRT downstream</h3>
                    <p>PUBLISHED BY <b>E-SCRAP NEWS</b></p>
                    <p>JANUARY 31, 2023</p>
                    <a href="https://resource-recycling.com/e-scrap/2023/01/19/timeline-the-collapse-of-a-colossal-crt-downstream/" target="_blank">Read More</a>
                </div>
                <div class="news-item">
                    <img src="/img/industry-news/industry-news-4.png" alt="industry news 4"/>
                    <h3>Cleaning Up Electronic Waste (E-Waste)</h3>
                    <p>PUBLISHED BY <b>EPA</b></p>
                    <p>NOVEMBER 15, 2022</p>
                    <a href="https://www.epa.gov/international-cooperation/cleaning-electronic-waste-e-waste" target="_blank">Read More</a>
                </div>
                <div class="news-item">
                    <img src="/img/industry-news/industry-news-5.png" alt="industry news 5"/>
                    <h3>Details emerge on scope of Closed Loop CRT cleanup</h3>
                    <p>PUBLISHED BY <b>E-SCRAP NEWS</b></p>
                    <p>JUNE 5, 2020</p>
                    <a href="https://resource-recycling.com/e-scrap/2020/05/14/details-emerge-on-scope-of-closed-loop-crt-cleanup/" target="_blank">Read More</a>
                </div>
            </div>
            <div class="row center last-row">
                <div class="col-free align-center">
                    <a href="/newsroom" class="news-button dark">Back To Newsroom</a>
                </div>
            </div>
        </div>
    </section>
</div>
